<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_9_angle_thumbnail_overlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{111,49}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,59},{111,49}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_9_angle_th.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65601942b4b2f9d19e07e5fb1b68993d$</string>
            <key>textureFileName</key>
            <string>carasset_9_angle_th.png</string>
        </dict>
    </dict>
</plist>
