<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>carasset_98_iso_overlay_front</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{89,74}}</string>
			<key>offset</key>
			<string>{-1,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{59,56},{89,74}}</string>
			<key>sourceSize</key>
			<string>{209,154}</string>
		</dict>
		<key>carasset_98_iso_overlay_front_mirror</key>
		<dict>
			<key>frame</key>
			<string>{{92,1},{89,74}}</string>
			<key>offset</key>
			<string>{-4,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,55},{89,74}}</string>
			<key>sourceSize</key>
			<string>{209,154}</string>
		</dict>
		<key>carasset_98_iso_overlay_rear</key>
		<dict>
			<key>frame</key>
			<string>{{1,77},{91,56}}</string>
			<key>offset</key>
			<string>{-1,-30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58,79},{91,56}}</string>
			<key>sourceSize</key>
			<string>{209,154}</string>
		</dict>
		<key>carasset_98_iso_overlay_rear_mirror</key>
		<dict>
			<key>frame</key>
			<string>{{94,77},{89,56}}</string>
			<key>offset</key>
			<string>{-5,-31}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{55,80},{89,56}}</string>
			<key>sourceSize</key>
			<string>{209,154}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>carasset_98_iso-hd.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:840abce0a051076646ffda30dd0a7767$</string>
		<key>textureFileName</key>
		<string>carasset_98_iso-hd.png</string>
	</dict>
</dict>
</plist>
