<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_50_angle_overlay</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{248,119}}</string>
                <key>offset</key>
                <string>{-14,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,119},{248,119}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_50_angle.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54af2977b6cae650143ca0a805445dc8$</string>
            <key>textureFileName</key>
            <string>carasset_50_angle.png</string>
        </dict>
    </dict>
</plist>
