<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_43_angle_overlay</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{439,276}}</string>
                <key>offset</key>
                <string>{-8,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,214},{439,276}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_43_angle-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96418c4ab6c6c7e2d0505338b8b47327$</string>
            <key>textureFileName</key>
            <string>carasset_43_angle-hd.png</string>
        </dict>
    </dict>
</plist>
