<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_18_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,108},{392,172}}</string>
                <key>offset</key>
                <string>{6.5,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,350},{392,172}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_18_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{416,100}}</string>
                <key>offset</key>
                <string>{2.5,-189}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,452},{416,100}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_18_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{424,4},{172,78}}</string>
                <key>offset</key>
                <string>{3.5,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,152},{172,78}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_18_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{180,222},{178,44}}</string>
                <key>offset</key>
                <string>{2.5,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,198},{178,44}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_18_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{404,252},{102,50}}</string>
                <key>offset</key>
                <string>{-27.5,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,174},{102,50}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_18_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{180,108},{230,110}}</string>
                <key>offset</key>
                <string>{-62.5,-142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,400},{230,110}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_18_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{414,180},{94,68}}</string>
                <key>offset</key>
                <string>{0.5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,68},{94,68}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_18_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{394,306},{92,52}}</string>
                <key>offset</key>
                <string>{-2.5,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,78},{92,52}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_18_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{180,270},{116,70}}</string>
                <key>offset</key>
                <string>{-0.5,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,80},{116,70}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_18_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{300,270},{110,56}}</string>
                <key>offset</key>
                <string>{-3.5,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,88},{110,56}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_18_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{362,222},{52,38}}</string>
                <key>offset</key>
                <string>{19.5,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,90},{52,38}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_18_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{360,278},{50,30}}</string>
                <key>offset</key>
                <string>{14.5,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,96},{50,30}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_18_alpha-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81a4091e3479b48071b8d6044a59c496$</string>
            <key>textureFileName</key>
            <string>carasset_18_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
