<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_55_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{216,134}}</string>
                <key>offset</key>
                <string>{-1,-27.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,117},{216,134}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_55_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{237,56}}</string>
                <key>offset</key>
                <string>{-0.5,-93.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,222},{237,56}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_55_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{138,237},{95,59}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,51},{95,59}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_55_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{220,149},{102,25}}</string>
                <key>offset</key>
                <string>{-0.5,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,97},{102,25}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_55_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{199,298},{59,22}}</string>
                <key>offset</key>
                <string>{-15,-26.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,84},{59,22}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_55_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{134,48}}</string>
                <key>offset</key>
                <string>{-33,-60.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,193},{134,48}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_55_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{199,253},{50,43}}</string>
                <key>offset</key>
                <string>{-1.5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{50,43}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_55_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{220,60},{50,34}}</string>
                <key>offset</key>
                <string>{-1.5,-8.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,30},{50,34}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_55_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{138,196},{67,39}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,38},{67,39}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_55_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{138,196},{67,39}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,38},{67,39}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_55_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{220,130},{28,17}}</string>
                <key>offset</key>
                <string>{7.5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,48},{28,17}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_55_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{220,112},{29,16}}</string>
                <key>offset</key>
                <string>{9,-16.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,47},{29,16}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_55_alpha.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d422150f34a1ce6b5b3bd07a5044c597$</string>
            <key>textureFileName</key>
            <string>carasset_55_alpha.png</string>
        </dict>
    </dict>
</plist>
