<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_21_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,122},{420,186}}</string>
                <key>offset</key>
                <string>{4.5,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,338},{420,186}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_21_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{486,114}}</string>
                <key>offset</key>
                <string>{3.5,-190}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,446},{486,114}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_21_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,428},{186,84}}</string>
                <key>offset</key>
                <string>{2.5,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,146},{186,84}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_21_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{272,402},{210,52}}</string>
                <key>offset</key>
                <string>{0.5,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,194},{210,52}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_21_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{194,428},{116,48}}</string>
                <key>offset</key>
                <string>{-30.5,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,174},{116,48}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_21_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{4,312},{264,112}}</string>
                <key>offset</key>
                <string>{-69.5,-139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,396},{264,112}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_21_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{428,176},{100,74}}</string>
                <key>offset</key>
                <string>{3.5,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,62},{100,74}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_21_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{272,312},{100,62}}</string>
                <key>offset</key>
                <string>{-2.5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,72},{100,62}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_21_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{428,280},{118,68}}</string>
                <key>offset</key>
                <string>{4.5,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,84},{118,68}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_21_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{428,280},{118,68}}</string>
                <key>offset</key>
                <string>{4.5,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,84},{118,68}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_21_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{428,122},{78,50}}</string>
                <key>offset</key>
                <string>{14.5,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,86},{78,50}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_21_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{4,516},{94,36}}</string>
                <key>offset</key>
                <string>{-1.5,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,96},{94,36}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_21_alpha-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f77b8d4ae3b893165fdd9fc922d275b$</string>
            <key>textureFileName</key>
            <string>carasset_21_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
