<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_26_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{52,57},{199,88}}</string>
                <key>offset</key>
                <string>{-5.5,-62.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,175},{199,88}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_26_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,53}}</string>
                <key>offset</key>
                <string>{-7,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,223},{218,53}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_26_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{78,147},{88,38}}</string>
                <key>offset</key>
                <string>{-2.5,-27.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,77},{88,38}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_26_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{52,147},{95,24}}</string>
                <key>offset</key>
                <string>{-3,-40.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,97},{95,24}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_26_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{118,147},{85,21}}</string>
                <key>offset</key>
                <string>{-2,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,91},{85,21}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_26_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{192,48}}</string>
                <key>offset</key>
                <string>{-3,-75.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,208},{192,48}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_26_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{165,205},{47,33}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,36},{47,33}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_26_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{48,30}}</string>
                <key>offset</key>
                <string>{-1.5,-14.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,38},{48,30}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_26_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{141,147},{56,34}}</string>
                <key>offset</key>
                <string>{-0.5,-19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,41},{56,34}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_26_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{141,147},{56,34}}</string>
                <key>offset</key>
                <string>{-0.5,-19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,41},{56,34}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_26_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{118,234},{45,19}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,47},{45,19}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_26_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{200,147},{45,18}}</string>
                <key>offset</key>
                <string>{-1,-18.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,48},{45,18}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_26_alpha.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f7221cdb7aadebbe6a7b036bbc24f61$</string>
            <key>textureFileName</key>
            <string>carasset_26_alpha.png</string>
        </dict>
    </dict>
</plist>
