<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_23_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{193,92}}</string>
                <key>offset</key>
                <string>{-0.5,-53.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,164},{193,92}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_23_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{219,53}}</string>
                <key>offset</key>
                <string>{1.5,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,222},{219,53}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_23_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{211,67},{85,40}}</string>
                <key>offset</key>
                <string>{0,-23.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,72},{85,40}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_23_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{96,154},{95,22}}</string>
                <key>offset</key>
                <string>{1,-40.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,98},{95,22}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_23_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{120,183},{50,24}}</string>
                <key>offset</key>
                <string>{-14.5,-30.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,87},{50,24}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_23_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{96,57},{113,52}}</string>
                <key>offset</key>
                <string>{-33.5,-69.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,200},{113,52}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_23_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{96,111},{47,35}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{47,35}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_23_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{46,27}}</string>
                <key>offset</key>
                <string>{-0.5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,36},{46,27}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_23_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{145,111},{61,34}}</string>
                <key>offset</key>
                <string>{0,-18.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,40},{61,34}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_23_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{145,147},{58,34}}</string>
                <key>offset</key>
                <string>{0.5,-18.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,40},{58,34}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_23_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{120,148},{24,16}}</string>
                <key>offset</key>
                <string>{9.5,-17.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,48},{24,16}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_23_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{223,50},{25,15}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,47},{25,15}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_23_alpha.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ed0ac40a880017c3ae0d8010d5272f2$</string>
            <key>textureFileName</key>
            <string>carasset_23_alpha.png</string>
        </dict>
    </dict>
</plist>
