<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_41_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,94}}</string>
                <key>offset</key>
                <string>{1,-42.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,152},{208,94}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_41_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{228,53}}</string>
                <key>offset</key>
                <string>{-3,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,220},{228,53}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_41_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{91,42}}</string>
                <key>offset</key>
                <string>{0,-18.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,66},{91,42}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_41_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{199,153},{98,24}}</string>
                <key>offset</key>
                <string>{-0.5,-39.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,96},{98,24}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_41_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{225,153},{86,23}}</string>
                <key>offset</key>
                <string>{0.5,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,85},{86,23}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_41_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{195,52}}</string>
                <key>offset</key>
                <string>{2.5,-62.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,193},{195,52}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_41_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{121,207},{49,36}}</string>
                <key>offset</key>
                <string>{-2,-11.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,32},{49,36}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_41_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{69,207},{50,30}}</string>
                <key>offset</key>
                <string>{-2.5,-11.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,35},{50,30}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_41_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{65,38}}</string>
                <key>offset</key>
                <string>{0,-19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,39},{65,38}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_41_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{65,38}}</string>
                <key>offset</key>
                <string>{0,-19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,39},{65,38}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_41_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{232,95},{33,17}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,46},{33,17}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_41_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{172,207},{31,13}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,49},{31,13}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_41_alpha.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e381a5ff3a875417aedc7b42dfdf160$</string>
            <key>textureFileName</key>
            <string>carasset_41_alpha.png</string>
        </dict>
    </dict>
</plist>
