<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_145_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{215,115}}</string>
                <key>offset</key>
                <string>{-10.5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,142},{215,115}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_145_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,57}}</string>
                <key>offset</key>
                <string>{-7,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,220},{242,57}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_145_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{133,205},{94,51}}</string>
                <key>offset</key>
                <string>{-4.5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,62},{94,51}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_145_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{133,179},{103,24}}</string>
                <key>offset</key>
                <string>{-2,-40.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,97},{103,24}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_145_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{62,242},{57,28}}</string>
                <key>offset</key>
                <string>{-16,-29.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,84},{57,28}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_145_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{129,62}}</string>
                <key>offset</key>
                <string>{-37.5,-67.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,193},{129,62}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_145_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{121,258},{51,44}}</string>
                <key>offset</key>
                <string>{0,-7.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{51,44}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_145_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{219,126},{51,35}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,33},{51,35}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_145_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{58,32}}</string>
                <key>offset</key>
                <string>{0.5,-21.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,44},{58,32}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_145_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{219,61},{63,35}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,42},{63,35}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_145_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{229,236},{27,19}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,49},{27,19}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_145_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{229,205},{29,21}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,47},{29,21}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_145_alpha.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84f038b61c18a6585a503d789b2f1181$</string>
            <key>textureFileName</key>
            <string>carasset_145_alpha.png</string>
        </dict>
    </dict>
</plist>
