<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_93_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,114},{384,180}}</string>
                <key>offset</key>
                <string>{-1.5,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,332},{384,180}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_93_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{442,106}}</string>
                <key>offset</key>
                <string>{-0.5,-186}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,446},{442,106}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_93_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{188,284},{170,78}}</string>
                <key>offset</key>
                <string>{-1.5,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,146},{170,78}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_93_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{188,234},{190,46}}</string>
                <key>offset</key>
                <string>{0.5,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,194},{190,46}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_93_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{382,234},{108,50}}</string>
                <key>offset</key>
                <string>{-26.5,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,172},{108,50}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_93_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{188,114},{244,116}}</string>
                <key>offset</key>
                <string>{-61.5,-137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,392},{244,116}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_93_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{436,144},{92,72}}</string>
                <key>offset</key>
                <string>{1.5,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,64},{92,72}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_93_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{450,4},{92,58}}</string>
                <key>offset</key>
                <string>{-0.5,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,76},{92,58}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_93_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{436,240},{110,62}}</string>
                <key>offset</key>
                <string>{0.5,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,88},{110,62}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_93_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{362,346},{108,62}}</string>
                <key>offset</key>
                <string>{1.5,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,88},{108,62}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_93_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{450,100},{54,40}}</string>
                <key>offset</key>
                <string>{18.5,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,94},{54,40}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_93_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{188,458},{52,38}}</string>
                <key>offset</key>
                <string>{17.5,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,96},{52,38}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_93_alpha-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc42d3f20673d809b2c73cac91897cc2$</string>
            <key>textureFileName</key>
            <string>carasset_93_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
