<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_164_angle_overlay</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{212,143}}</string>
                <key>offset</key>
                <string>{-10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,113},{212,143}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_164_angle.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0745a89b3a6af8f14bd364f2a16f67c$</string>
            <key>textureFileName</key>
            <string>carasset_164_angle.png</string>
        </dict>
    </dict>
</plist>
