<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_83_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{192,100}}</string>
                <key>offset</key>
                <string>{8.5,-163}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,426},{192,100}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_83_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{248,12},{4,2}}</string>
                <key>offset</key>
                <string>{-1.5,-162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,474},{4,2}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_83_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{200,4},{84,44}}</string>
                <key>offset</key>
                <string>{3.5,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,186},{84,44}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_83_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{248,24},{2,4}}</string>
                <key>offset</key>
                <string>{0.5,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,206},{2,4}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_83_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{248,30},{2,2}}</string>
                <key>offset</key>
                <string>{0.5,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,206},{2,2}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_83_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{248,4},{4,4}}</string>
                <key>offset</key>
                <string>{-1.5,-161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,472},{4,4}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_83_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{4,226},{12,12}}</string>
                <key>offset</key>
                <string>{-0.5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,92},{12,12}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_83_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{4,226},{12,12}}</string>
                <key>offset</key>
                <string>{-0.5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,92},{12,12}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_83_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{4,108},{114,68}}</string>
                <key>offset</key>
                <string>{2.5,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,82},{114,68}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_83_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{4,108},{114,68}}</string>
                <key>offset</key>
                <string>{2.5,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,82},{114,68}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_83_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{248,18},{2,4}}</string>
                <key>offset</key>
                <string>{2.5,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,96},{2,4}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_83_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{248,18},{2,4}}</string>
                <key>offset</key>
                <string>{2.5,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,96},{2,4}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_83_alpha-hd.pvr</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c8c50779bd25d02b29481bd1601c8b3$</string>
            <key>textureFileName</key>
            <string>carasset_83_alpha-hd.pvr</string>
        </dict>
    </dict>
</plist>
