<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_77_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,138},{370,188}}</string>
                <key>offset</key>
                <string>{-2.5,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,322},{370,188}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_77_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{410,98}}</string>
                <key>offset</key>
                <string>{-16.5,-190}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,454},{410,98}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_77_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{196,154},{162,84}}</string>
                <key>offset</key>
                <string>{-1.5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,140},{162,84}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_77_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{196,106},{178,44}}</string>
                <key>offset</key>
                <string>{-7.5,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,198},{178,44}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_77_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{362,196},{102,42}}</string>
                <key>offset</key>
                <string>{-27.5,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,180},{102,42}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_77_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{416,138},{234,92}}</string>
                <key>offset</key>
                <string>{-66.5,-147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,414},{234,92}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_77_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{418,4},{88,68}}</string>
                <key>offset</key>
                <string>{-0.5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,62},{88,68}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_77_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{418,76},{88,58}}</string>
                <key>offset</key>
                <string>{-2.5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,72},{88,58}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_77_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{196,302},{104,56}}</string>
                <key>offset</key>
                <string>{1.5,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,88},{104,56}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_77_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{196,376},{104,56}}</string>
                <key>offset</key>
                <string>{-0.5,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,88},{104,56}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_77_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{378,106},{52,34}}</string>
                <key>offset</key>
                <string>{17.5,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,94},{52,34}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_77_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{362,162},{50,30}}</string>
                <key>offset</key>
                <string>{14.5,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,96},{50,30}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_77_alpha-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d639e77ed37fcd41e036599195b5b26b$</string>
            <key>textureFileName</key>
            <string>carasset_77_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
