<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_69_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{102,238},{396,206}}</string>
                <key>offset</key>
                <string>{16.5,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,302},{396,206}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_69_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{448,106}}</string>
                <key>offset</key>
                <string>{14.5,-192}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,452},{448,106}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_69_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{148,114},{174,90}}</string>
                <key>offset</key>
                <string>{6.5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,132},{174,90}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_69_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{456,42},{192,46}}</string>
                <key>offset</key>
                <string>{5.5,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,198},{192,46}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_69_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{102,448},{102,42}}</string>
                <key>offset</key>
                <string>{-25.5,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,178},{102,42}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_69_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{4,238},{230,94}}</string>
                <key>offset</key>
                <string>{-56.5,-142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,408},{230,94}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_69_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{4,114},{94,72}}</string>
                <key>offset</key>
                <string>{-3.5,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,62},{94,72}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_69_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{80,114},{94,64}}</string>
                <key>offset</key>
                <string>{-3.5,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,68},{94,64}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_69_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{326,114},{124,76}}</string>
                <key>offset</key>
                <string>{-0.5,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,78},{124,76}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_69_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{326,114},{124,76}}</string>
                <key>offset</key>
                <string>{-0.5,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,78},{124,76}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_69_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{456,4},{50,34}}</string>
                <key>offset</key>
                <string>{16.5,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,98},{50,34}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_69_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{4,472},{56,32}}</string>
                <key>offset</key>
                <string>{13.5,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,98},{56,32}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_69_alpha-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6fa5ec94e51c70301b91c0c6b1c8c13$</string>
            <key>textureFileName</key>
            <string>carasset_69_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
