<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_11_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,152},{410,270}}</string>
                <key>offset</key>
                <string>{-2.5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,182},{410,270}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_11_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{470,144}}</string>
                <key>offset</key>
                <string>{-8.5,-181}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,422},{470,144}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_11_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{272,472},{180,106}}</string>
                <key>offset</key>
                <string>{-0.5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,92},{180,106}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_11_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,526},{208,64}}</string>
                <key>offset</key>
                <string>{-4.5,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,184},{208,64}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_11_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{272,426},{116,42}}</string>
                <key>offset</key>
                <string>{-30.5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,156},{116,42}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_11_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{4,426},{264,96}}</string>
                <key>offset</key>
                <string>{-69.5,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,356},{264,96}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_11_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{382,496},{98,96}}</string>
                <key>offset</key>
                <string>{-1.5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,36},{98,96}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_11_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{418,152},{98,76}}</string>
                <key>offset</key>
                <string>{-3.5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,52},{98,76}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_11_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{418,298},{128,74}}</string>
                <key>offset</key>
                <string>{-0.5,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,80},{128,74}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_11_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{392,430},{112,62}}</string>
                <key>offset</key>
                <string>{-0.5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,86},{112,62}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_11_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{418,254},{76,40}}</string>
                <key>offset</key>
                <string>{7.5,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,86},{76,40}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_11_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{216,526},{56,32}}</string>
                <key>offset</key>
                <string>{15.5,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,90},{56,32}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_11_alpha-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd69709c7effa4e94a24eeb8ded61fd5$</string>
            <key>textureFileName</key>
            <string>carasset_11_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
