<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_59_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{204,99}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,151},{204,99}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_59_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{227,54}}</string>
                <key>offset</key>
                <string>{-2.5,-92.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,222},{227,54}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_59_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{208,101},{90,44}}</string>
                <key>offset</key>
                <string>{-0.5,-19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,66},{90,44}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_59_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{97,23}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,97},{97,23}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_59_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{56,18}}</string>
                <key>offset</key>
                <string>{-15.5,-27.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,87},{56,18}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_59_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{68,159},{126,40}}</string>
                <key>offset</key>
                <string>{-34,-63.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,200},{126,40}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_59_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{62,201},{48,38}}</string>
                <key>offset</key>
                <string>{-1.5,-9.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,29},{48,38}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_59_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{47,30}}</string>
                <key>offset</key>
                <string>{-1,-12.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,36},{47,30}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_59_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{22,191},{63,38}}</string>
                <key>offset</key>
                <string>{0,-19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,39},{63,38}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_59_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{22,191},{63,38}}</string>
                <key>offset</key>
                <string>{0,-19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,39},{63,38}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_59_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{51,159},{26,15}}</string>
                <key>offset</key>
                <string>{7.5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,47},{26,15}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_59_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{208,58},{27,16}}</string>
                <key>offset</key>
                <string>{8,-16.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,47},{27,16}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_59_alpha.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a66225add682b4d920c4ae58645421d$</string>
            <key>textureFileName</key>
            <string>carasset_59_alpha.png</string>
        </dict>
    </dict>
</plist>
