<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_29_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{214,93}}</string>
                <key>offset</key>
                <string>{5,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,159},{214,93}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_29_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{233,55}}</string>
                <key>offset</key>
                <string>{4.5,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,222},{233,55}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_29_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{94,42}}</string>
                <key>offset</key>
                <string>{2.5,-21.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,69},{94,42}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_29_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{70,209},{101,24}}</string>
                <key>offset</key>
                <string>{2,-40.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,97},{101,24}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_29_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{46,178},{55,22}}</string>
                <key>offset</key>
                <string>{-15,-29.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,87},{55,22}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_29_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{70,154},{124,48}}</string>
                <key>offset</key>
                <string>{-33,-67.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,200},{124,48}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_29_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{218,125},{51,34}}</string>
                <key>offset</key>
                <string>{-2,-11.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,33},{51,34}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_29_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{196,178},{51,29}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,37},{51,29}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_29_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{218,60},{63,36}}</string>
                <key>offset</key>
                <string>{-1,-17.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,38},{63,36}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_29_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{218,60},{63,36}}</string>
                <key>offset</key>
                <string>{-1,-17.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,38},{63,36}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_29_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{26,17}}</string>
                <key>offset</key>
                <string>{8.5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,47},{26,17}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_29_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{237,30},{28,16}}</string>
                <key>offset</key>
                <string>{6.5,-18.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,49},{28,16}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_29_alpha.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02a0e136cd45c34675f4fc01bbc2977c$</string>
            <key>textureFileName</key>
            <string>carasset_29_alpha.png</string>
        </dict>
    </dict>
</plist>
