<?xml version="1.0" encoding="UTF-8"?>
          			<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
          			<plist version="1.0">
          			<dict>  <key>cie_tarped_car_medium</key><dict>
		<key>carID</key>
		<integer>83</integer>
		<key>frontWheelUnder</key>
		<true/>
		<key>rearWheelUnder</key>
		<true/>
		<key>Angle</key>
		<dict>
			<key>bodyOffset</key>
			<string>{0,0}</string>
			<key>frontWheelPosition</key>
			<string>{-33,-132.5}</string>
			<key>rearWheelPosition</key>
			<string>{-35,-135}</string>
			<key>frontOppWheelPosition</key>
			<string>{-33.5,-133.5}</string>
			<key>rearOppWheelPosition</key>
			<string>{-34,-133.5}</string>
		</dict>
		<key>Back</key>
		<dict>
			<key>bodyOffset</key>
			<string>{0,0}</string>
			<key>frontWheelPosition</key>
			<string>{5.75,-21.5}</string>
			<key>rearWheelPosition</key>
			<string>{-9.5,-30.5}</string>
			<key>frontOppWheelPosition</key>
			<string>{-25.25,-23.75}</string>
			<key>rearOppWheelPosition</key>
			<string>{0,0}</string>
		</dict>
		<key>Front</key>
		<dict>
			<key>bodyOffset</key>
			<string>{0,0}</string>
			<key>frontWheelPosition</key>
			<string>{-11,-30.5}</string>
			<key>rearWheelPosition</key>
			<string>{7.75,-21.25}</string>
			<key>frontOppWheelPosition</key>
			<string>{-24.25,-22.25}</string>
			<key>rearOppWheelPosition</key>
			<string>{0,0}</string>
		</dict>
	</dict></dict>
          			</plist>

