<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_67_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{236,184}}</string>
                <key>offset</key>
                <string>{14.5,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,320},{236,184}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_67_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,192},{274,68}}</string>
                <key>offset</key>
                <string>{17.5,-197}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{298,476},{274,68}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_67_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{104,288},{104,80}}</string>
                <key>offset</key>
                <string>{7.5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,140},{104,80}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_67_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{104,256},{120,28}}</string>
                <key>offset</key>
                <string>{7.5,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,210},{120,28}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_67_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{74,470},{34,26}}</string>
                <key>offset</key>
                <string>{-5.5,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,194},{34,26}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_67_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{76,192},{168,60}}</string>
                <key>offset</key>
                <string>{36.5,-159}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,442},{168,60}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_67_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{104,448},{58,52}}</string>
                <key>offset</key>
                <string>{-3.5,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,72},{58,52}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_67_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{128,372},{62,56}}</string>
                <key>offset</key>
                <string>{2.5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,64},{62,56}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_67_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{76,372},{72,48}}</string>
                <key>offset</key>
                <string>{-0.5,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,92},{72,48}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_67_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{4,470},{66,38}}</string>
                <key>offset</key>
                <string>{-1.5,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,96},{66,38}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_67_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{228,256},{18,10}}</string>
                <key>offset</key>
                <string>{8.5,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,110},{18,10}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_67_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{76,256},{32,18}}</string>
                <key>offset</key>
                <string>{15.5,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,100},{32,18}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_67_alpha-hd.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2f3e2c86067ae639ce8d4dc4baf6216$</string>
            <key>textureFileName</key>
            <string>carasset_67_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
