<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wheel_171_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,1},{16,21}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{16,21}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
            <key>wheel_171_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,1},{16,21}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{16,21}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
            <key>wheel_171_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,47},{16,21}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{16,21}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
            <key>wheel_171_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,24},{16,21}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{16,21}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
            <key>wheel_171_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{16,21}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{16,21}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wheel_171-hd.png</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bed8835167b9726c23403f023cc2c516$</string>
            <key>textureFileName</key>
            <string>wheel_171-hd.png</string>
        </dict>
    </dict>
</plist>
