<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wheel_143_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,45},{9,13}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{9,13}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>wheel_143_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,34},{9,13}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{9,13}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>wheel_143_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,23},{9,13}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{9,13}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>wheel_143_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,12},{9,13}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{9,13}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>wheel_143_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{9,13}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{9,13}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>wheel_21_iso_animation</key>
            <dict>
                <key>frame</key>
                <string>{{16777230,16777215},{-33554431,-33554431}}</string>
                <key>offset</key>
                <string>{-1.67772e+07,1.67772e+07}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{-33554431,-33554431}}</string>
                <key>sourceSize</key>
                <string>{-1,-1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wheel_143.png</string>
            <key>size</key>
            <string>{16,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e916328b83bd00ea71c7fee312206d7$</string>
            <key>textureFileName</key>
            <string>wheel_143.png</string>
        </dict>
    </dict>
</plist>
