<?xml version="1.0" encoding="UTF-8"?>
          			<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
          			<plist version="1.0">
          			<dict>  <key>chevy_corvette_stingray_67</key><dict>
		<key>carID</key>
		<integer>37</integer>
		<key>Angle</key>
		<dict>
			<key>bodyOffset</key>
			<string>{0,2}</string>
			<key>frontWheelPosition</key>
			<string>{-35.5,-135}</string>
			<key>rearWheelPosition</key>
			<string>{-127.5,-122.5}</string>
			<key>frontOppWheelPosition</key>
			<string>{32,-122.5}</string>
			<key>rearOppWheelPosition</key>
			<string>{-59,-111.5}</string>
		</dict>
		<key>Back</key>
		<dict>
			<key>bodyOffset</key>
			<string>{0,2.5}</string>
			<key>frontWheelPosition</key>
			<string>{3.75,-22.25}</string>
			<key>rearWheelPosition</key>
			<string>{-11.75,-30}</string>
			<key>frontOppWheelPosition</key>
			<string>{-23.5,-24}</string>
			<key>rearOppWheelPosition</key>
			<string>{0,0}</string>
		</dict>
		<key>Front</key>
		<dict>
			<key>bodyOffset</key>
			<string>{0,2}</string>
			<key>frontWheelPosition</key>
			<string>{-13,-30.75}</string>
			<key>rearWheelPosition</key>
			<string>{3,-22.5}</string>
			<key>frontOppWheelPosition</key>
			<string>{-25.75,-24.25}</string>
			<key>rearOppWheelPosition</key>
			<string>{0,0}</string>
		</dict>
	</dict></dict>
          			</plist>

