<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_87_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{238,4},{1,1}}</string>
                <key>offset</key>
                <string>{-521.5,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1044,783}</string>
            </dict>
            <key>carasset_87_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{458,110}}</string>
                <key>offset</key>
                <string>{-26.5,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,440},{458,110}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_87_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{238,4},{1,1}}</string>
                <key>offset</key>
                <string>{-182,136.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_87_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{118,142},{200,50}}</string>
                <key>offset</key>
                <string>{-12.5,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,192},{200,50}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_87_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{238,4},{1,1}}</string>
                <key>offset</key>
                <string>{-182,136.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_87_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{238,4},{1,1}}</string>
                <key>offset</key>
                <string>{-521.5,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1044,783}</string>
            </dict>
            <key>carasset_87_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{238,4},{1,1}}</string>
                <key>offset</key>
                <string>{-104,76.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_87_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{238,4},{1,1}}</string>
                <key>offset</key>
                <string>{-104,76.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_87_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{118,4},{116,64}}</string>
                <key>offset</key>
                <string>{-2.5,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,84},{116,64}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_87_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{118,72},{114,66}}</string>
                <key>offset</key>
                <string>{-1.5,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,82},{114,66}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_87_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{238,4},{1,1}}</string>
                <key>offset</key>
                <string>{-104,76.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_87_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{238,4},{1,1}}</string>
                <key>offset</key>
                <string>{-104,76.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_87_alpha-hd.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6de74cfa2b522d132865ac11ec0b9dac$</string>
            <key>textureFileName</key>
            <string>carasset_87_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
