<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_189_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{455,190}}</string>
                <key>offset</key>
                <string>{14,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,312},{455,190}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_189_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{1,193},{499,122}}</string>
                <key>offset</key>
                <string>{9,-182}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,434},{499,122}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_189_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{1,417},{201,84}}</string>
                <key>offset</key>
                <string>{6,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,136},{201,84}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_189_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{256,317},{215,54}}</string>
                <key>offset</key>
                <string>{4,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,189},{215,54}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_189_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{458,1},{113,44}}</string>
                <key>offset</key>
                <string>{-26,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,169},{113,44}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_189_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{1,317},{253,98}}</string>
                <key>offset</key>
                <string>{-59,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,387},{253,98}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_189_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{375,373},{107,70}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,62},{107,70}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_189_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{323,445},{107,62}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,69},{107,62}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_189_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{204,439},{117,64}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,83},{117,64}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_189_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{256,373},{117,64}}</string>
                <key>offset</key>
                <string>{1,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,84},{117,64}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_189_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{432,445},{49,28}}</string>
                <key>offset</key>
                <string>{22,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,92},{49,28}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_189_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{458,116},{53,32}}</string>
                <key>offset</key>
                <string>{19,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,93},{53,32}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_189_alpha-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2728a2e42425333da4813886d7bafe08$</string>
            <key>textureFileName</key>
            <string>carasset_189_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
