<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_79_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,104}}</string>
                <key>offset</key>
                <string>{-3,-43.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,148},{210,104}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_79_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{234,55}}</string>
                <key>offset</key>
                <string>{-7,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,220},{234,55}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_79_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{138,165},{92,47}}</string>
                <key>offset</key>
                <string>{-1.5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,64},{92,47}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_79_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{102,24}}</string>
                <key>offset</key>
                <string>{-3.5,-39.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,96},{102,24}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_79_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{232,165},{59,22}}</string>
                <key>offset</key>
                <string>{-16,-28.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,86},{59,22}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_79_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{134,49}}</string>
                <key>offset</key>
                <string>{-37,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,198},{134,49}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_79_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{50,36}}</string>
                <key>offset</key>
                <string>{-2.5,-11.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,32},{50,36}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_79_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{54,216},{49,31}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,35},{49,31}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_79_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{138,214},{63,37}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,40},{63,37}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_79_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{138,214},{63,37}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,40},{63,37}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_79_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{203,214},{28,19}}</string>
                <key>offset</key>
                <string>{6.5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,48},{28,19}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_79_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{224,226},{28,18}}</string>
                <key>offset</key>
                <string>{7.5,-17.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,47},{28,18}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_79_alpha.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10c21ae53c7b60bb366337a8322c9d2d$</string>
            <key>textureFileName</key>
            <string>carasset_79_alpha.png</string>
        </dict>
    </dict>
</plist>
