<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>carasset_99_angle_paintmask</key>
		<dict>
			<key>frame</key>
			<string>{{4,502},{2,2}}</string>
			<key>offset</key>
			<string>{-416.5,312}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>sourceSize</key>
			<string>{835,626}</string>
		</dict>
		<key>carasset_99_angle_shadow</key>
		<dict>
			<key>frame</key>
			<string>{{4,54},{444,104}}</string>
			<key>offset</key>
			<string>{8.5,-191}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{204,452},{444,104}}</string>
			<key>sourceSize</key>
			<string>{835,626}</string>
		</dict>
		<key>carasset_99_angle_thumbnail_paintmask</key>
		<dict>
			<key>frame</key>
			<string>{{4,502},{2,2}}</string>
			<key>offset</key>
			<string>{-181.5,136}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>sourceSize</key>
			<string>{365,274}</string>
		</dict>
		<key>carasset_99_angle_thumbnail_shadow</key>
		<dict>
			<key>frame</key>
			<string>{{4,4},{198,46}}</string>
			<key>offset</key>
			<string>{4.5,-78}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{88,192},{198,46}}</string>
			<key>sourceSize</key>
			<string>{365,274}</string>
		</dict>
		<key>carasset_99_iso_paintmask_front</key>
		<dict>
			<key>frame</key>
			<string>{{4,502},{2,2}}</string>
			<key>offset</key>
			<string>{-103.5,76}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>sourceSize</key>
			<string>{209,154}</string>
		</dict>
		<key>carasset_99_iso_paintmask_rear</key>
		<dict>
			<key>frame</key>
			<string>{{4,502},{2,2}}</string>
			<key>offset</key>
			<string>{-103.5,76}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>sourceSize</key>
			<string>{209,154}</string>
		</dict>
		<key>carasset_99_iso_shadow_front</key>
		<dict>
			<key>frame</key>
			<string>{{112,290},{120,74}}</string>
			<key>offset</key>
			<string>{1.5, -40}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,74},{120,74}}</string>
			<key>sourceSize</key>
			<string>{209,154}</string>
		</dict>
		<key>carasset_99_iso_shadow_front_mirror</key>
		<dict>
			<key>frame</key>
			<string>{{112,210},{122,76}}</string>
			<key>offset</key>
			<string>{-4.5,-32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,72},{122,76}}</string>
			<key>sourceSize</key>
			<string>{209,154}</string>
		</dict>
		<key>carasset_99_iso_shadow_rear</key>
		<dict>
			<key>frame</key>
			<string>{{112,132},{124,74}}</string>
			<key>offset</key>
			<string>{1.5,-40}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44,80},{124,74}}</string>
			<key>sourceSize</key>
			<string>{209,154}</string>
		</dict>
		<key>carasset_99_iso_shadow_rear_mirror</key>
		<dict>
			<key>frame</key>
			<string>{{112,54},{126,74}}</string>
			<key>offset</key>
			<string>{-5.5,-40}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,80},{126,74}}</string>
			<key>sourceSize</key>
			<string>{209,154}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>carasset_99_alpha-hd.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:7820c3152686172098f551c4466a7d23$</string>
		<key>textureFileName</key>
		<string>carasset_99_alpha-hd.png</string>
	</dict>
</dict>
</plist>
