<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_7_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,90},{294,208}}</string>
                <key>offset</key>
                <string>{1.5,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,296},{294,208}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_7_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{334,82}}</string>
                <key>offset</key>
                <string>{-10.5,-200}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,472},{334,82}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_7_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{342,44},{130,94}}</string>
                <key>offset</key>
                <string>{0.5,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,128},{130,94}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_7_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{342,4},{144,36}}</string>
                <key>offset</key>
                <string>{-2.5,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,206},{144,36}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_7_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{302,220},{90,34}}</string>
                <key>offset</key>
                <string>{-19.5,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,188},{90,34}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_7_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{302,142},{204,74}}</string>
                <key>offset</key>
                <string>{-43.5,-154}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,430},{204,74}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_7_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{4,340},{70,64}}</string>
                <key>offset</key>
                <string>{-3.5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,62},{70,64}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_7_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{388,272},{70,64}}</string>
                <key>offset</key>
                <string>{-1.5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,66},{70,64}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_7_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{302,258},{82,48}}</string>
                <key>offset</key>
                <string>{-1.5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,94},{82,48}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_7_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{396,220},{86,48}}</string>
                <key>offset</key>
                <string>{-1.5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,94},{86,48}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_7_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{476,44},{42,28}}</string>
                <key>offset</key>
                <string>{10.5,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,96},{42,28}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_7_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{476,90},{38,24}}</string>
                <key>offset</key>
                <string>{12.5,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,100},{38,24}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_7_alpha-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ff158bbfb09b010ea7bde418cd5a0ad$</string>
            <key>textureFileName</key>
            <string>carasset_7_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
