<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_33_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,102}}</string>
                <key>offset</key>
                <string>{-6,-34.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,140},{212,102}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_33_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{232,58}}</string>
                <key>offset</key>
                <string>{-10,-92.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,220},{232,58}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_33_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{93,45}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,61},{93,45}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_33_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{102,26}}</string>
                <key>offset</key>
                <string>{-4.5,-40.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,96},{102,26}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_33_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{236,106},{85,18}}</string>
                <key>offset</key>
                <string>{-4,-27.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,87},{85,18}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_33_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{197,41}}</string>
                <key>offset</key>
                <string>{-10.5,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,199},{197,41}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_33_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{201,166},{49,33}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,31},{49,33}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_33_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{176,217},{50,35}}</string>
                <key>offset</key>
                <string>{-2.5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,30},{50,35}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_33_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{97,209},{60,36}}</string>
                <key>offset</key>
                <string>{-0.5,-19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,40},{60,36}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_33_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{97,209},{60,36}}</string>
                <key>offset</key>
                <string>{-0.5,-19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,40},{60,36}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_33_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{159,209},{44,15}}</string>
                <key>offset</key>
                <string>{0.5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,47},{44,15}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_33_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{228,217},{29,19}}</string>
                <key>offset</key>
                <string>{7,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,46},{29,19}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_33_alpha.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a420dbf6ff83dffd1dd0f5e0d593fc6f$</string>
            <key>textureFileName</key>
            <string>carasset_33_alpha.png</string>
        </dict>
    </dict>
</plist>
