<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_19_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{205,101}}</string>
                <key>offset</key>
                <string>{-1.5,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,162},{205,101}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_19_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,54}}</string>
                <key>offset</key>
                <string>{3,-93.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,223},{212,54}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_19_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{209,64},{90,44}}</string>
                <key>offset</key>
                <string>{-0.5,-20.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,67},{90,44}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_19_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{98,24}}</string>
                <key>offset</key>
                <string>{-2.5,-40.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,97},{98,24}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_19_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{195,218},{57,25}}</string>
                <key>offset</key>
                <string>{-15,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,85},{57,25}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_19_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{191,58}}</string>
                <key>offset</key>
                <string>{-2.5,-74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,202},{191,58}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_19_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{102,221},{49,36}}</string>
                <key>offset</key>
                <string>{-2,-11.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,32},{49,36}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_19_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{153,221},{49,31}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,34},{49,31}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_19_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{60,37}}</string>
                <key>offset</key>
                <string>{-0.5,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,40},{60,37}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_19_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{209,156},{60,36}}</string>
                <key>offset</key>
                <string>{-1.5,-19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,40},{60,36}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_19_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{186,245},{47,21}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,45},{47,21}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_19_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{186,268},{27,27}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,36},{27,27}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_19_alpha.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53540b946d7caf7abb6b629b70c7e10d$</string>
            <key>textureFileName</key>
            <string>carasset_19_alpha.png</string>
        </dict>
    </dict>
</plist>
