<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_63_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{159,101}}</string>
                <key>offset</key>
                <string>{-3.5,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,153},{159,101}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_63_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,42}}</string>
                <key>offset</key>
                <string>{-2.5,-95.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,231},{179,42}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_63_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{70,46}}</string>
                <key>offset</key>
                <string>{-1.5,-20.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,66},{70,46}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_63_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{163,71},{77,20}}</string>
                <key>offset</key>
                <string>{-1,-41.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,100},{77,20}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_63_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{49,24}}</string>
                <key>offset</key>
                <string>{-12,-30.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,87},{49,24}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_63_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{163,93},{109,53}}</string>
                <key>offset</key>
                <string>{-27.5,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,200},{109,53}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_63_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{218,93},{38,33}}</string>
                <key>offset</key>
                <string>{-1.5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,31},{38,33}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_63_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{218,133},{38,30}}</string>
                <key>offset</key>
                <string>{-2.5,-9.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,33},{38,30}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_63_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{28,204},{47,28}}</string>
                <key>offset</key>
                <string>{-1,-19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,44},{47,28}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_63_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{28,204},{47,28}}</string>
                <key>offset</key>
                <string>{-1,-19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,44},{47,28}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_63_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{163,46},{23,16}}</string>
                <key>offset</key>
                <string>{6,-16.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,47},{23,16}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_63_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{181,50},{22,15}}</string>
                <key>offset</key>
                <string>{5.5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,47},{22,15}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_63_alpha.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:758e124faac62539a904daf70d2a80e1$</string>
            <key>textureFileName</key>
            <string>carasset_63_alpha.png</string>
        </dict>
    </dict>
</plist>
