<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_149_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{466,210}}</string>
                <key>offset</key>
                <string>{-0.5,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,290},{466,210}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_149_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,474},{506,122}}</string>
                <key>offset</key>
                <string>{-4.5,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,434},{506,122}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_149_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{262,274},{204,96}}</string>
                <key>offset</key>
                <string>{-0.5,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,124},{204,96}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_149_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{262,218},{222,52}}</string>
                <key>offset</key>
                <string>{-3.5,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,190},{222,52}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_149_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{146,428},{112,40}}</string>
                <key>offset</key>
                <string>{-32.5,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,174},{112,40}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_149_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{4,218},{254,90}}</string>
                <key>offset</key>
                <string>{-70.5,-132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,400},{254,90}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_149_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{150,312},{112,74}}</string>
                <key>offset</key>
                <string>{1.5,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,64},{112,74}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_149_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{228,374},{112,64}}</string>
                <key>offset</key>
                <string>{-0.5,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,74},{112,64}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_149_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{4,312},{142,82}}</string>
                <key>offset</key>
                <string>{2.5,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,72},{142,82}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_149_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{4,398},{138,72}}</string>
                <key>offset</key>
                <string>{0.5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,82},{138,72}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_149_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{474,64},{54,32}}</string>
                <key>offset</key>
                <string>{20.5,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,100},{54,32}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_149_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{474,4},{56,32}}</string>
                <key>offset</key>
                <string>{19.5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,104},{56,32}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_149_alpha-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09df0fe683c0dee87a3b52dc9937f036$</string>
            <key>textureFileName</key>
            <string>carasset_149_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
