<?xml version="1.0" encoding="UTF-8"?>
          			<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
          			<plist version="1.0">
          			<dict>  <key>cie_tarped_car_small</key><dict>
		<key>carID</key>
		<integer>82</integer>
		<key>frontWheelUnder</key>
		<true/>
		<key>rearWheelUnder</key>
		<true/>
		<key>Angle</key>
		<dict>
			<key>bodyOffset</key>
			<string>{0,0}</string>
			<key>frontWheelPosition</key>
			<string>{-39,-131.5}</string>
			<key>rearWheelPosition</key>
			<string>{-38,-135.5}</string>
			<key>frontOppWheelPosition</key>
			<string>{-39,-132.5}</string>
			<key>rearOppWheelPosition</key>
			<string>{-38,-131.5}</string>
		</dict>
		<key>Back</key>
		<dict>
			<key>bodyOffset</key>
			<string>{0,1.5}</string>
			<key>frontWheelPosition</key>
			<string>{-0.75,-21}</string>
			<key>rearWheelPosition</key>
			<string>{-12.25,-26.5}</string>
			<key>frontOppWheelPosition</key>
			<string>{-23.5,-22.75}</string>
			<key>rearOppWheelPosition</key>
			<string>{0,0}</string>
		</dict>
		<key>Front</key>
		<dict>
			<key>bodyOffset</key>
			<string>{0,1}</string>
			<key>frontWheelPosition</key>
			<string>{-12,-26.75}</string>
			<key>rearWheelPosition</key>
			<string>{-0.25,-21.25}</string>
			<key>frontOppWheelPosition</key>
			<string>{-22.5,-23.5}</string>
			<key>rearOppWheelPosition</key>
			<string>{0,0}</string>
		</dict>
	</dict></dict>
          			</plist>

