<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_185_iso_overlay_front</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{47,55}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,13},{47,55}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_185_iso_overlay_rear</key>
            <dict>
                <key>frame</key>
                <string>{{1,50},{47,49}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,18},{47,49}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_185_iso.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e64e5d7db9a254b1356caa550304aeb$</string>
            <key>textureFileName</key>
            <string>carasset_185_iso.png</string>
        </dict>
    </dict>
</plist>
