<?xml version="1.0" encoding="UTF-8"?>
          			<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
          			<plist version="1.0">
          			<dict>  <key>land_rover_defender_110_11</key><dict>
		<key>carID</key>
		<integer>11</integer>
		<key>Angle</key>
		<dict>
			<key>bodyOffset</key>
			<string>{0,0}</string>
			<key>frontWheelPosition</key>
			<string>{-38,-137.5}</string>
			<key>rearWheelPosition</key>
			<string>{-129,-124.5}</string>
			<key>frontOppWheelPosition</key>
			<string>{24.5,-120}</string>
			<key>rearOppWheelPosition</key>
			<string>{-63.5,-115}</string>
		</dict>
		<key>Back</key>
		<dict>
			<key>bodyOffset</key>
			<string>{0,3.5}</string>
			<key>frontWheelPosition</key>
			<string>{5.25,-20}</string>
			<key>rearWheelPosition</key>
			<string>{-11.5,-28.75}</string>
			<key>frontOppWheelPosition</key>
			<string>{-27,-22.25}</string>
			<key>rearOppWheelPosition</key>
			<string>{0,0}</string>
		</dict>
		<key>Front</key>
		<dict>
			<key>bodyOffset</key>
			<string>{0,2.5}</string>
			<key>frontWheelPosition</key>
			<string>{-11.25,-29}</string>
			<key>rearWheelPosition</key>
			<string>{5.5,-20.5}</string>
			<key>frontOppWheelPosition</key>
			<string>{0,0}</string>
			<key>rearOppWheelPosition</key>
			<string>{0,0}</string>
		</dict>
	</dict></dict>
          			</plist>

