<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_138_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,120},{410,216}}</string>
                <key>offset</key>
                <string>{5.5,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,300},{410,216}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_138_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{474,112}}</string>
                <key>offset</key>
                <string>{-4.5,-187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,444},{474,112}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_138_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{390,438},{180,94}}</string>
                <key>offset</key>
                <string>{3.5,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,130},{180,94}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_138_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,468},{206,48}}</string>
                <key>offset</key>
                <string>{0.5,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,192},{206,48}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_138_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{270,408},{116,58}}</string>
                <key>offset</key>
                <string>{-28.5,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,164},{116,58}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_138_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{4,340},{262,124}}</string>
                <key>offset</key>
                <string>{-64.5,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,384},{262,124}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_138_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{418,120},{96,80}}</string>
                <key>offset</key>
                <string>{-0.5,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,58},{96,80}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_138_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{418,338},{96,66}}</string>
                <key>offset</key>
                <string>{-0.5,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,68},{96,66}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_138_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{418,220},{114,72}}</string>
                <key>offset</key>
                <string>{2.5,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,78},{114,72}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_138_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{270,340},{118,64}}</string>
                <key>offset</key>
                <string>{0.5,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,82},{118,64}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_138_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{214,468},{56,46}}</string>
                <key>offset</key>
                <string>{19.5,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,90},{56,46}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_138_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{264,470},{58,42}}</string>
                <key>offset</key>
                <string>{14.5,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,94},{58,42}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_138_alpha-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30a4c250153f6f3b27b9ff3fd770ef5e$</string>
            <key>textureFileName</key>
            <string>carasset_138_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
