<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_181_angle_overlay</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{433,276}}</string>
                <key>offset</key>
                <string>{8,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,241},{433,276}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_181_angle-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43aa64507b35da8f7c4b9ebaabf359dd$</string>
            <key>textureFileName</key>
            <string>carasset_181_angle-hd.png</string>
        </dict>
    </dict>
</plist>
