<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_152_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{194,107}}</string>
                <key>offset</key>
                <string>{3,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,146},{194,107}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_152_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,55}}</string>
                <key>offset</key>
                <string>{0,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,223},{236,55}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_152_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{108,168},{85,47}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,64},{85,47}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_152_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{104,25}}</string>
                <key>offset</key>
                <string>{-0.5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,97},{104,25}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_152_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{80,22}}</string>
                <key>offset</key>
                <string>{0.5,-31.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,89},{80,22}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_152_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{198,129},{180,49}}</string>
                <key>offset</key>
                <string>{1,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,204},{180,49}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_152_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{46,38}}</string>
                <key>offset</key>
                <string>{0.5,-11.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,31},{46,38}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_152_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{106,217},{46,33}}</string>
                <key>offset</key>
                <string>{-1.5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,36},{46,33}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_152_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{198,59},{56,34}}</string>
                <key>offset</key>
                <string>{0.5,-20.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,42},{56,34}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_152_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{198,95},{55,32}}</string>
                <key>offset</key>
                <string>{-1,-21.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,44},{55,32}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_152_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{84,195},{25,20}}</string>
                <key>offset</key>
                <string>{10,-20.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,49},{25,20}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_152_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{50,219},{26,16}}</string>
                <key>offset</key>
                <string>{7.5,-20.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,51},{26,16}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_152_alpha.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c0dc90eb9803e68d8370f4011acf2d1$</string>
            <key>textureFileName</key>
            <string>carasset_152_alpha.png</string>
        </dict>
    </dict>
</plist>
