<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_192_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{0,55},{194,85}}</string>
                <key>offset</key>
                <string>{3,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,172},{194,85}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_192_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{226,53}}</string>
                <key>offset</key>
                <string>{0,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,222},{226,53}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_192_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{166,55},{87,39}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,74},{87,39}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_192_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{130,100},{99,23}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,97},{99,23}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_192_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{85,235},{81,19}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,91},{81,19}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_192_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{85,55},{180,45}}</string>
                <key>offset</key>
                <string>{-2,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,205},{180,45}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_192_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{130,53},{47,35}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,33},{47,35}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_192_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{221,135},{47,29}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,39},{47,29}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_192_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{226,0},{55,29}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,44},{55,29}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_192_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{166,123},{55,31}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,44},{55,31}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_192_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{229,94},{41,19}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,47},{41,19}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_192_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{130,182},{43,15}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,50},{43,15}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_192_alpha.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:357f7129ba40e8f9e42744a9c076afd5$</string>
            <key>textureFileName</key>
            <string>carasset_192_alpha.png</string>
        </dict>
    </dict>
</plist>
