<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_34_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{263,106}}</string>
                <key>offset</key>
                <string>{-8.5,-32.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,136},{263,106}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_34_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{132,47},{300,69}}</string>
                <key>offset</key>
                <string>{-8,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,210},{300,69}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_34_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{203,98},{116,47}}</string>
                <key>offset</key>
                <string>{-3.5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,59},{116,47}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_34_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{128,30}}</string>
                <key>offset</key>
                <string>{-3.5,-38.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,92},{128,30}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_34_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{227,32},{64,16}}</string>
                <key>offset</key>
                <string>{-17.5,-29.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,90},{64,16}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_34_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,37}}</string>
                <key>offset</key>
                <string>{-38.5,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,205},{145,37}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_34_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{203,216},{63,45}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,23},{63,45}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_34_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{203,281},{63,39}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,29},{63,39}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_34_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{76,43}}</string>
                <key>offset</key>
                <string>{0.5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,34},{76,43}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_34_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{76,43}}</string>
                <key>offset</key>
                <string>{0.5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,34},{76,43}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_34_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{11,6}}</string>
                <key>offset</key>
                <string>{-2,-22.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,58},{11,6}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_34_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{28,17}}</string>
                <key>offset</key>
                <string>{12.5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,45},{28,17}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_34_alpha.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c615d7ee51a27d15ac7487be1701d9c$</string>
            <key>textureFileName</key>
            <string>carasset_34_alpha.png</string>
        </dict>
    </dict>
</plist>
