<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_107_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{1,1}}</string>
                <key>offset</key>
                <string>{-208.5,156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_107_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,56}}</string>
                <key>offset</key>
                <string>{-3,-93.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,222},{236,56}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_107_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{1,1}}</string>
                <key>offset</key>
                <string>{-91,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_107_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{103,25}}</string>
                <key>offset</key>
                <string>{-1,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,95},{103,25}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_107_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{1,1}}</string>
                <key>offset</key>
                <string>{-52,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_107_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{1,1}}</string>
                <key>offset</key>
                <string>{-52,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_107_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{42,129},{67,41}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,35},{67,41}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_107_iso_shadow_front_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{29,60},{67,41}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,34},{67,41}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_107_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{72,60},{67,38}}</string>
                <key>offset</key>
                <string>{0,-19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,39},{67,38}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_107_iso_shadow_rear_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{68,38}}</string>
                <key>offset</key>
                <string>{-1.5,-19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,39},{68,38}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_107_alpha.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50b78631b2897e81608f13aaaf8e3423$</string>
            <key>textureFileName</key>
            <string>carasset_107_alpha.png</string>
        </dict>
    </dict>
</plist>
