<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_136_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{1,1}}</string>
                <key>offset</key>
                <string>{-208.5,156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_136_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,58}}</string>
                <key>offset</key>
                <string>{-4,-91.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,219},{248,58}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_136_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{108,26}}</string>
                <key>offset</key>
                <string>{-0.5,-38.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,94},{108,26}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_136_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{1,1}}</string>
                <key>offset</key>
                <string>{-52,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_136_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{1,1}}</string>
                <key>offset</key>
                <string>{-52,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_136_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{55,36}}</string>
                <key>offset</key>
                <string>{1,-16.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,37},{55,36}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_136_iso_shadow_front_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{62,112},{55,36}}</string>
                <key>offset</key>
                <string>{0,-16.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,37},{55,36}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_136_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{62,187},{56,35}}</string>
                <key>offset</key>
                <string>{0.5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,39},{56,35}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_136_iso_shadow_rear_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{62,150},{56,35}}</string>
                <key>offset</key>
                <string>{-0.5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,40},{56,35}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_136_alpha.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ae4d3dfcb13f7bd2679392f1aec20ef$</string>
            <key>textureFileName</key>
            <string>carasset_136_alpha.png</string>
        </dict>
    </dict>
</plist>
