<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_142_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{1,1}}</string>
                <key>offset</key>
                <string>{-208.5,156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_142_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{324,66}}</string>
                <key>offset</key>
                <string>{-16,-95.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,219},{324,66}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_142_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{1,1}}</string>
                <key>offset</key>
                <string>{-91,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_142_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{83,90},{182,39}}</string>
                <key>offset</key>
                <string>{-0.5,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,91},{182,39}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_142_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{1,1}}</string>
                <key>offset</key>
                <string>{-52,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_142_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{1,1}}</string>
                <key>offset</key>
                <string>{-52,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_142_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{79,45}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,34},{79,45}}</string>
                <key>sourceSize</key>
                <string>{105,79}</string>
            </dict>
            <key>carasset_142_iso_shadow_front_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{79,46}}</string>
                <key>offset</key>
                <string>{-6,-16.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,33},{79,46}}</string>
                <key>sourceSize</key>
                <string>{105,79}</string>
            </dict>
            <key>carasset_142_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{99,42}}</string>
                <key>offset</key>
                <string>{3,-17.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,35},{99,42}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_142_iso_shadow_rear_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,42}}</string>
                <key>offset</key>
                <string>{-2.5,-17.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{100,42}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_142_alpha.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28e36b18661cf91f32470b17c76ab7f0$</string>
            <key>textureFileName</key>
            <string>carasset_142_alpha.png</string>
        </dict>
    </dict>
</plist>
