<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>carasset_96_iso_overlay_front</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{49,39}}</string>
			<key>offset</key>
			<string>{-1,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,27},{49,39}}</string>
			<key>sourceSize</key>
			<string>{105,77}</string>
		</dict>
		<key>carasset_96_iso_overlay_front_mirror</key>
		<dict>
			<key>frame</key>
			<string>{{52,1},{49,37}}</string>
			<key>offset</key>
			<string>{-1,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,28},{49,37}}</string>
			<key>sourceSize</key>
			<string>{105,77}</string>
		</dict>
		<key>carasset_96_iso_overlay_rear</key>
		<dict>
			<key>frame</key>
			<string>{{1,42},{49,33}}</string>
			<key>offset</key>
			<string>{-1,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,37},{49,33}}</string>
			<key>sourceSize</key>
			<string>{105,77}</string>
		</dict>
		<key>carasset_96_iso_overlay_rear_mirror</key>
		<dict>
			<key>frame</key>
			<string>{{52,40},{49,33}}</string>
			<key>offset</key>
			<string>{-1,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,37},{49,33}}</string>
			<key>sourceSize</key>
			<string>{105,77}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>carasset_96_iso.png</string>
		<key>size</key>
		<string>{128,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e3071f353eb488b4e0297fb9c6549f72$</string>
		<key>textureFileName</key>
		<string>carasset_96_iso.png</string>
	</dict>
</dict>
</plist>
