<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Tow Truck/truck_E_overwheel</key>
		<dict>
			<key>frame</key>
			<string>{{1,729},{135,41}}</string>
			<key>offset</key>
			<string>{9,-18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{89,108},{135,41}}</string>
			<key>sourceSize</key>
			<string>{295,221}</string>
		</dict>
		<key>Tow Truck/truck_E_top</key>
		<dict>
			<key>frame</key>
			<string>{{729,1174},{187,101}}</string>
			<key>offset</key>
			<string>{-11,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,46},{187,101}}</string>
			<key>sourceSize</key>
			<string>{295,221}</string>
		</dict>
		<key>Tow Truck/truck_NE_overwheel</key>
		<dict>
			<key>frame</key>
			<string>{{738,981},{101,79}}</string>
			<key>offset</key>
			<string>{5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{102,83},{101,79}}</string>
			<key>sourceSize</key>
			<string>{295,221}</string>
		</dict>
		<key>Tow Truck/truck_NE_top</key>
		<dict>
			<key>frame</key>
			<string>{{738,870},{157,109}}</string>
			<key>offset</key>
			<string>{-30,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,53},{157,109}}</string>
			<key>sourceSize</key>
			<string>{295,221}</string>
		</dict>
		<key>Tow Truck/truck_NW_overwheel</key>
		<dict>
			<key>frame</key>
			<string>{{648,1174},{103,79}}</string>
			<key>offset</key>
			<string>{-56,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{40,83},{103,79}}</string>
			<key>sourceSize</key>
			<string>{295,221}</string>
		</dict>
		<key>Tow Truck/truck_NW_top</key>
		<dict>
			<key>frame</key>
			<string>{{976,817},{157,109}}</string>
			<key>offset</key>
			<string>{-23,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{46,53},{157,109}}</string>
			<key>sourceSize</key>
			<string>{295,221}</string>
		</dict>
		<key>Tow Truck/truck_N_overwheel</key>
		<dict>
			<key>frame</key>
			<string>{{545,1174},{101,103}}</string>
			<key>offset</key>
			<string>{-26,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{71,58},{101,103}}</string>
			<key>sourceSize</key>
			<string>{295,221}</string>
		</dict>
		<key>Tow Truck/truck_N_top</key>
		<dict>
			<key>frame</key>
			<string>{{976,642},{87,113}}</string>
			<key>offset</key>
			<string>{-21,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{83,56},{87,113}}</string>
			<key>sourceSize</key>
			<string>{295,221}</string>
		</dict>
		<key>Tow Truck/truck_SE_overwheel</key>
		<dict>
			<key>frame</key>
			<string>{{508,711},{155,75}}</string>
			<key>offset</key>
			<string>{-21,-18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{49,91},{155,75}}</string>
			<key>sourceSize</key>
			<string>{295,221}</string>
		</dict>
		<key>Tow Truck/truck_SE_top</key>
		<dict>
			<key>frame</key>
			<string>{{762,543},{157,153}}</string>
			<key>offset</key>
			<string>{-28,22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{41,12},{157,153}}</string>
			<key>sourceSize</key>
			<string>{295,221}</string>
		</dict>
		<key>Tow Truck/truck_SW_overwheel</key>
		<dict>
			<key>frame</key>
			<string>{{1175,642},{163,75}}</string>
			<key>offset</key>
			<string>{-25,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,91},{163,75}}</string>
			<key>sourceSize</key>
			<string>{295,221}</string>
		</dict>
		<key>Tow Truck/truck_SW_top</key>
		<dict>
			<key>frame</key>
			<string>{{585,711},{159,153}}</string>
			<key>offset</key>
			<string>{-23,22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,12},{159,153}}</string>
			<key>sourceSize</key>
			<string>{295,221}</string>
		</dict>
		<key>Tow Truck/truck_S_overwheel</key>
		<dict>
			<key>frame</key>
			<string>{{1091,697},{101,81}}</string>
			<key>offset</key>
			<string>{-11,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{86,77},{101,81}}</string>
			<key>sourceSize</key>
			<string>{295,221}</string>
		</dict>
		<key>Tow Truck/truck_S_top</key>
		<dict>
			<key>frame</key>
			<string>{{1175,543},{97,165}}</string>
			<key>offset</key>
			<string>{-11,25}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{88,3},{97,165}}</string>
			<key>sourceSize</key>
			<string>{295,221}</string>
		</dict>
		<key>Tow Truck/truck_W_overwheel</key>
		<dict>
			<key>frame</key>
			<string>{{1,543},{157,41}}</string>
			<key>offset</key>
			<string>{-22,-18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{47,108},{157,41}}</string>
			<key>sourceSize</key>
			<string>{295,221}</string>
		</dict>
		<key>Tow Truck/truck_W_top</key>
		<dict>
			<key>frame</key>
			<string>{{918,543},{187,97}}</string>
			<key>offset</key>
			<string>{-11,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,47},{187,97}}</string>
			<key>sourceSize</key>
			<string>{295,221}</string>
		</dict>
		<key>Tow Truck/truck_shadow_E</key>
		<dict>
			<key>frame</key>
			<string>{{704,1817},{228,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{228,91}}</string>
			<key>sourceSize</key>
			<string>{228,91}</string>
		</dict>
		<key>Tow Truck/truck_shadow_N</key>
		<dict>
			<key>frame</key>
			<string>{{602,543},{158,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,166}}</string>
			<key>sourceSize</key>
			<string>{158,166}</string>
		</dict>
		<key>Tow Truck/truck_shadow_NE</key>
		<dict>
			<key>frame</key>
			<string>{{1049,1814},{209,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,124}}</string>
			<key>sourceSize</key>
			<string>{209,124}</string>
		</dict>
		<key>Tow Truck/truck_shadow_NW</key>
		<dict>
			<key>frame</key>
			<string>{{923,1814},{209,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,124}}</string>
			<key>sourceSize</key>
			<string>{209,124}</string>
		</dict>
		<key>Tow Truck/truck_shadow_S</key>
		<dict>
			<key>frame</key>
			<string>{{442,543},{158,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,166}}</string>
			<key>sourceSize</key>
			<string>{158,166}</string>
		</dict>
		<key>Tow Truck/truck_shadow_SE</key>
		<dict>
			<key>frame</key>
			<string>{{797,1817},{209,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,124}}</string>
			<key>sourceSize</key>
			<string>{209,124}</string>
		</dict>
		<key>Tow Truck/truck_shadow_SW</key>
		<dict>
			<key>frame</key>
			<string>{{485,1829},{209,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,124}}</string>
			<key>sourceSize</key>
			<string>{209,124}</string>
		</dict>
		<key>Tow Truck/truck_shadow_W</key>
		<dict>
			<key>frame</key>
			<string>{{611,1817},{228,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{228,91}}</string>
			<key>sourceSize</key>
			<string>{228,91}</string>
		</dict>
		<key>Tow Truck/truck_wheel_E_1</key>
		<dict>
			<key>frame</key>
			<string>{{2013,307},{32,33}}</string>
			<key>offset</key>
			<string>{-2,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,10},{32,33}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_E_2</key>
		<dict>
			<key>frame</key>
			<string>{{2013,273},{32,33}}</string>
			<key>offset</key>
			<string>{-2,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,10},{32,33}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_E_3</key>
		<dict>
			<key>frame</key>
			<string>{{2013,239},{32,33}}</string>
			<key>offset</key>
			<string>{-2,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,10},{32,33}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_E_4</key>
		<dict>
			<key>frame</key>
			<string>{{2013,205},{32,33}}</string>
			<key>offset</key>
			<string>{-2,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,10},{32,33}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_E_5</key>
		<dict>
			<key>frame</key>
			<string>{{2013,171},{32,33}}</string>
			<key>offset</key>
			<string>{-2,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,10},{32,33}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_NE_1</key>
		<dict>
			<key>frame</key>
			<string>{{873,1013},{30,35}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,8},{30,35}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_NE_2</key>
		<dict>
			<key>frame</key>
			<string>{{873,981},{30,35}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,8},{30,35}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_NE_3</key>
		<dict>
			<key>frame</key>
			<string>{{2013,437},{30,33}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,10},{30,33}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_NE_4</key>
		<dict>
			<key>frame</key>
			<string>{{841,994},{30,35}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,8},{30,35}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_NE_5</key>
		<dict>
			<key>frame</key>
			<string>{{918,962},{30,35}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,8},{30,35}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_NW_1</key>
		<dict>
			<key>frame</key>
			<string>{{918,930},{30,35}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,8},{30,35}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_NW_2</key>
		<dict>
			<key>frame</key>
			<string>{{918,898},{30,35}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,8},{30,35}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_NW_3</key>
		<dict>
			<key>frame</key>
			<string>{{2013,405},{30,33}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,10},{30,33}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_NW_4</key>
		<dict>
			<key>frame</key>
			<string>{{918,866},{30,35}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,8},{30,35}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_NW_5</key>
		<dict>
			<key>frame</key>
			<string>{{918,834},{30,35}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,8},{30,35}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_N_1</key>
		<dict>
			<key>frame</key>
			<string>{{883,2028},{16,41}}</string>
			<key>offset</key>
			<string>{-15,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,7},{16,41}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_N_2</key>
		<dict>
			<key>frame</key>
			<string>{{840,2028},{16,41}}</string>
			<key>offset</key>
			<string>{-15,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{16,41}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_N_3</key>
		<dict>
			<key>frame</key>
			<string>{{733,1547},{16,43}}</string>
			<key>offset</key>
			<string>{-15,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,5},{16,43}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_N_4</key>
		<dict>
			<key>frame</key>
			<string>{{502,1774},{16,43}}</string>
			<key>offset</key>
			<string>{-15,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{16,43}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_N_5</key>
		<dict>
			<key>frame</key>
			<string>{{797,2028},{16,41}}</string>
			<key>offset</key>
			<string>{-15,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{16,41}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_SE_1</key>
		<dict>
			<key>frame</key>
			<string>{{918,802},{30,35}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,8},{30,35}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_SE_2</key>
		<dict>
			<key>frame</key>
			<string>{{918,770},{30,35}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,8},{30,35}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_SE_3</key>
		<dict>
			<key>frame</key>
			<string>{{2013,373},{30,33}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,10},{30,33}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_SE_4</key>
		<dict>
			<key>frame</key>
			<string>{{918,738},{30,35}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,8},{30,35}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_SE_5</key>
		<dict>
			<key>frame</key>
			<string>{{918,706},{30,35}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,8},{30,35}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_SW_1</key>
		<dict>
			<key>frame</key>
			<string>{{918,674},{30,35}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,8},{30,35}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_SW_2</key>
		<dict>
			<key>frame</key>
			<string>{{918,642},{30,35}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,8},{30,35}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_SW_3</key>
		<dict>
			<key>frame</key>
			<string>{{2013,341},{30,33}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,10},{30,33}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_SW_4</key>
		<dict>
			<key>frame</key>
			<string>{{520,1774},{30,35}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,8},{30,35}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_SW_5</key>
		<dict>
			<key>frame</key>
			<string>{{2013,469},{30,35}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,8},{30,35}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_S_1</key>
		<dict>
			<key>frame</key>
			<string>{{821,1547},{16,41}}</string>
			<key>offset</key>
			<string>{-15,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{16,41}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_S_2</key>
		<dict>
			<key>frame</key>
			<string>{{502,1756},{16,43}}</string>
			<key>offset</key>
			<string>{-15,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,5},{16,43}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_S_3</key>
		<dict>
			<key>frame</key>
			<string>{{502,1738},{16,43}}</string>
			<key>offset</key>
			<string>{-15,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,5},{16,43}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_S_4</key>
		<dict>
			<key>frame</key>
			<string>{{778,1547},{16,41}}</string>
			<key>offset</key>
			<string>{-15,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{16,41}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_S_5</key>
		<dict>
			<key>frame</key>
			<string>{{1,702},{16,41}}</string>
			<key>offset</key>
			<string>{-15,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{16,41}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_W_1</key>
		<dict>
			<key>frame</key>
			<string>{{2013,137},{32,33}}</string>
			<key>offset</key>
			<string>{0,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,5},{32,33}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_W_2</key>
		<dict>
			<key>frame</key>
			<string>{{2013,103},{32,33}}</string>
			<key>offset</key>
			<string>{0,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,5},{32,33}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_W_3</key>
		<dict>
			<key>frame</key>
			<string>{{2013,69},{32,33}}</string>
			<key>offset</key>
			<string>{0,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,5},{32,33}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_W_4</key>
		<dict>
			<key>frame</key>
			<string>{{2013,35},{32,33}}</string>
			<key>offset</key>
			<string>{0,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,5},{32,33}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>Tow Truck/truck_wheel_W_5</key>
		<dict>
			<key>frame</key>
			<string>{{2013,1},{32,33}}</string>
			<key>offset</key>
			<string>{0,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,5},{32,33}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>arrow</key>
		<dict>
			<key>frame</key>
			<string>{{502,1681},{55,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,56}}</string>
			<key>sourceSize</key>
			<string>{55,56}</string>
		</dict>
		<key>car_rescue_bg_brown</key>
		<dict>
			<key>frame</key>
			<string>{{1353,492},{455,235}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{455,235}}</string>
			<key>sourceSize</key>
			<string>{455,235}</string>
		</dict>
		<key>car_rescue_bg_frame</key>
		<dict>
			<key>frame</key>
			<string>{{1353,1},{489,658}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{489,658}}</string>
			<key>sourceSize</key>
			<string>{489,658}</string>
		</dict>
		<key>car_rescue_bg_white_big</key>
		<dict>
			<key>frame</key>
			<string>{{163,868},{169,418}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,418}}</string>
			<key>sourceSize</key>
			<string>{169,418}</string>
		</dict>
		<key>car_rescue_bg_white_medium</key>
		<dict>
			<key>frame</key>
			<string>{{334,868},{124,308}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,308}}</string>
			<key>sourceSize</key>
			<string>{124,308}</string>
		</dict>
		<key>car_rescue_btn_findcar</key>
		<dict>
			<key>frame</key>
			<string>{{460,868},{276,304}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{276,304}}</string>
			<key>sourceSize</key>
			<string>{276,304}</string>
		</dict>
		<key>car_rescue_btn_streetsign</key>
		<dict>
			<key>frame</key>
			<string>{{163,1688},{140,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,220}}</string>
			<key>sourceSize</key>
			<string>{140,220}</string>
		</dict>
		<key>car_rescue_cartype_bg</key>
		<dict>
			<key>frame</key>
			<string>{{1088,800},{110,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,84}}</string>
			<key>sourceSize</key>
			<string>{110,84}</string>
		</dict>
		<key>car_rescue_cartype_unknown</key>
		<dict>
			<key>frame</key>
			<string>{{976,731},{110,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,84}}</string>
			<key>sourceSize</key>
			<string>{110,84}</string>
		</dict>
		<key>car_rescue_flat_tire</key>
		<dict>
			<key>frame</key>
			<string>{{334,1178},{107,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,105}}</string>
			<key>sourceSize</key>
			<string>{107,105}</string>
		</dict>
		<key>car_rescue_game_bar</key>
		<dict>
			<key>frame</key>
			<string>{{1,868},{960,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{960,160}}</string>
			<key>sourceSize</key>
			<string>{960,160}</string>
		</dict>
		<key>car_rescue_game_pin</key>
		<dict>
			<key>frame</key>
			<string>{{1175,719},{98,162}}</string>
			<key>offset</key>
			<string>{-24,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,162}}</string>
			<key>sourceSize</key>
			<string>{146,164}</string>
		</dict>
		<key>car_rescue_game_pin_shadow</key>
		<dict>
			<key>frame</key>
			<string>{{441,1178},{102,104}}</string>
			<key>offset</key>
			<string>{22,-30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44,60},{102,104}}</string>
			<key>sourceSize</key>
			<string>{146,164}</string>
		</dict>
		<key>car_rescue_game_ring_blue</key>
		<dict>
			<key>frame</key>
			<string>{{110,1830},{213,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,107}}</string>
			<key>sourceSize</key>
			<string>{213,107}</string>
		</dict>
		<key>car_rescue_game_ring_red</key>
		<dict>
			<key>frame</key>
			<string>{{1,1830},{213,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,107}}</string>
			<key>sourceSize</key>
			<string>{213,107}</string>
		</dict>
		<key>car_rescue_game_road_sign</key>
		<dict>
			<key>frame</key>
			<string>{{864,1547},{242,265}}</string>
			<key>offset</key>
			<string>{-85,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,0},{242,265}}</string>
			<key>sourceSize</key>
			<string>{442,271}</string>
		</dict>
		<key>car_rescue_game_road_sign_shadow</key>
		<dict>
			<key>frame</key>
			<string>{{44,543},{314,173}}</string>
			<key>offset</key>
			<string>{64,-49}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{128,98},{314,173}}</string>
			<key>sourceSize</key>
			<string>{442,271}</string>
		</dict>
		<key>car_rescue_game_whammy</key>
		<dict>
			<key>frame</key>
			<string>{{336,718},{170,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,141}}</string>
			<key>sourceSize</key>
			<string>{170,141}</string>
		</dict>
		<key>car_rescue_header</key>
		<dict>
			<key>frame</key>
			<string>{{1810,506},{360,230}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{360,230}}</string>
			<key>sourceSize</key>
			<string>{360,230}</string>
		</dict>
		<key>car_rescue_map</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{1350,540}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1350,540}}</string>
			<key>sourceSize</key>
			<string>{1350,540}</string>
		</dict>
		<key>car_rescue_talk</key>
		<dict>
			<key>frame</key>
			<string>{{163,1288},{398,298}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{398,298}}</string>
			<key>sourceSize</key>
			<string>{398,298}</string>
		</dict>
		<key>car_rescue_tarp_medium</key>
		<dict>
			<key>frame</key>
			<string>{{219,543},{221,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,173}}</string>
			<key>sourceSize</key>
			<string>{221,173}</string>
		</dict>
		<key>car_rescue_tarp_small</key>
		<dict>
			<key>frame</key>
			<string>{{746,711},{161,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,157}}</string>
			<key>sourceSize</key>
			<string>{161,157}</string>
		</dict>
		<key>car_rescue_tarp_xlarge</key>
		<dict>
			<key>frame</key>
			<string>{{733,1277},{268,241}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{268,241}}</string>
			<key>sourceSize</key>
			<string>{268,241}</string>
		</dict>
		<key>car_rescue_wrench</key>
		<dict>
			<key>frame</key>
			<string>{{835,1062},{90,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,80}}</string>
			<key>sourceSize</key>
			<string>{90,80}</string>
		</dict>
		<key>car_rescue_wrench_large</key>
		<dict>
			<key>frame</key>
			<string>{{738,1062},{99,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,95}}</string>
			<key>sourceSize</key>
			<string>{99,95}</string>
		</dict>
		<key>collect_animation_car</key>
		<dict>
			<key>frame</key>
			<string>{{219,729},{126,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,115}}</string>
			<key>sourceSize</key>
			<string>{126,115}</string>
		</dict>
		<key>icon_fuel_atk_outline</key>
		<dict>
			<key>frame</key>
			<string>{{1108,620},{62,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,75}}</string>
			<key>sourceSize</key>
			<string>{62,75}</string>
		</dict>
		<key>icon_fuel_def_outline</key>
		<dict>
			<key>frame</key>
			<string>{{1108,543},{62,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,75}}</string>
			<key>sourceSize</key>
			<string>{62,75}</string>
		</dict>
		<key>icon_shield</key>
		<dict>
			<key>frame</key>
			<string>{{463,1566},{97,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{97,113}}</string>
			<key>sourceSize</key>
			<string>{99,113}</string>
		</dict>
		<key>icon_trophy</key>
		<dict>
			<key>frame</key>
			<string>{{385,1688},{139,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,115}}</string>
			<key>sourceSize</key>
			<string>{139,115}</string>
		</dict>
		<key>rusty_generic</key>
		<dict>
			<key>frame</key>
			<string>{{219,1830},{212,264}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,264}}</string>
			<key>sourceSize</key>
			<string>{212,264}</string>
		</dict>
		<key>rusty_sad</key>
		<dict>
			<key>frame</key>
			<string>{{562,1566},{249,278}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{249,278}}</string>
			<key>sourceSize</key>
			<string>{249,278}</string>
		</dict>
		<key>social_street_sign</key>
		<dict>
			<key>frame</key>
			<string>{{463,1284},{280,268}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{280,268}}</string>
			<key>sourceSize</key>
			<string>{280,268}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>car_rescue-hd.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:913a67ee39d1102998187cbe95c52c3c$</string>
		<key>textureFileName</key>
		<string>car_rescue-hd.png</string>
	</dict>
</dict>
</plist>
