<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>btn_blue.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 3}, {144, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{144, 40}</string>
			<key>spriteSourceSize</key>
			<string>{146, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 62}, {144, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_bronze.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {144, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{144, 41}</string>
			<key>spriteSourceSize</key>
			<string>{144, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{340, 146}, {144, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_gold.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {144, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{144, 41}</string>
			<key>spriteSourceSize</key>
			<string>{144, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{340, 103}, {144, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_silver.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {144, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{144, 41}</string>
			<key>spriteSourceSize</key>
			<string>{144, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{151, 279}, {144, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>carrarity_icon_common.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 35}</string>
			<key>spriteSourceSize</key>
			<string>{50, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{243, 322}, {50, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>carrarity_icon_common_plus.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 35}</string>
			<key>spriteSourceSize</key>
			<string>{50, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{353, 260}, {50, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>carrarity_icon_legendary.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 35}</string>
			<key>spriteSourceSize</key>
			<string>{50, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 384}, {50, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>carrarity_icon_legendary_plus.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 35}</string>
			<key>spriteSourceSize</key>
			<string>{50, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 358}, {50, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>carrarity_icon_rare.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 35}</string>
			<key>spriteSourceSize</key>
			<string>{50, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{302, 211}, {50, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>carrarity_icon_rare_plus.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 35}</string>
			<key>spriteSourceSize</key>
			<string>{50, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{281, 361}, {50, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>carrarity_icon_scarce.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 35}</string>
			<key>spriteSourceSize</key>
			<string>{50, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{302, 247}, {50, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>carrarity_icon_scarce_plus.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 35}</string>
			<key>spriteSourceSize</key>
			<string>{50, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{51, 348}, {50, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>carrarity_icon_uncommon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 35}</string>
			<key>spriteSourceSize</key>
			<string>{50, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{338, 319}, {50, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>carrarity_icon_uncommon_plus.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 35}</string>
			<key>spriteSourceSize</key>
			<string>{50, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{51, 384}, {50, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>carrarity_icon_xrare.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 35}</string>
			<key>spriteSourceSize</key>
			<string>{50, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{179, 358}, {50, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>carrarity_icon_xrare_plus.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 35}</string>
			<key>spriteSourceSize</key>
			<string>{50, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{424, 0}, {50, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cartype_icon_ex.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 35}</string>
			<key>spriteSourceSize</key>
			<string>{50, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{296, 283}, {50, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cartype_icon_hw.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 35}</string>
			<key>spriteSourceSize</key>
			<string>{50, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{365, 188}, {50, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cartype_icon_mo.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 35}</string>
			<key>spriteSourceSize</key>
			<string>{50, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 358}, {50, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cartype_icon_or.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 35}</string>
			<key>spriteSourceSize</key>
			<string>{50, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{338, 355}, {50, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cartype_icon_ra.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 35}</string>
			<key>spriteSourceSize</key>
			<string>{50, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 322}, {50, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cartype_icon_sp.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 35}</string>
			<key>spriteSourceSize</key>
			<string>{50, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 348}, {50, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cartype_icon_st.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 35}</string>
			<key>spriteSourceSize</key>
			<string>{50, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{127, 394}, {50, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cartype_icon_su.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 35}</string>
			<key>spriteSourceSize</key>
			<string>{50, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 420}, {50, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cartype_icon_sv.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 35}</string>
			<key>spriteSourceSize</key>
			<string>{50, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{353, 224}, {50, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cartype_icon_tr.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 35}</string>
			<key>spriteSourceSize</key>
			<string>{50, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{141, 322}, {50, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>collect_animation_coin.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{53, 52}</string>
			<key>spriteSourceSize</key>
			<string>{53, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{285, 104}, {53, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>collect_cash.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 62}</string>
			<key>spriteSourceSize</key>
			<string>{68, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 104}, {68, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>collect_coin.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{53, 52}</string>
			<key>spriteSourceSize</key>
			<string>{53, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{285, 158}, {53, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icon_carskill_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{23, 21}</string>
			<key>spriteSourceSize</key>
			<string>{23, 21}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{321, 40}, {23, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icon_carskill_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{23, 23}</string>
			<key>spriteSourceSize</key>
			<string>{23, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{357, 391}, {23, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icon_carskill_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {21, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{21, 22}</string>
			<key>spriteSourceSize</key>
			<string>{21, 22}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{347, 296}, {21, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icon_carskill_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {21, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{21, 24}</string>
			<key>spriteSourceSize</key>
			<string>{21, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{466, 71}, {21, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icon_carskill_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{25, 24}</string>
			<key>spriteSourceSize</key>
			<string>{25, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{224, 206}, {25, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icon_carskill_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {21, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{21, 24}</string>
			<key>spriteSourceSize</key>
			<string>{21, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{357, 69}, {21, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icon_carskill_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {19, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{19, 23}</string>
			<key>spriteSourceSize</key>
			<string>{19, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{446, 77}, {19, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icon_carskill_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {20, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{20, 24}</string>
			<key>spriteSourceSize</key>
			<string>{20, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{424, 77}, {20, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icon_carskill_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{24, 22}</string>
			<key>spriteSourceSize</key>
			<string>{24, 22}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{102, 393}, {24, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icon_carskill_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{24, 21}</string>
			<key>spriteSourceSize</key>
			<string>{24, 21}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{369, 296}, {24, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icon_carskill_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{24, 22}</string>
			<key>spriteSourceSize</key>
			<string>{24, 22}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{340, 188}, {24, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icon_carskill_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {18, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{18, 24}</string>
			<key>spriteSourceSize</key>
			<string>{18, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 206}, {18, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icon_carskill_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{23, 25}</string>
			<key>spriteSourceSize</key>
			<string>{23, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{475, 0}, {23, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icon_carskill_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{24, 23}</string>
			<key>spriteSourceSize</key>
			<string>{24, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{263, 397}, {24, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icon_carskill_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{24, 23}</string>
			<key>spriteSourceSize</key>
			<string>{24, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{102, 416}, {24, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icon_carskill_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{23, 23}</string>
			<key>spriteSourceSize</key>
			<string>{23, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{400, 69}, {23, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icon_carskill_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{24, 22}</string>
			<key>spriteSourceSize</key>
			<string>{24, 22}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{102, 370}, {24, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icon_carskill_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{25, 18}</string>
			<key>spriteSourceSize</key>
			<string>{25, 18}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{321, 21}, {25, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icon_carskill_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {22, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{22, 23}</string>
			<key>spriteSourceSize</key>
			<string>{22, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{381, 391}, {22, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icon_carskill_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{24, 23}</string>
			<key>spriteSourceSize</key>
			<string>{24, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{288, 397}, {24, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icon_carskill_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {20, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{20, 24}</string>
			<key>spriteSourceSize</key>
			<string>{20, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{379, 69}, {20, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icon_carskill_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{25, 21}</string>
			<key>spriteSourceSize</key>
			<string>{25, 21}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{102, 348}, {25, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icon_carskill_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {22, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{22, 21}</string>
			<key>spriteSourceSize</key>
			<string>{22, 21}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{394, 296}, {22, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icon_carskill_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{24, 23}</string>
			<key>spriteSourceSize</key>
			<string>{24, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{332, 391}, {24, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icon_fuel_atk.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{45, 54}</string>
			<key>spriteSourceSize</key>
			<string>{45, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{239, 104}, {45, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icon_parts.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{45, 46}</string>
			<key>spriteSourceSize</key>
			<string>{45, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{239, 158}, {45, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icon_power.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{53, 52}</string>
			<key>spriteSourceSize</key>
			<string>{53, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 167}, {53, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>job_smiley_excited.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {41, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{41, 40}</string>
			<key>spriteSourceSize</key>
			<string>{41, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{315, 62}, {41, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>job_smiley_happy.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {41, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{41, 40}</string>
			<key>spriteSourceSize</key>
			<string>{41, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{296, 319}, {41, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>job_smiley_sad.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {41, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{41, 40}</string>
			<key>spriteSourceSize</key>
			<string>{41, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{424, 36}, {41, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>notifier_idle.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{62, 68}</string>
			<key>spriteSourceSize</key>
			<string>{62, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{361, 0}, {62, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>panel_brown_large.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 77}</string>
			<key>spriteSourceSize</key>
			<string>{150, 77}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 231}, {150, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>panel_brown_medium.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 47}</string>
			<key>spriteSourceSize</key>
			<string>{150, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{151, 231}, {150, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>panel_brown_small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 40}</string>
			<key>spriteSourceSize</key>
			<string>{150, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 21}, {150, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>panel_noskill.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {140, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{140, 37}</string>
			<key>spriteSourceSize</key>
			<string>{140, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 309}, {140, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>panel_xlarge_footer.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {360, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{360, 20}</string>
			<key>spriteSourceSize</key>
			<string>{360, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {360, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shop_bg_white_big.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {169, 209}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{169, 209}</string>
			<key>spriteSourceSize</key>
			<string>{169, 209}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 21}, {169, 209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>talk_bubble_job_entertainment.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {41, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{41, 34}</string>
			<key>spriteSourceSize</key>
			<string>{41, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{221, 394}, {41, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>talk_bubble_job_food.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {41, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{41, 34}</string>
			<key>spriteSourceSize</key>
			<string>{41, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{178, 394}, {41, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>talk_bubble_job_recreation.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {41, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{41, 34}</string>
			<key>spriteSourceSize</key>
			<string>{41, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{466, 36}, {41, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>talk_bubble_job_service.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {41, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{41, 34}</string>
			<key>spriteSourceSize</key>
			<string>{41, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{51, 420}, {41, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>car_details_popup</string>
		<key>textureFileName</key>
		<string>car_details_popup.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>