<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>UI/btn_color_picker_fill</key>
		<dict>
			<key>frame</key>
			<string>{{707,1993},{52,52}}</string>
			<key>offset</key>
			<string>{-3,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,3},{52,52}}</string>
			<key>sourceSize</key>
			<string>{68,68}</string>
		</dict>
		<key>UI/btn_color_picker_overlay</key>
		<dict>
			<key>frame</key>
			<string>{{1370,1977},{68,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,68}}</string>
			<key>sourceSize</key>
			<string>{68,68}</string>
		</dict>
		<key>UI/shop_bg_blue</key>
		<dict>
			<key>frame</key>
			<string>{{1547,1},{450,230}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{450,230}}</string>
			<key>sourceSize</key>
			<string>{450,230}</string>
		</dict>
		<key>UI/shop_bg_brown</key>
		<dict>
			<key>frame</key>
			<string>{{172,1347},{280,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{280,140}}</string>
			<key>sourceSize</key>
			<string>{280,140}</string>
		</dict>
		<key>UI/shop_bg_white_big</key>
		<dict>
			<key>frame</key>
			<string>{{1,661},{338,418}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{338,418}}</string>
			<key>sourceSize</key>
			<string>{338,418}</string>
		</dict>
		<key>UI/shop_bg_white_medium_half</key>
		<dict>
			<key>frame</key>
			<string>{{1,1501},{124,308}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,308}}</string>
			<key>sourceSize</key>
			<string>{124,308}</string>
		</dict>
		<key>UI/shop_bg_white_small</key>
		<dict>
			<key>frame</key>
			<string>{{492,460},{208,199}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{208,199}}</string>
			<key>sourceSize</key>
			<string>{208,199}</string>
		</dict>
		<key>UI/shop_bg_white_with_box</key>
		<dict>
			<key>frame</key>
			<string>{{1,1081},{169,418}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,418}}</string>
			<key>sourceSize</key>
			<string>{169,418}</string>
		</dict>
		<key>UI/shop_frame</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{489,658}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{489,658}}</string>
			<key>sourceSize</key>
			<string>{489,658}</string>
		</dict>
		<key>UI/shop_header</key>
		<dict>
			<key>frame</key>
			<string>{{1152,201},{393,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{393,157}}</string>
			<key>sourceSize</key>
			<string>{393,157}</string>
		</dict>
		<key>UI/shop_icon_biz</key>
		<dict>
			<key>frame</key>
			<string>{{966,905},{110,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,123}}</string>
			<key>sourceSize</key>
			<string>{110,123}</string>
		</dict>
		<key>UI/shop_icon_cars</key>
		<dict>
			<key>frame</key>
			<string>{{698,1},{126,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,121}}</string>
			<key>sourceSize</key>
			<string>{126,121}</string>
		</dict>
		<key>UI/shop_icon_currency</key>
		<dict>
			<key>frame</key>
			<string>{{1431,884},{116,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,114}}</string>
			<key>sourceSize</key>
			<string>{116,114}</string>
		</dict>
		<key>UI/shop_icon_deco</key>
		<dict>
			<key>frame</key>
			<string>{{1205,895},{114,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,116}}</string>
			<key>sourceSize</key>
			<string>{114,116}</string>
		</dict>
		<key>UI/shop_icon_inventory</key>
		<dict>
			<key>frame</key>
			<string>{{1078,895},{125,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,119}}</string>
			<key>sourceSize</key>
			<string>{125,119}</string>
		</dict>
		<key>UI/shop_icon_new</key>
		<dict>
			<key>frame</key>
			<string>{{1006,328},{140,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,130}}</string>
			<key>sourceSize</key>
			<string>{140,130}</string>
		</dict>
		<key>UI/shop_icon_roads</key>
		<dict>
			<key>frame</key>
			<string>{{1006,109},{151,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,87}}</string>
			<key>sourceSize</key>
			<string>{151,87}</string>
		</dict>
		<key>UI/shop_icon_serv</key>
		<dict>
			<key>frame</key>
			<string>{{1321,884},{108,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,116}}</string>
			<key>sourceSize</key>
			<string>{108,116}</string>
		</dict>
		<key>UI/shop_most-popular</key>
		<dict>
			<key>frame</key>
			<string>{{1006,198},{144,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,128}}</string>
			<key>sourceSize</key>
			<string>{144,128}</string>
		</dict>
		<key>item icons/business_animal_hospital</key>
		<dict>
			<key>frame</key>
			<string>{{1547,1722},{254,208}}</string>
			<key>offset</key>
			<string>{-3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,33},{254,208}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/business_army_base</key>
		<dict>
			<key>frame</key>
			<string>{{555,913},{274,162}}</string>
			<key>offset</key>
			<string>{-3,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,63},{274,162}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/business_beach_resort</key>
		<dict>
			<key>frame</key>
			<string>{{1344,1488},{242,232}}</string>
			<key>offset</key>
			<string>{-2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,16},{242,232}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/business_car_museum</key>
		<dict>
			<key>frame</key>
			<string>{{1,1811},{240,234}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,19},{240,234}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/business_chinese_restaurant</key>
		<dict>
			<key>frame</key>
			<string>{{1435,1243},{252,224}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,25},{252,224}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/business_fire_station</key>
		<dict>
			<key>frame</key>
			<string>{{1547,233},{250,220}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,27},{250,220}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/business_ghostbusters</key>
		<dict>
			<key>frame</key>
			<string>{{1222,650},{214,232}}</string>
			<key>offset</key>
			<string>{-8,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,19},{214,232}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/business_mexican_restaurant</key>
		<dict>
			<key>frame</key>
			<string>{{1496,1000},{252,218}}</string>
			<key>offset</key>
			<string>{-1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,29},{252,218}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/business_movie_set</key>
		<dict>
			<key>frame</key>
			<string>{{1169,1270},{264,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,27},{264,216}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/business_pizza_shop</key>
		<dict>
			<key>frame</key>
			<string>{{127,1501},{273,270}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{273,270}}</string>
			<key>sourceSize</key>
			<string>{273,270}</string>
		</dict>
		<key>item icons/business_police_station</key>
		<dict>
			<key>frame</key>
			<string>{{744,297},{254,220}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,26},{254,220}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/business_safari</key>
		<dict>
			<key>frame</key>
			<string>{{1689,1417},{266,172}}</string>
			<key>offset</key>
			<string>{1,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,59},{266,172}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/business_school</key>
		<dict>
			<key>frame</key>
			<string>{{1438,647},{262,226}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,20},{262,226}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/business_ski_lodge</key>
		<dict>
			<key>frame</key>
			<string>{{1799,233},{244,184}}</string>
			<key>offset</key>
			<string>{-18,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,51},{244,184}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/business_tofu</key>
		<dict>
			<key>frame</key>
			<string>{{1799,419},{240,224}}</string>
			<key>offset</key>
			<string>{-1,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,27},{240,224}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/community_car_wash</key>
		<dict>
			<key>frame</key>
			<string>{{341,661},{355,250}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{355,250}}</string>
			<key>sourceSize</key>
			<string>{355,250}</string>
		</dict>
		<key>item icons/community_gas_station</key>
		<dict>
			<key>frame</key>
			<string>{{488,1079},{292,250}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{292,250}}</string>
			<key>sourceSize</key>
			<string>{292,250}</string>
		</dict>
		<key>item icons/community_tireshop_offroad</key>
		<dict>
			<key>frame</key>
			<string>{{698,661},{270,242}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,13},{270,242}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/community_tireshop_racing</key>
		<dict>
			<key>frame</key>
			<string>{{1068,1489},{274,242}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,12},{274,242}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/community_tireshop_street</key>
		<dict>
			<key>frame</key>
			<string>{{1275,1733},{270,242}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,13},{270,242}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/currency_cash_01</key>
		<dict>
			<key>frame</key>
			<string>{{1044,1985},{84,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,58}}</string>
			<key>sourceSize</key>
			<string>{84,58}</string>
		</dict>
		<key>item icons/currency_cash_02</key>
		<dict>
			<key>frame</key>
			<string>{{1702,455},{90,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,84}}</string>
			<key>sourceSize</key>
			<string>{90,84}</string>
		</dict>
		<key>item icons/currency_cash_03</key>
		<dict>
			<key>frame</key>
			<string>{{1549,875},{77,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,100}}</string>
			<key>sourceSize</key>
			<string>{77,100}</string>
		</dict>
		<key>item icons/currency_cash_04</key>
		<dict>
			<key>frame</key>
			<string>{{1006,1},{153,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,106}}</string>
			<key>sourceSize</key>
			<string>{153,106}</string>
		</dict>
		<key>item icons/currency_cash_05</key>
		<dict>
			<key>frame</key>
			<string>{{698,124},{126,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,96}}</string>
			<key>sourceSize</key>
			<string>{126,96}</string>
		</dict>
		<key>item icons/currency_cash_06</key>
		<dict>
			<key>frame</key>
			<string>{{454,1341},{143,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,138}}</string>
			<key>sourceSize</key>
			<string>{143,138}</string>
		</dict>
		<key>item icons/currency_coins_01</key>
		<dict>
			<key>frame</key>
			<string>{{899,1985},{63,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,60}}</string>
			<key>sourceSize</key>
			<string>{63,60}</string>
		</dict>
		<key>item icons/currency_coins_02</key>
		<dict>
			<key>frame</key>
			<string>{{600,103},{92,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,81}}</string>
			<key>sourceSize</key>
			<string>{92,81}</string>
		</dict>
		<key>item icons/currency_coins_03</key>
		<dict>
			<key>frame</key>
			<string>{{1397,360},{76,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,95}}</string>
			<key>sourceSize</key>
			<string>{76,95}</string>
		</dict>
		<key>item icons/currency_coins_04</key>
		<dict>
			<key>frame</key>
			<string>{{1638,541},{108,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,104}}</string>
			<key>sourceSize</key>
			<string>{108,104}</string>
		</dict>
		<key>item icons/currency_coins_05</key>
		<dict>
			<key>frame</key>
			<string>{{1148,360},{112,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,97}}</string>
			<key>sourceSize</key>
			<string>{112,97}</string>
		</dict>
		<key>item icons/currency_coins_06</key>
		<dict>
			<key>frame</key>
			<string>{{702,519},{114,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,138}}</string>
			<key>sourceSize</key>
			<string>{114,138}</string>
		</dict>
		<key>item icons/currency_parts_01</key>
		<dict>
			<key>frame</key>
			<string>{{964,1985},{78,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,59}}</string>
			<key>sourceSize</key>
			<string>{78,59}</string>
		</dict>
		<key>item icons/currency_parts_02</key>
		<dict>
			<key>frame</key>
			<string>{{1275,1977},{93,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,69}}</string>
			<key>sourceSize</key>
			<string>{93,69}</string>
		</dict>
		<key>item icons/currency_parts_03</key>
		<dict>
			<key>frame</key>
			<string>{{1628,875},{88,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,92}}</string>
			<key>sourceSize</key>
			<string>{88,92}</string>
		</dict>
		<key>item icons/currency_parts_04</key>
		<dict>
			<key>frame</key>
			<string>{{600,1},{96,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,100}}</string>
			<key>sourceSize</key>
			<string>{96,100}</string>
		</dict>
		<key>item icons/currency_parts_05</key>
		<dict>
			<key>frame</key>
			<string>{{1262,360},{133,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,95}}</string>
			<key>sourceSize</key>
			<string>{133,95}</string>
		</dict>
		<key>item icons/currency_parts_06</key>
		<dict>
			<key>frame</key>
			<string>{{831,905},{133,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,126}}</string>
			<key>sourceSize</key>
			<string>{133,126}</string>
		</dict>
		<key>item icons/decoration_flower_patch_01_icon</key>
		<dict>
			<key>frame</key>
			<string>{{1346,457},{290,188}}</string>
			<key>offset</key>
			<string>{-2,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,62},{290,188}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/decoration_flower_patch_02_icon</key>
		<dict>
			<key>frame</key>
			<string>{{1748,645},{290,186}}</string>
			<key>offset</key>
			<string>{-2,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,63},{290,186}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/decoration_flower_patch_03_icon</key>
		<dict>
			<key>frame</key>
			<string>{{1750,833},{288,188}}</string>
			<key>offset</key>
			<string>{-2,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,62},{288,188}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/decoration_flower_patch_04_icon</key>
		<dict>
			<key>frame</key>
			<string>{{1750,1023},{288,186}}</string>
			<key>offset</key>
			<string>{-2,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,63},{288,186}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/decoration_flowers_icon</key>
		<dict>
			<key>frame</key>
			<string>{{831,1},{164,196}}</string>
			<key>offset</key>
			<string>{-4,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{64,52},{164,196}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/decoration_fountain_car_icon</key>
		<dict>
			<key>frame</key>
			<string>{{497,1747},{208,252}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,10},{208,252}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/decoration_fountain_gas_pump_icon</key>
		<dict>
			<key>frame</key>
			<string>{{1258,1013},{236,228}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,21},{236,228}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/decoration_fountain_topiary_icon</key>
		<dict>
			<key>frame</key>
			<string>{{1750,1211},{274,204}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,43},{274,204}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/decoration_grass_patch_icon</key>
		<dict>
			<key>frame</key>
			<string>{{1050,460},{294,188}}</string>
			<key>offset</key>
			<string>{-2,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,62},{294,188}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/decoration_house_icon</key>
		<dict>
			<key>frame</key>
			<string>{{1006,1030},{250,238}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,15},{250,238}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/decoration_racing_fence_red_icon</key>
		<dict>
			<key>frame</key>
			<string>{{646,1489},{222,250}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,10},{222,250}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/decoration_racing_fence_white_icon</key>
		<dict>
			<key>frame</key>
			<string>{{782,1077},{222,250}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,10},{222,250}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/decoration_racing_haystack_icon</key>
		<dict>
			<key>frame</key>
			<string>{{1803,1591},{238,178}}</string>
			<key>offset</key>
			<string>{-10,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,61},{238,178}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/decoration_racing_tire_stack_icon</key>
		<dict>
			<key>frame</key>
			<string>{{341,913},{212,164}}</string>
			<key>offset</key>
			<string>{1,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,80},{212,164}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/decoration_topiary_car_02_icon</key>
		<dict>
			<key>frame</key>
			<string>{{1169,1},{166,198}}</string>
			<key>offset</key>
			<string>{6,-34}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73,70},{166,198}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/decoration_topiary_car_04_icon</key>
		<dict>
			<key>frame</key>
			<string>{{334,1081},{152,258}}</string>
			<key>offset</key>
			<string>{2,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,2},{152,258}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/decoration_topiary_piston_left_icon</key>
		<dict>
			<key>frame</key>
			<string>{{1803,1771},{220,208}}</string>
			<key>offset</key>
			<string>{-21,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,46},{220,208}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/decoration_topiary_piston_right_icon</key>
		<dict>
			<key>frame</key>
			<string>{{492,222},{250,232}}</string>
			<key>offset</key>
			<string>{-20,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,22},{250,232}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/decoration_topiary_tires_01_icon</key>
		<dict>
			<key>frame</key>
			<string>{{492,1},{106,202}}</string>
			<key>offset</key>
			<string>{-1,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{96,42},{106,202}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/decoration_tree_01_icon</key>
		<dict>
			<key>frame</key>
			<string>{{243,1773},{252,270}}</string>
			<key>offset</key>
			<string>{-10,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,0},{252,270}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/decoration_tree_02_icon</key>
		<dict>
			<key>frame</key>
			<string>{{172,1081},{160,264}}</string>
			<key>offset</key>
			<string>{-5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{65,6},{160,264}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/decoration_tree_03_icon</key>
		<dict>
			<key>frame</key>
			<string>{{870,1489},{196,246}}</string>
			<key>offset</key>
			<string>{1,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{53,20},{196,246}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/decoration_tree_04_icon</key>
		<dict>
			<key>frame</key>
			<string>{{899,1737},{162,246}}</string>
			<key>offset</key>
			<string>{-1,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{68,19},{162,246}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/decoration_tree_cherry_icon</key>
		<dict>
			<key>frame</key>
			<string>{{1063,1737},{210,244}}</string>
			<key>offset</key>
			<string>{-2,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,20},{210,244}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/decoration_tree_palm_icon</key>
		<dict>
			<key>frame</key>
			<string>{{707,1741},{190,250}}</string>
			<key>offset</key>
			<string>{-6,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{49,16},{190,250}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/road_asphalt_icon</key>
		<dict>
			<key>frame</key>
			<string>{{883,1329},{284,158}}</string>
			<key>offset</key>
			<string>{-1,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,80},{284,158}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/road_dirt_icon</key>
		<dict>
			<key>frame</key>
			<string>{{599,1331},{282,156}}</string>
			<key>offset</key>
			<string>{-1,-25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,82},{282,156}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/road_hotwheels_icon</key>
		<dict>
			<key>frame</key>
			<string>{{818,519},{230,132}}</string>
			<key>offset</key>
			<string>{-4,-25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,94},{230,132}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/road_hotwheels_loop_icon</key>
		<dict>
			<key>frame</key>
			<string>{{402,1489},{242,256}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,7},{242,256}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/shop_hotwheels_logo</key>
		<dict>
			<key>frame</key>
			<string>{{744,222},{259,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{259,73}}</string>
			<key>sourceSize</key>
			<string>{259,73}</string>
		</dict>
		<key>item icons/utility_paintshop_icon</key>
		<dict>
			<key>frame</key>
			<string>{{1344,1},{198,198}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{50,36},{198,198}}</string>
			<key>sourceSize</key>
			<string>{300,270}</string>
		</dict>
		<key>item icons/utility_parts</key>
		<dict>
			<key>frame</key>
			<string>{{970,653},{250,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{250,240}}</string>
			<key>sourceSize</key>
			<string>{250,240}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>shop-hd.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:cb7981acf786e6af0d314ff675502e0e$</string>
		<key>textureFileName</key>
		<string>shop-hd.png</string>
	</dict>
</dict>
</plist>
