<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_43_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{218,126}}</string>
                <key>offset</key>
                <string>{-4,-13.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,107},{218,126}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_43_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,60}}</string>
                <key>offset</key>
                <string>{-7,-91.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,218},{252,60}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_43_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{153,232},{96,55}}</string>
                <key>offset</key>
                <string>{-1.5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,47},{96,55}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_43_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{222,168},{109,25}}</string>
                <key>offset</key>
                <string>{-2,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,96},{109,25}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_43_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{222,100},{66,26}}</string>
                <key>offset</key>
                <string>{-13.5,-23.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,79},{66,26}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_43_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{149,59}}</string>
                <key>offset</key>
                <string>{-30.5,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,181},{149,59}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_43_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{210,279},{51,39}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,25},{51,39}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_43_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{52,35}}</string>
                <key>offset</key>
                <string>{-2.5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{52,35}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_43_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{153,192},{66,38}}</string>
                <key>offset</key>
                <string>{-1.5,-19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,39},{66,38}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_43_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{153,192},{66,38}}</string>
                <key>offset</key>
                <string>{-1.5,-19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,39},{66,38}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_43_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{222,82},{28,16}}</string>
                <key>offset</key>
                <string>{6.5,-14.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,45},{28,16}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_43_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{222,64},{29,16}}</string>
                <key>offset</key>
                <string>{9,-13.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,44},{29,16}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_43_alpha.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f75cc868292ae271703a190d9af57fe$</string>
            <key>textureFileName</key>
            <string>carasset_43_alpha.png</string>
        </dict>
    </dict>
</plist>
