<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_53_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{219,119}}</string>
                <key>offset</key>
                <string>{0.5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,121},{219,119}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_53_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{241,55}}</string>
                <key>offset</key>
                <string>{-5.5,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,221},{241,55}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_53_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{96,52}}</string>
                <key>offset</key>
                <string>{0.5,-10.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,53},{96,52}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_53_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{223,165},{104,25}}</string>
                <key>offset</key>
                <string>{-1.5,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,96},{104,25}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_53_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{223,59},{70,28}}</string>
                <key>offset</key>
                <string>{-10.5,-25.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,80},{70,28}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_53_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{192,62}}</string>
                <key>offset</key>
                <string>{-7,-58.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,184},{192,62}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_53_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{164,244},{52,44}}</string>
                <key>offset</key>
                <string>{-1.5,-4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{52,44}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_53_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{164,290},{52,37}}</string>
                <key>offset</key>
                <string>{-2.5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{52,37}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_53_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{100,283},{62,37}}</string>
                <key>offset</key>
                <string>{-0.5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,40},{62,37}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_53_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{100,244},{62,37}}</string>
                <key>offset</key>
                <string>{-0.5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,40},{62,37}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_53_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{223,131},{28,15}}</string>
                <key>offset</key>
                <string>{8.5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,47},{28,15}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_53_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{223,148},{26,15}}</string>
                <key>offset</key>
                <string>{10.5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,46},{26,15}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_53_alpha.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c3b27fceb55a47ce36cee75fb1fc6ef$</string>
            <key>textureFileName</key>
            <string>carasset_53_alpha.png</string>
        </dict>
    </dict>
</plist>
