<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_24_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,114},{414,200}}</string>
                <key>offset</key>
                <string>{3.5,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,318},{414,200}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_24_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{448,106}}</string>
                <key>offset</key>
                <string>{-1.5,-190}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,450},{448,106}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_24_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,318},{182,90}}</string>
                <key>offset</key>
                <string>{0.5,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,138},{182,90}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_24_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{136,318},{194,44}}</string>
                <key>offset</key>
                <string>{0.5,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,198},{194,44}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_24_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{456,42},{110,50}}</string>
                <key>offset</key>
                <string>{-31.5,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,172},{110,50}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_24_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{98,382},{248,110}}</string>
                <key>offset</key>
                <string>{-71.5,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,396},{248,110}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_24_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{422,280},{98,72}}</string>
                <key>offset</key>
                <string>{-1.5,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,64},{98,72}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_24_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{350,318},{98,64}}</string>
                <key>offset</key>
                <string>{-1.5,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,72},{98,64}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_24_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{422,156},{120,74}}</string>
                <key>offset</key>
                <string>{-0.5,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,80},{120,74}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_24_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{422,156},{120,74}}</string>
                <key>offset</key>
                <string>{-0.5,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,80},{120,74}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_24_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{456,4},{52,34}}</string>
                <key>offset</key>
                <string>{17.5,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,94},{52,34}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_24_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{98,318},{54,34}}</string>
                <key>offset</key>
                <string>{18.5,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,96},{54,34}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_24_alpha-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9950813d67cf9c775af6500bc7719e6a$</string>
            <key>textureFileName</key>
            <string>carasset_24_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
