<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_129_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{253,7},{1,1}}</string>
                <key>offset</key>
                <string>{-208.5,156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_129_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,49}}</string>
                <key>offset</key>
                <string>{-11.5,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,222},{209,49}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_129_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{253,5},{1,1}}</string>
                <key>offset</key>
                <string>{-91,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_129_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{104,24}}</string>
                <key>offset</key>
                <string>{-0.5,-40.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,97},{104,24}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_129_iso_0004_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{28,76},{86,43}}</string>
                <key>offset</key>
                <string>{-2.5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,34},{86,43}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_129_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{1,1}}</string>
                <key>offset</key>
                <string>{-52,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_129_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{1,1}}</string>
                <key>offset</key>
                <string>{-52,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_129_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{73,76},{68,38}}</string>
                <key>offset</key>
                <string>{-0.5,-19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,39},{68,38}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_129_iso_shadow_front_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{42,164},{72,38}}</string>
                <key>offset</key>
                <string>{0.5,-19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,39},{72,38}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_129_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{72,38}}</string>
                <key>offset</key>
                <string>{-0.5,-19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,39},{72,38}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_129_iso_shadow_rear_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{72,38}}</string>
                <key>offset</key>
                <string>{-0.5,-19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,39},{72,38}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_129_alpha.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2ca34eb3004507df1abdcc1cc9b3ad0$</string>
            <key>textureFileName</key>
            <string>carasset_129_alpha.png</string>
        </dict>
    </dict>
</plist>
