<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_160_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{450,216}}</string>
                <key>offset</key>
                <string>{-18.5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,248},{450,216}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_160_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,426},{546,128}}</string>
                <key>offset</key>
                <string>{-18.5,-191}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,440},{546,128}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_160_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{410,224},{198,96}}</string>
                <key>offset</key>
                <string>{-1.5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,104},{198,96}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_160_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,352},{232,56}}</string>
                <key>offset</key>
                <string>{-0.5,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,188},{232,56}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_160_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{224,444},{178,56}}</string>
                <key>offset</key>
                <string>{-11.5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,154},{178,56}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_160_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{4,224},{402,124}}</string>
                <key>offset</key>
                <string>{-42.5,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,362},{402,124}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_160_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{136,412},{110,84}}</string>
                <key>offset</key>
                <string>{-3.5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,36},{110,84}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_160_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{224,504},{110,74}}</string>
                <key>offset</key>
                <string>{-3.5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,48},{110,74}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_160_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{410,426},{166,88}}</string>
                <key>offset</key>
                <string>{0.5,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,66},{166,88}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_160_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{240,352},{166,88}}</string>
                <key>offset</key>
                <string>{0.5,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,66},{166,88}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_160_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{458,4},{100,46}}</string>
                <key>offset</key>
                <string>{1.5,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,82},{100,46}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_160_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{458,108},{106,44}}</string>
                <key>offset</key>
                <string>{-1.5,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,84},{106,44}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_160_alpha-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf8b6c2b4c11a3254ab6c01520d3bc7b$</string>
            <key>textureFileName</key>
            <string>carasset_160_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
