<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_128_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{5,251},{1,1}}</string>
                <key>offset</key>
                <string>{-208.5,156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_128_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,59}}</string>
                <key>offset</key>
                <string>{-15,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,214},{250,59}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_128_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{1,1}}</string>
                <key>offset</key>
                <string>{-91,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_128_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{97,24}}</string>
                <key>offset</key>
                <string>{-7,-38.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,95},{97,24}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_128_iso_0004_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{48,159},{86,43}}</string>
                <key>offset</key>
                <string>{-2.5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,34},{86,43}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_128_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{1,1}}</string>
                <key>offset</key>
                <string>{-52,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_128_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{1,1}}</string>
                <key>offset</key>
                <string>{-52,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_128_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{78,63},{81,41}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,36},{81,41}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_128_iso_shadow_front_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{93,146},{80,41}}</string>
                <key>offset</key>
                <string>{0.5,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,36},{80,41}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_128_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{28,63},{94,48}}</string>
                <key>offset</key>
                <string>{-5.5,-14.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{94,48}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_128_iso_shadow_rear_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{87,44}}</string>
                <key>offset</key>
                <string>{1,-16.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,33},{87,44}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_128_alpha.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4dbe1b052324307bbfd155e6aec4daf$</string>
            <key>textureFileName</key>
            <string>carasset_128_alpha.png</string>
        </dict>
    </dict>
</plist>
