<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_187_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{0,527},{443,140}}</string>
                <key>offset</key>
                <string>{-24,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,355},{443,140}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_187_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{527,116}}</string>
                <key>offset</key>
                <string>{-24,-181}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,436},{527,116}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_187_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{116,305},{195,62}}</string>
                <key>offset</key>
                <string>{-11,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,155},{195,62}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_187_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{0,970},{225,52}}</string>
                <key>offset</key>
                <string>{-11,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,190},{225,52}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_187_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{140,500},{135,40}}</string>
                <key>offset</key>
                <string>{-32,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,176},{135,40}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_187_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{305,88}}</string>
                <key>offset</key>
                <string>{-72,-136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,405},{305,88}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_187_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{180,470},{105,66}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,66},{105,66}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_187_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{140,756},{105,62}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,72},{105,62}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_187_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{140,635},{121,66}}</string>
                <key>offset</key>
                <string>{1,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,84},{121,66}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_187_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{178,305},{123,66}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,86},{123,66}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_187_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{180,575},{61,36}}</string>
                <key>offset</key>
                <string>{19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,99},{61,36}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_187_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{178,428},{61,42}}</string>
                <key>offset</key>
                <string>{20,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,92},{61,42}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_187_alpha-hd.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74662fbc770ac3818b0b4f6b144f8028$</string>
            <key>textureFileName</key>
            <string>carasset_187_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
