<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_45_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,124},{438,232}}</string>
                <key>offset</key>
                <string>{-24.5,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,264},{438,232}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_45_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{494,116}}</string>
                <key>offset</key>
                <string>{-32.5,-179}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,434},{494,116}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_45_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{314,378},{192,104}}</string>
                <key>offset</key>
                <string>{-10.5,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,114},{192,104}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_45_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{446,162},{212,50}}</string>
                <key>offset</key>
                <string>{-14.5,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,190},{212,50}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_45_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{4,472},{134,50}}</string>
                <key>offset</key>
                <string>{-33.5,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,162},{134,50}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_45_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{4,360},{306,108}}</string>
                <key>offset</key>
                <string>{-78.5,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,374},{306,108}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_45_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{4,526},{104,78}}</string>
                <key>offset</key>
                <string>{-4.5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,56},{104,78}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_45_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{276,486},{102,76}}</string>
                <key>offset</key>
                <string>{-3.5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,56},{102,76}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_45_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{142,472},{130,78}}</string>
                <key>offset</key>
                <string>{-1.5,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,76},{130,78}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_45_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{142,472},{130,78}}</string>
                <key>offset</key>
                <string>{-1.5,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,76},{130,78}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_45_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{382,486},{66,46}}</string>
                <key>offset</key>
                <string>{12.5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,82},{66,46}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_45_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{446,124},{60,34}}</string>
                <key>offset</key>
                <string>{15.5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,88},{60,34}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_45_alpha-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e3e0588ed24a2bcaa831e1056350a64$</string>
            <key>textureFileName</key>
            <string>carasset_45_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
