<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_48_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{180,101}}</string>
                <key>offset</key>
                <string>{-12,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,150},{180,101}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_48_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,48}}</string>
                <key>offset</key>
                <string>{-12,-93.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,226},{208,48}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_48_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{105,76},{79,44}}</string>
                <key>offset</key>
                <string>{-5,-19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,66},{79,44}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_48_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{105,52},{89,22}}</string>
                <key>offset</key>
                <string>{-5,-40.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,98},{89,22}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_48_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{105,156},{70,26}}</string>
                <key>offset</key>
                <string>{-7.5,-26.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,82},{70,26}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_48_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{196,68},{159,55}}</string>
                <key>offset</key>
                <string>{-16.5,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,190},{159,55}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_48_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{212,35},{42,31}}</string>
                <key>offset</key>
                <string>{-1.5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,33},{42,31}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_48_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{42,31}}</string>
                <key>offset</key>
                <string>{-1.5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,32},{42,31}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_48_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{129,122},{54,32}}</string>
                <key>offset</key>
                <string>{-0.5,-19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,42},{54,32}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_48_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{129,122},{54,32}}</string>
                <key>offset</key>
                <string>{-0.5,-19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,42},{54,32}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_48_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{37,11}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,47},{37,11}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_48_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{105,229},{22,23}}</string>
                <key>offset</key>
                <string>{8.5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,35},{22,23}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_48_alpha.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9876eac3b1b18115317523ff73d63e91$</string>
            <key>textureFileName</key>
            <string>carasset_48_alpha.png</string>
        </dict>
    </dict>
</plist>
