<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_5_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{253,152}}</string>
                <key>offset</key>
                <string>{-2.5,-14.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,95},{253,152}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_5_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{156,86},{277,66}}</string>
                <key>offset</key>
                <string>{-4.5,-92.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,216},{277,66}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_5_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{43,257},{111,66}}</string>
                <key>offset</key>
                <string>{-1,-6.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,42},{111,66}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_5_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{224,118},{120,28}}</string>
                <key>offset</key>
                <string>{-1.5,-40.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,95},{120,28}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_5_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{229,55},{61,17}}</string>
                <key>offset</key>
                <string>{-17,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,88},{61,17}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_5_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{138,39}}</string>
                <key>offset</key>
                <string>{-39,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,201},{138,39}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_5_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{43,325},{58,47}}</string>
                <key>offset</key>
                <string>{-0.5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{58,47}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_5_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{58,39}}</string>
                <key>offset</key>
                <string>{-0.5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,30},{58,39}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_5_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{156,44},{71,40}}</string>
                <key>offset</key>
                <string>{-1,-18.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,37},{71,40}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_5_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{71,40}}</string>
                <key>offset</key>
                <string>{-1,-18.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,37},{71,40}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_5_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{51,19}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,49},{51,19}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_5_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{224,240},{27,15}}</string>
                <key>offset</key>
                <string>{13,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,50},{27,15}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_5_alpha.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2288e22eaf94e7fc781b6153077e41f8$</string>
            <key>textureFileName</key>
            <string>carasset_5_alpha.png</string>
        </dict>
    </dict>
</plist>
