<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_140_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{167,131}}</string>
                <key>offset</key>
                <string>{-6.5,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,126},{167,131}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_140_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,43}}</string>
                <key>offset</key>
                <string>{-10.5,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,228},{185,43}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_140_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{74,59}}</string>
                <key>offset</key>
                <string>{-0.5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,54},{74,59}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_140_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{81,20}}</string>
                <key>offset</key>
                <string>{-2,-40.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,99},{81,20}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_140_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{187,78},{67,22}}</string>
                <key>offset</key>
                <string>{-2,-31.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,89},{67,22}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_140_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{135,47},{153,50}}</string>
                <key>offset</key>
                <string>{-10.5,-70.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,202},{153,50}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_140_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{135,202},{43,39}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{43,39}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_140_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{176,202},{43,31}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,36},{43,31}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_140_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{187,161},{54,33}}</string>
                <key>offset</key>
                <string>{-0.5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,43},{54,33}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_140_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{187,124},{58,35}}</string>
                <key>offset</key>
                <string>{-0.5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,41},{58,35}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_140_iso_under</key>
            <dict>
                <key>frame</key>
                <string>{{209,102},{39,20}}</string>
                <key>offset</key>
                <string>{0,-18.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,47},{39,20}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_140_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{209,102},{39,20}}</string>
                <key>offset</key>
                <string>{0,-18.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,47},{39,20}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_140_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{85,47},{41,15}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,49},{41,15}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_140_alpha.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7a5ac07c017d53ca596c5eb5f01cb67$</string>
            <key>textureFileName</key>
            <string>carasset_140_alpha.png</string>
        </dict>
    </dict>
</plist>
