<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_66_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{191,100}}</string>
                <key>offset</key>
                <string>{5.5,-51.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,158},{191,100}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_66_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,49}}</string>
                <key>offset</key>
                <string>{-1,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,225},{210,49}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_66_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{104,77},{84,44}}</string>
                <key>offset</key>
                <string>{2.5,-22.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,69},{84,44}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_66_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{104,53},{90,22}}</string>
                <key>offset</key>
                <string>{-0.5,-40.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,98},{90,22}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_66_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{190,77},{50,22}}</string>
                <key>offset</key>
                <string>{-14.5,-30.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,88},{50,22}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_66_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{104,129},{112,51}}</string>
                <key>offset</key>
                <string>{-32,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,200},{112,51}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_66_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{45,34}}</string>
                <key>offset</key>
                <string>{0,-12.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,34},{45,34}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_66_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{214,105},{45,29}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,38},{45,29}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_66_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{214,49},{54,32}}</string>
                <key>offset</key>
                <string>{1.5,-21.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,44},{54,32}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_66_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{214,49},{54,32}}</string>
                <key>offset</key>
                <string>{1.5,-21.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,44},{54,32}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_66_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{157,123},{24,19}}</string>
                <key>offset</key>
                <string>{10.5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,47},{24,19}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_66_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{183,129},{24,17}}</string>
                <key>offset</key>
                <string>{7.5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,49},{24,17}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_66_alpha.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02160afe6db2a58cfcd3fa5a168be346$</string>
            <key>textureFileName</key>
            <string>carasset_66_alpha.png</string>
        </dict>
    </dict>
</plist>
