<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_162_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{124,5},{1,1}}</string>
                <key>offset</key>
                <string>{-208.5,156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_162_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,33},{209,64}}</string>
                <key>offset</key>
                <string>{-3.5,-89.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,214},{209,64}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_162_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{1,1}}</string>
                <key>offset</key>
                <string>{-91,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_162_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,29}}</string>
                <key>offset</key>
                <string>{-1.5,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,92},{92,29}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_162_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{1,1}}</string>
                <key>offset</key>
                <string>{-52,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_162_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{1,1}}</string>
                <key>offset</key>
                <string>{-52,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_162_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{68,33},{53,26}}</string>
                <key>offset</key>
                <string>{-1,-21.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,47},{53,26}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_162_iso_shadow_front_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{53,26}}</string>
                <key>offset</key>
                <string>{-1,-21.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,47},{53,26}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_162_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{68,114},{52,24}}</string>
                <key>offset</key>
                <string>{-0.5,-20.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,47},{52,24}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_162_iso_shadow_rear_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{68,88},{52,24}}</string>
                <key>offset</key>
                <string>{0.5,-21.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,48},{52,24}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_162_alpha.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c1524bd02a754dfe173733edbca2df7$</string>
            <key>textureFileName</key>
            <string>carasset_162_alpha.png</string>
        </dict>
    </dict>
</plist>
