<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_170_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{1,1}}</string>
                <key>offset</key>
                <string>{-208.5,156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_170_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{256,61}}</string>
                <key>offset</key>
                <string>{-5,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,219},{256,61}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_170_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{1,1}}</string>
                <key>offset</key>
                <string>{-91,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_170_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,26}}</string>
                <key>offset</key>
                <string>{-2.5,-40.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,96},{108,26}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_170_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{1,1}}</string>
                <key>offset</key>
                <string>{-52,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_170_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{1,1}}</string>
                <key>offset</key>
                <string>{-52,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_170_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{71,30},{63,34}}</string>
                <key>offset</key>
                <string>{0,-19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,41},{63,34}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_170_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{67,39}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,38},{67,39}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_170_alpha.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f02f7cae03d76d3f5f89980b519567a$</string>
            <key>textureFileName</key>
            <string>carasset_170_alpha.png</string>
        </dict>
    </dict>
</plist>
