<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_29_angle_overlay</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{427,186}}</string>
                <key>offset</key>
                <string>{10,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,318},{427,186}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_29_angle-hd.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:392ee13840f8b0eba4a91b7a1e199dde$</string>
            <key>textureFileName</key>
            <string>carasset_29_angle-hd.png</string>
        </dict>
    </dict>
</plist>
