<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_81_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{218,160}}</string>
                <key>offset</key>
                <string>{2,-15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,92},{218,160}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_81_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{243,57}}</string>
                <key>offset</key>
                <string>{-0.5,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,224},{243,57}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_81_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{139,223},{96,71}}</string>
                <key>offset</key>
                <string>{0.5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,40},{96,71}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_81_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{222,98},{105,25}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,98},{105,25}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_81_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{207,296},{60,33}}</string>
                <key>offset</key>
                <string>{-14.5,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,76},{60,33}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_81_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{135,74}}</string>
                <key>offset</key>
                <string>{-32.5,-54.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,174},{135,74}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_81_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{52,53}}</string>
                <key>offset</key>
                <string>{-1.5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,13},{52,53}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_81_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{57,299},{52,49}}</string>
                <key>offset</key>
                <string>{-1.5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{52,49}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_81_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{139,296},{66,39}}</string>
                <key>offset</key>
                <string>{-0.5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,38},{66,39}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_81_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{139,296},{66,39}}</string>
                <key>offset</key>
                <string>{-0.5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,38},{66,39}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_81_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{222,81},{26,15}}</string>
                <key>offset</key>
                <string>{9.5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,46},{26,15}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_81_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{222,61},{28,18}}</string>
                <key>offset</key>
                <string>{9.5,-13.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,43},{28,18}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_81_alpha.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06cf4b084870cb87d53574994c232dbe$</string>
            <key>textureFileName</key>
            <string>carasset_81_alpha.png</string>
        </dict>
    </dict>
</plist>
