<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_31_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{223,107}}</string>
                <key>offset</key>
                <string>{-4.5,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,126},{223,107}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_31_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{256,62}}</string>
                <key>offset</key>
                <string>{-8,-90.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,216},{256,62}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_31_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{83,208},{98,47}}</string>
                <key>offset</key>
                <string>{-2.5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,55},{98,47}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_31_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{83,178},{110,28}}</string>
                <key>offset</key>
                <string>{-3.5,-39.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,94},{110,28}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_31_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{217,166},{94,30}}</string>
                <key>offset</key>
                <string>{-1.5,-23.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,77},{94,30}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_31_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{213,65}}</string>
                <key>offset</key>
                <string>{-3.5,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,178},{213,65}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_31_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{217,111},{53,37}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,27},{53,37}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_31_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{43,436},{53,38}}</string>
                <key>offset</key>
                <string>{-1,-7.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,27},{53,38}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_31_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{68,39}}</string>
                <key>offset</key>
                <string>{-0.5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,38},{68,39}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_31_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{68,39}}</string>
                <key>offset</key>
                <string>{-0.5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,38},{68,39}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_31_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{50,21}}</string>
                <key>offset</key>
                <string>{-0.5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,44},{50,21}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_31_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{227,54},{30,21}}</string>
                <key>offset</key>
                <string>{10.5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,42},{30,21}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_31_alpha.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f4d7bc21195c2fd2c56b47aa511eb6f$</string>
            <key>textureFileName</key>
            <string>carasset_31_alpha.png</string>
        </dict>
    </dict>
</plist>
