<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_92_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{224,65},{1,1}}</string>
                <key>offset</key>
                <string>{-260.5,195.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{522,392}</string>
            </dict>
            <key>carasset_92_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{223,58}}</string>
                <key>offset</key>
                <string>{-3.5,-93.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,221},{223,58}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_92_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{224,65},{1,1}}</string>
                <key>offset</key>
                <string>{-91,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_92_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{96,26}}</string>
                <key>offset</key>
                <string>{-1.5,-40.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,96},{96,26}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_92_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{199,62},{61,23}}</string>
                <key>offset</key>
                <string>{-12,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,83},{61,23}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_92_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{195,52}}</string>
                <key>offset</key>
                <string>{-0.5,-59.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,190},{195,52}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_92_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{224,62},{1,1}}</string>
                <key>offset</key>
                <string>{-52,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_92_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{224,62},{1,1}}</string>
                <key>offset</key>
                <string>{-52,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_92_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{224,100},{56,29}}</string>
                <key>offset</key>
                <string>{0.5,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,45},{56,29}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_92_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{57,31}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,44},{57,31}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_92_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{21,125},{48,22}}</string>
                <key>offset</key>
                <string>{0.5,-13.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,41},{48,22}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_92_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{29,17}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,46},{29,17}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_92_alpha.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9ff19213dc7355316660a1e3fb089dc$</string>
            <key>textureFileName</key>
            <string>carasset_92_alpha.png</string>
        </dict>
    </dict>
</plist>
