<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_111_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{1,1}}</string>
                <key>offset</key>
                <string>{-208.5,156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_111_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{271,61}}</string>
                <key>offset</key>
                <string>{-11.5,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,215},{271,61}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_111_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{1,1}}</string>
                <key>offset</key>
                <string>{-91,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_111_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,28}}</string>
                <key>offset</key>
                <string>{-5,-38.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,93},{117,28}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_111_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{1,1}}</string>
                <key>offset</key>
                <string>{-52,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_111_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{1,1}}</string>
                <key>offset</key>
                <string>{-52,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_111_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{69,99},{65,38}}</string>
                <key>offset</key>
                <string>{3,-19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,39},{65,38}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_111_iso_shadow_front_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{65,38}}</string>
                <key>offset</key>
                <string>{-4,-19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,39},{65,38}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_111_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{71,32},{65,38}}</string>
                <key>offset</key>
                <string>{1,-19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,39},{65,38}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_111_iso_shadow_rear_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{67,40}}</string>
                <key>offset</key>
                <string>{-1,-18.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,37},{67,40}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_111_alpha.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffab993c8fe15919677e2892b8c5b422$</string>
            <key>textureFileName</key>
            <string>carasset_111_alpha.png</string>
        </dict>
    </dict>
</plist>
