<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_192_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{0,108},{387,168}}</string>
                <key>offset</key>
                <string>{6,-116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,345},{387,168}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_192_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{457,108}}</string>
                <key>offset</key>
                <string>{2,-185}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,444},{457,108}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_192_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{260,290},{171,74}}</string>
                <key>offset</key>
                <string>{2,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,151},{171,74}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_192_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{457,91},{199,48}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,193},{199,48}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_192_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{249,467},{159,40}}</string>
                <key>offset</key>
                <string>{-2,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,179},{159,40}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_192_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{168,108},{359,92}}</string>
                <key>offset</key>
                <string>{-4,-141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,408},{359,92}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_192_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{260,108},{91,68}}</string>
                <key>offset</key>
                <string>{3,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,67},{91,68}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_192_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{457,0},{91,54}}</string>
                <key>offset</key>
                <string>{-3,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,81},{91,54}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_192_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{334,108},{111,60}}</string>
                <key>offset</key>
                <string>{3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,87},{111,60}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_192_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{328,168},{109,60}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,90},{109,60}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_192_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{168,467},{81,42}}</string>
                <key>offset</key>
                <string>{7,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,90},{81,42}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_192_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{260,199},{85,30}}</string>
                <key>offset</key>
                <string>{-5,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,100},{85,30}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_192_alpha-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f7be5d943269d36daaa124c62d6951c$</string>
            <key>textureFileName</key>
            <string>carasset_192_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
