<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_7_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{147,104}}</string>
                <key>offset</key>
                <string>{0.5,-43.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,148},{147,104}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_7_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,41}}</string>
                <key>offset</key>
                <string>{-5.5,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,236},{167,41}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_7_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{171,22},{65,47}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,64},{65,47}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_7_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{72,18}}</string>
                <key>offset</key>
                <string>{-1.5,-43.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,103},{72,18}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_7_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{151,110},{45,17}}</string>
                <key>offset</key>
                <string>{-10,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,94},{45,17}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_7_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{151,71},{102,37}}</string>
                <key>offset</key>
                <string>{-22,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,215},{102,37}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_7_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{35,32}}</string>
                <key>offset</key>
                <string>{-2,-8.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,31},{35,32}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_7_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{194,136},{35,32}}</string>
                <key>offset</key>
                <string>{-1,-10.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,33},{35,32}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_7_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{151,129},{41,24}}</string>
                <key>offset</key>
                <string>{-1,-20.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,47},{41,24}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_7_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{198,110},{43,24}}</string>
                <key>offset</key>
                <string>{-1,-20.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,47},{43,24}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_7_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{238,22},{21,14}}</string>
                <key>offset</key>
                <string>{5,-16.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,48},{21,14}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_7_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{238,45},{19,12}}</string>
                <key>offset</key>
                <string>{6,-17.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,50},{19,12}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_7_alpha.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ff158bbfb09b010ea7bde418cd5a0ad$</string>
            <key>textureFileName</key>
            <string>carasset_7_alpha.png</string>
        </dict>
    </dict>
</plist>
