<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_164_angle_thumbnail_overlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{93,63}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,49},{93,63}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_164_angle_th.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f6e6d1515686d902b5a799e7938b113$</string>
            <key>textureFileName</key>
            <string>carasset_164_angle_th.png</string>
        </dict>
    </dict>
</plist>
