<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_47_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{484,216}}</string>
                <key>offset</key>
                <string>{-35.5,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,270},{484,216}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_47_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,466},{554,128}}</string>
                <key>offset</key>
                <string>{-42.5,-183}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,432},{554,128}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_47_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{204,306},{214,98}}</string>
                <key>offset</key>
                <string>{-15.5,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,116},{214,98}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_47_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{450,224},{238,58}}</string>
                <key>offset</key>
                <string>{-17.5,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,188},{238,58}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_47_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{4,308},{132,36}}</string>
                <key>offset</key>
                <string>{-40.5,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,178},{132,36}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_47_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{4,224},{298,78}}</string>
                <key>offset</key>
                <string>{-94.5,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,408},{298,78}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_47_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{126,308},{114,74}}</string>
                <key>offset</key>
                <string>{-1.5,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,62},{114,74}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_47_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{44,308},{114,78}}</string>
                <key>offset</key>
                <string>{-1.5,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,60},{114,78}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_47_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{306,224},{140,80}}</string>
                <key>offset</key>
                <string>{-0.5,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,74},{140,80}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_47_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{306,224},{140,80}}</string>
                <key>offset</key>
                <string>{-0.5,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,74},{140,80}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_47_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{44,426},{96,36}}</string>
                <key>offset</key>
                <string>{-2.5,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,98},{96,36}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_47_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{144,426},{108,44}}</string>
                <key>offset</key>
                <string>{-2.5,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,92},{108,44}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_47_alpha-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56f88d47dbbca1b1d5c034f3f75d7e93$</string>
            <key>textureFileName</key>
            <string>carasset_47_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
