<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wheel_143_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,21},{18,23}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{18,23}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
            <key>wheel_143_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,21},{18,23}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{18,23}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
            <key>wheel_143_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,1},{18,23}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{18,23}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
            <key>wheel_143_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,26},{18,23}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{18,23}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
            <key>wheel_143_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{18,23}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{18,23}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
            <key>wheel_21_iso_animation</key>
            <dict>
                <key>frame</key>
                <string>{{16777215,16777265},{-33554431,-33554431}}</string>
                <key>offset</key>
                <string>{-1.67772e+07,1.67772e+07}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{-33554431,-33554431}}</string>
                <key>sourceSize</key>
                <string>{-1,-1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wheel_143-hd.png</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71509b3ab512ca706c3c4bceb98eaf09$</string>
            <key>textureFileName</key>
            <string>wheel_143-hd.png</string>
        </dict>
    </dict>
</plist>
