<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Tow Truck/truck_E_overwheel</key>
		<dict>
			<key>frame</key>
			<string>{{784,625},{70,21}}</string>
			<key>offset</key>
			<string>{4,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{43,54},{70,21}}</string>
			<key>sourceSize</key>
			<string>{148,111}</string>
		</dict>
		<key>Tow Truck/truck_E_top</key>
		<dict>
			<key>frame</key>
			<string>{{83,684},{96,51}}</string>
			<key>offset</key>
			<string>{-6,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,23},{96,51}}</string>
			<key>sourceSize</key>
			<string>{148,111}</string>
		</dict>
		<key>Tow Truck/truck_NE_overwheel</key>
		<dict>
			<key>frame</key>
			<string>{{181,683},{52,41}}</string>
			<key>offset</key>
			<string>{2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{50,41},{52,41}}</string>
			<key>sourceSize</key>
			<string>{148,111}</string>
		</dict>
		<key>Tow Truck/truck_NE_top</key>
		<dict>
			<key>frame</key>
			<string>{{378,442},{78,55}}</string>
			<key>offset</key>
			<string>{-15,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,27},{78,55}}</string>
			<key>sourceSize</key>
			<string>{148,111}</string>
		</dict>
		<key>Tow Truck/truck_NW_overwheel</key>
		<dict>
			<key>frame</key>
			<string>{{181,737},{52,41}}</string>
			<key>offset</key>
			<string>{-28,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,40},{52,41}}</string>
			<key>sourceSize</key>
			<string>{148,111}</string>
		</dict>
		<key>Tow Truck/truck_NW_top</key>
		<dict>
			<key>frame</key>
			<string>{{378,360},{80,55}}</string>
			<key>offset</key>
			<string>{-12,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,27},{80,55}}</string>
			<key>sourceSize</key>
			<string>{148,111}</string>
		</dict>
		<key>Tow Truck/truck_N_overwheel</key>
		<dict>
			<key>frame</key>
			<string>{{139,536},{52,53}}</string>
			<key>offset</key>
			<string>{-13,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,28},{52,53}}</string>
			<key>sourceSize</key>
			<string>{148,111}</string>
		</dict>
		<key>Tow Truck/truck_N_top</key>
		<dict>
			<key>frame</key>
			<string>{{135,737},{44,57}}</string>
			<key>offset</key>
			<string>{-11,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,28},{44,57}}</string>
			<key>sourceSize</key>
			<string>{148,111}</string>
		</dict>
		<key>Tow Truck/truck_SE_overwheel</key>
		<dict>
			<key>frame</key>
			<string>{{636,406},{80,39}}</string>
			<key>offset</key>
			<string>{-11,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,45},{80,39}}</string>
			<key>sourceSize</key>
			<string>{148,111}</string>
		</dict>
		<key>Tow Truck/truck_SE_top</key>
		<dict>
			<key>frame</key>
			<string>{{274,500},{80,77}}</string>
			<key>offset</key>
			<string>{-14,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,6},{80,77}}</string>
			<key>sourceSize</key>
			<string>{148,111}</string>
		</dict>
		<key>Tow Truck/truck_SW_overwheel</key>
		<dict>
			<key>frame</key>
			<string>{{636,320},{84,39}}</string>
			<key>offset</key>
			<string>{-13,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,45},{84,39}}</string>
			<key>sourceSize</key>
			<string>{148,111}</string>
		</dict>
		<key>Tow Truck/truck_SW_top</key>
		<dict>
			<key>frame</key>
			<string>{{811,603},{82,77}}</string>
			<key>offset</key>
			<string>{-12,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,6},{82,77}}</string>
			<key>sourceSize</key>
			<string>{148,111}</string>
		</dict>
		<key>Tow Truck/truck_S_overwheel</key>
		<dict>
			<key>frame</key>
			<string>{{193,536},{52,43}}</string>
			<key>offset</key>
			<string>{-6,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{42,37},{52,43}}</string>
			<key>sourceSize</key>
			<string>{148,111}</string>
		</dict>
		<key>Tow Truck/truck_S_top</key>
		<dict>
			<key>frame</key>
			<string>{{137,361},{48,83}}</string>
			<key>offset</key>
			<string>{-5,12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{45,2},{48,83}}</string>
			<key>sourceSize</key>
			<string>{148,111}</string>
		</dict>
		<key>Tow Truck/truck_W_overwheel</key>
		<dict>
			<key>frame</key>
			<string>{{635,584},{80,21}}</string>
			<key>offset</key>
			<string>{-11,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,54},{80,21}}</string>
			<key>sourceSize</key>
			<string>{148,111}</string>
		</dict>
		<key>Tow Truck/truck_W_top</key>
		<dict>
			<key>frame</key>
			<string>{{90,908},{96,49}}</string>
			<key>offset</key>
			<string>{-6,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,23},{96,49}}</string>
			<key>sourceSize</key>
			<string>{148,111}</string>
		</dict>
		<key>Tow Truck/truck_shadow_E</key>
		<dict>
			<key>frame</key>
			<string>{{895,617},{112,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{112,46}}</string>
			<key>sourceSize</key>
			<string>{114,46}</string>
		</dict>
		<key>Tow Truck/truck_shadow_N</key>
		<dict>
			<key>frame</key>
			<string>{{811,522},{79,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,83}}</string>
			<key>sourceSize</key>
			<string>{79,83}</string>
		</dict>
		<key>Tow Truck/truck_shadow_NE</key>
		<dict>
			<key>frame</key>
			<string>{{83,801},{105,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,62}}</string>
			<key>sourceSize</key>
			<string>{105,62}</string>
		</dict>
		<key>Tow Truck/truck_shadow_NW</key>
		<dict>
			<key>frame</key>
			<string>{{891,737},{105,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,62}}</string>
			<key>sourceSize</key>
			<string>{105,62}</string>
		</dict>
		<key>Tow Truck/truck_shadow_S</key>
		<dict>
			<key>frame</key>
			<string>{{819,441},{79,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,83}}</string>
			<key>sourceSize</key>
			<string>{79,83}</string>
		</dict>
		<key>Tow Truck/truck_shadow_SE</key>
		<dict>
			<key>frame</key>
			<string>{{784,697},{105,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,62}}</string>
			<key>sourceSize</key>
			<string>{105,62}</string>
		</dict>
		<key>Tow Truck/truck_shadow_SW</key>
		<dict>
			<key>frame</key>
			<string>{{571,484},{105,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,62}}</string>
			<key>sourceSize</key>
			<string>{105,62}</string>
		</dict>
		<key>Tow Truck/truck_shadow_W</key>
		<dict>
			<key>frame</key>
			<string>{{906,430},{112,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{112,46}}</string>
			<key>sourceSize</key>
			<string>{114,46}</string>
		</dict>
		<key>Tow Truck/truck_wheel_E_1</key>
		<dict>
			<key>frame</key>
			<string>{{171,645},{17,18}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{17,18}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_E_2</key>
		<dict>
			<key>frame</key>
			<string>{{188,992},{17,18}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{17,18}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_E_3</key>
		<dict>
			<key>frame</key>
			<string>{{169,992},{17,18}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{17,18}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_E_4</key>
		<dict>
			<key>frame</key>
			<string>{{150,992},{17,18}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{17,18}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_E_5</key>
		<dict>
			<key>frame</key>
			<string>{{130,1006},{17,18}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,4},{17,18}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_NE_1</key>
		<dict>
			<key>frame</key>
			<string>{{103,648},{15,18}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{15,18}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_NE_2</key>
		<dict>
			<key>frame</key>
			<string>{{83,648},{15,18}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{15,18}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_NE_3</key>
		<dict>
			<key>frame</key>
			<string>{{163,666},{15,18}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{15,18}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_NE_4</key>
		<dict>
			<key>frame</key>
			<string>{{143,666},{15,18}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{15,18}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_NE_5</key>
		<dict>
			<key>frame</key>
			<string>{{123,666},{15,18}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{15,18}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_NW_1</key>
		<dict>
			<key>frame</key>
			<string>{{103,666},{15,18}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{15,18}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_NW_2</key>
		<dict>
			<key>frame</key>
			<string>{{83,666},{15,18}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{15,18}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_NW_3</key>
		<dict>
			<key>frame</key>
			<string>{{658,664},{15,18}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{15,18}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_NW_4</key>
		<dict>
			<key>frame</key>
			<string>{{658,644},{15,18}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{15,18}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_NW_5</key>
		<dict>
			<key>frame</key>
			<string>{{1007,725},{15,18}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{15,18}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_N_1</key>
		<dict>
			<key>frame</key>
			<string>{{1009,217},{9,22}}</string>
			<key>offset</key>
			<string>{-7,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{9,22}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_N_2</key>
		<dict>
			<key>frame</key>
			<string>{{1009,193},{9,22}}</string>
			<key>offset</key>
			<string>{-7,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{9,22}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_N_3</key>
		<dict>
			<key>frame</key>
			<string>{{1009,169},{9,22}}</string>
			<key>offset</key>
			<string>{-7,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{9,22}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_N_4</key>
		<dict>
			<key>frame</key>
			<string>{{1009,145},{9,22}}</string>
			<key>offset</key>
			<string>{-7,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{9,22}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_N_5</key>
		<dict>
			<key>frame</key>
			<string>{{1009,121},{9,22}}</string>
			<key>offset</key>
			<string>{-7,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{9,22}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_SE_1</key>
		<dict>
			<key>frame</key>
			<string>{{1007,705},{15,18}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{15,18}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_SE_2</key>
		<dict>
			<key>frame</key>
			<string>{{1007,685},{15,18}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{15,18}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_SE_3</key>
		<dict>
			<key>frame</key>
			<string>{{1007,665},{15,18}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{15,18}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_SE_4</key>
		<dict>
			<key>frame</key>
			<string>{{658,624},{15,18}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{15,18}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_SE_5</key>
		<dict>
			<key>frame</key>
			<string>{{658,604},{15,18}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{15,18}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_SW_1</key>
		<dict>
			<key>frame</key>
			<string>{{658,584},{15,18}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{15,18}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_SW_2</key>
		<dict>
			<key>frame</key>
			<string>{{197,411},{15,18}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{15,18}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_SW_3</key>
		<dict>
			<key>frame</key>
			<string>{{177,411},{15,18}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{15,18}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_SW_4</key>
		<dict>
			<key>frame</key>
			<string>{{157,411},{15,18}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{15,18}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_SW_5</key>
		<dict>
			<key>frame</key>
			<string>{{137,411},{15,18}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{15,18}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_S_1</key>
		<dict>
			<key>frame</key>
			<string>{{1009,97},{9,22}}</string>
			<key>offset</key>
			<string>{-7,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{9,22}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_S_2</key>
		<dict>
			<key>frame</key>
			<string>{{1009,73},{9,22}}</string>
			<key>offset</key>
			<string>{-7,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{9,22}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_S_3</key>
		<dict>
			<key>frame</key>
			<string>{{1009,49},{9,22}}</string>
			<key>offset</key>
			<string>{-7,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{9,22}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_S_4</key>
		<dict>
			<key>frame</key>
			<string>{{1009,25},{9,22}}</string>
			<key>offset</key>
			<string>{-7,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{9,22}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_S_5</key>
		<dict>
			<key>frame</key>
			<string>{{1009,1},{9,22}}</string>
			<key>offset</key>
			<string>{-7,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{9,22}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_W_1</key>
		<dict>
			<key>frame</key>
			<string>{{110,1006},{17,18}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{17,18}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_W_2</key>
		<dict>
			<key>frame</key>
			<string>{{90,1006},{17,18}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{17,18}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_W_3</key>
		<dict>
			<key>frame</key>
			<string>{{998,783},{17,18}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{17,18}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_W_4</key>
		<dict>
			<key>frame</key>
			<string>{{998,764},{17,18}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{17,18}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>Tow Truck/truck_wheel_W_5</key>
		<dict>
			<key>frame</key>
			<string>{{998,745},{17,18}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{17,18}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>arrow</key>
		<dict>
			<key>frame</key>
			<string>{{635,554},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>car_rescue_bg_brown</key>
		<dict>
			<key>frame</key>
			<string>{{678,248},{228,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{228,118}}</string>
			<key>sourceSize</key>
			<string>{228,118}</string>
		</dict>
		<key>car_rescue_bg_frame</key>
		<dict>
			<key>frame</key>
			<string>{{678,1},{245,329}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,329}}</string>
			<key>sourceSize</key>
			<string>{245,329}</string>
		</dict>
		<key>car_rescue_bg_white_big</key>
		<dict>
			<key>frame</key>
			<string>{{224,273},{85,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,209}}</string>
			<key>sourceSize</key>
			<string>{85,209}</string>
		</dict>
		<key>car_rescue_bg_white_medium</key>
		<dict>
			<key>frame</key>
			<string>{{1,273},{62,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,154}}</string>
			<key>sourceSize</key>
			<string>{62,154}</string>
		</dict>
		<key>car_rescue_btn_findcar</key>
		<dict>
			<key>frame</key>
			<string>{{224,360},{138,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,152}}</string>
			<key>sourceSize</key>
			<string>{138,152}</string>
		</dict>
		<key>car_rescue_btn_streetsign</key>
		<dict>
			<key>frame</key>
			<string>{{895,665},{70,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,110}}</string>
			<key>sourceSize</key>
			<string>{70,110}</string>
		</dict>
		<key>car_rescue_cartype_bg</key>
		<dict>
			<key>frame</key>
			<string>{{127,591},{55,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,42}}</string>
			<key>sourceSize</key>
			<string>{55,42}</string>
		</dict>
		<key>car_rescue_cartype_unknown</key>
		<dict>
			<key>frame</key>
			<string>{{83,591},{55,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,42}}</string>
			<key>sourceSize</key>
			<string>{55,42}</string>
		</dict>
		<key>car_rescue_flat_tire</key>
		<dict>
			<key>frame</key>
			<string>{{83,536},{54,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,53}}</string>
			<key>sourceSize</key>
			<string>{54,53}</string>
		</dict>
		<key>car_rescue_game_bar</key>
		<dict>
			<key>frame</key>
			<string>{{1,430},{480,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{480,80}}</string>
			<key>sourceSize</key>
			<string>{480,80}</string>
		</dict>
		<key>car_rescue_game_pin</key>
		<dict>
			<key>frame</key>
			<string>{{141,908},{49,82}}</string>
			<key>offset</key>
			<string>{-12,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,82}}</string>
			<key>sourceSize</key>
			<string>{73,82}</string>
		</dict>
		<key>car_rescue_game_pin_shadow</key>
		<dict>
			<key>frame</key>
			<string>{{171,591},{51,52}}</string>
			<key>offset</key>
			<string>{11,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,30},{51,52}}</string>
			<key>sourceSize</key>
			<string>{73,82}</string>
		</dict>
		<key>car_rescue_game_ring_blue</key>
		<dict>
			<key>frame</key>
			<string>{{675,681},{107,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,54}}</string>
			<key>sourceSize</key>
			<string>{107,54}</string>
		</dict>
		<key>car_rescue_game_ring_red</key>
		<dict>
			<key>frame</key>
			<string>{{675,625},{107,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,54}}</string>
			<key>sourceSize</key>
			<string>{107,54}</string>
		</dict>
		<key>car_rescue_game_road_sign</key>
		<dict>
			<key>frame</key>
			<string>{{435,424},{121,134}}</string>
			<key>offset</key>
			<string>{-42,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,0},{121,134}}</string>
			<key>sourceSize</key>
			<string>{221,136}</string>
		</dict>
		<key>car_rescue_game_road_sign_shadow</key>
		<dict>
			<key>frame</key>
			<string>{{65,273},{157,86}}</string>
			<key>offset</key>
			<string>{32,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{64,49},{157,86}}</string>
			<key>sourceSize</key>
			<string>{221,136}</string>
		</dict>
		<key>car_rescue_game_whammy</key>
		<dict>
			<key>frame</key>
			<string>{{819,368},{85,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,71}}</string>
			<key>sourceSize</key>
			<string>{85,71}</string>
		</dict>
		<key>car_rescue_header</key>
		<dict>
			<key>frame</key>
			<string>{{908,248},{180,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,115}}</string>
			<key>sourceSize</key>
			<string>{180,115}</string>
		</dict>
		<key>car_rescue_map</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{675,270}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{675,270}}</string>
			<key>sourceSize</key>
			<string>{675,270}</string>
		</dict>
		<key>car_rescue_talk</key>
		<dict>
			<key>frame</key>
			<string>{{435,273},{199,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,149}}</string>
			<key>sourceSize</key>
			<string>{199,149}</string>
		</dict>
		<key>car_rescue_tarp_medium</key>
		<dict>
			<key>frame</key>
			<string>{{1,912},{111,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,87}}</string>
			<key>sourceSize</key>
			<string>{111,87}</string>
		</dict>
		<key>car_rescue_tarp_small</key>
		<dict>
			<key>frame</key>
			<string>{{147,802},{81,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,79}}</string>
			<key>sourceSize</key>
			<string>{81,79}</string>
		</dict>
		<key>car_rescue_tarp_xlarge</key>
		<dict>
			<key>frame</key>
			<string>{{675,504},{134,119}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,119}}</string>
			<key>sourceSize</key>
			<string>{134,121}</string>
		</dict>
		<key>car_rescue_wrench</key>
		<dict>
			<key>frame</key>
			<string>{{636,273},{45,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,40}}</string>
			<key>sourceSize</key>
			<string>{45,40}</string>
		</dict>
		<key>car_rescue_wrench_large</key>
		<dict>
			<key>frame</key>
			<string>{{224,737},{50,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,48}}</string>
			<key>sourceSize</key>
			<string>{50,48}</string>
		</dict>
		<key>collect_animation_car</key>
		<dict>
			<key>frame</key>
			<string>{{571,424},{63,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,58}}</string>
			<key>sourceSize</key>
			<string>{63,58}</string>
		</dict>
		<key>icon_fuel_atk_outline</key>
		<dict>
			<key>frame</key>
			<string>{{635,521},{31,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,38}}</string>
			<key>sourceSize</key>
			<string>{31,38}</string>
		</dict>
		<key>icon_fuel_def_outline</key>
		<dict>
			<key>frame</key>
			<string>{{635,488},{31,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,38}}</string>
			<key>sourceSize</key>
			<string>{31,38}</string>
		</dict>
		<key>icon_shield</key>
		<dict>
			<key>frame</key>
			<string>{{83,737},{50,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,57}}</string>
			<key>sourceSize</key>
			<string>{50,57}</string>
		</dict>
		<key>icon_trophy</key>
		<dict>
			<key>frame</key>
			<string>{{65,368},{70,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,58}}</string>
			<key>sourceSize</key>
			<string>{70,58}</string>
		</dict>
		<key>rusty_generic</key>
		<dict>
			<key>frame</key>
			<string>{{90,428},{106,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,132}}</string>
			<key>sourceSize</key>
			<string>{106,132}</string>
		</dict>
		<key>rusty_sad</key>
		<dict>
			<key>frame</key>
			<string>{{904,478},{119,137}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{119,137}}</string>
			<key>sourceSize</key>
			<string>{125,139}</string>
		</dict>
		<key>social_street_sign</key>
		<dict>
			<key>frame</key>
			<string>{{677,368},{140,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,134}}</string>
			<key>sourceSize</key>
			<string>{140,134}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>car_rescue.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:fdbb0c3156ed0fc487c8e77ce57ae974$</string>
		<key>textureFileName</key>
		<string>car_rescue.png</string>
	</dict>
</dict>
</plist>
