<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_166_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,116},{420,172}}</string>
                <key>offset</key>
                <string>{-1.5,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,330},{420,172}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_166_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{462,108}}</string>
                <key>offset</key>
                <string>{-10.5,-183}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,442},{462,108}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_166_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{428,116},{184,78}}</string>
                <key>offset</key>
                <string>{-0.5,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,144},{184,78}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_166_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,304},{198,50}}</string>
                <key>offset</key>
                <string>{-3.5,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,192},{198,50}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_166_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{206,442},{124,48}}</string>
                <key>offset</key>
                <string>{-30.5,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,172},{124,48}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_166_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{216,304},{278,110}}</string>
                <key>offset</key>
                <string>{-66.5,-132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,390},{278,110}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_166_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{334,418},{100,68}}</string>
                <key>offset</key>
                <string>{1.5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,68},{100,68}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_166_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{102,442},{100,62}}</string>
                <key>offset</key>
                <string>{-0.5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,70},{100,62}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_166_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{138,304},{134,74}}</string>
                <key>offset</key>
                <string>{4.5,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,80},{134,74}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_166_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{58,304},{134,76}}</string>
                <key>offset</key>
                <string>{0.5,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,78},{134,76}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_166_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{58,442},{66,40}}</string>
                <key>offset</key>
                <string>{18.5,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,94},{66,40}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_166_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{470,4},{60,38}}</string>
                <key>offset</key>
                <string>{19.5,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,92},{60,38}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_166_alpha-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba7320d92bb5d5376f98c1484895b919$</string>
            <key>textureFileName</key>
            <string>carasset_166_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
