<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_177_iso_overlay_front</key>
            <dict>
                <key>frame</key>
                <string>{{108,65},{103,79}}</string>
                <key>offset</key>
                <string>{5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,60},{103,79}}</string>
                <key>sourceSize</key>
                <string>{209,157}</string>
            </dict>
            <key>carasset_177_iso_overlay_front_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{105,81}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,59},{105,81}}</string>
                <key>sourceSize</key>
                <string>{209,157}</string>
            </dict>
            <key>carasset_177_iso_overlay_rear</key>
            <dict>
                <key>frame</key>
                <string>{{1,84},{103,62}}</string>
                <key>offset</key>
                <string>{-5,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,77},{103,62}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_177_iso_overlay_rear_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{108,1},{105,62}}</string>
                <key>offset</key>
                <string>{7,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,76},{105,62}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_177_iso-hd.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2767b6f8552fa38be80236913d95b9d4$</string>
            <key>textureFileName</key>
            <string>carasset_177_iso-hd.png</string>
        </dict>
    </dict>
</plist>
