<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_89_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,33},{254,85}}</string>
                <key>offset</key>
                <string>{-22,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,147},{254,85}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_89_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{118,82},{281,66}}</string>
                <key>offset</key>
                <string>{-27.5,-89.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,213},{281,66}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_89_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{112,38}}</string>
                <key>offset</key>
                <string>{-9.5,-14.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,64},{112,38}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_89_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,29}}</string>
                <key>offset</key>
                <string>{-12,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,92},{121,29}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_89_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{239,36},{23,13}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,89},{23,13}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_89_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{89,33},{52,27}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,205},{52,27}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_89_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{186,139},{60,37}}</string>
                <key>offset</key>
                <string>{0.5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,27},{60,37}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_89_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{186,101},{61,36}}</string>
                <key>offset</key>
                <string>{-1,-10.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,31},{61,36}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_89_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{187,61},{67,38}}</string>
                <key>offset</key>
                <string>{1,-18.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,38},{67,38}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_89_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{118,42},{67,38}}</string>
                <key>offset</key>
                <string>{1,-18.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,38},{67,38}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_89_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{32,15}}</string>
                <key>offset</key>
                <string>{8.5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,48},{32,15}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_89_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{118,33},{6,4}}</string>
                <key>offset</key>
                <string>{23.5,-9.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,46},{6,4}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_89_alpha.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:034da08e98cb8e48104d4a3d795be4d2$</string>
            <key>textureFileName</key>
            <string>carasset_89_alpha.png</string>
        </dict>
    </dict>
</plist>
