<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_28_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{237,62}}</string>
                <key>offset</key>
                <string>{-7.5,-56.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,182},{237,62}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_28_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{255,59}}</string>
                <key>offset</key>
                <string>{-13.5,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,220},{255,59}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_28_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{63,145},{104,28}}</string>
                <key>offset</key>
                <string>{-3.5,-24.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,79},{104,28}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_28_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{66,251},{110,26}}</string>
                <key>offset</key>
                <string>{-5.5,-40.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,96},{110,26}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_28_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{93,145},{63,18}}</string>
                <key>offset</key>
                <string>{-19,-28.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,88},{63,18}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_28_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{141,41}}</string>
                <key>offset</key>
                <string>{-41.5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,201},{141,41}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_28_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{66,429},{57,36}}</string>
                <key>offset</key>
                <string>{-2,-10.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,31},{57,36}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_28_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{94,240},{57,32}}</string>
                <key>offset</key>
                <string>{-2,-12.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,35},{57,32}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_28_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{66,363},{64,38}}</string>
                <key>offset</key>
                <string>{-0.5,-19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,39},{64,38}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_28_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{66,363},{64,38}}</string>
                <key>offset</key>
                <string>{-0.5,-19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,39},{64,38}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_28_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{93,210},{28,15}}</string>
                <key>offset</key>
                <string>{8.5,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,49},{28,15}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_28_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{66,488},{22,14}}</string>
                <key>offset</key>
                <string>{12.5,-17.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,49},{22,14}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_28_alpha.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2344170974872bbe471012ad0bf6fe85$</string>
            <key>textureFileName</key>
            <string>carasset_28_alpha.png</string>
        </dict>
    </dict>
</plist>
