<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_81_iso_overlay_front</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{105,108}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,25},{105,108}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_81_iso_overlay_rear</key>
            <dict>
                <key>frame</key>
                <string>{{1,108},{105,98}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,34},{105,98}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_81_iso-hd.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33c9ee94c99c99b83cf5c43b512d45db$</string>
            <key>textureFileName</key>
            <string>carasset_81_iso-hd.png</string>
        </dict>
    </dict>
</plist>
