<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_141_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,148},{334,262}}</string>
                <key>offset</key>
                <string>{-12.5,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,252},{334,262}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_141_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{370,86}}</string>
                <key>offset</key>
                <string>{-20.5,-186}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,456},{370,86}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_141_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{270,404},{148,98}}</string>
                <key>offset</key>
                <string>{-0.5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,128},{148,98}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_141_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{422,344},{162,40}}</string>
                <key>offset</key>
                <string>{-3.5,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,198},{162,40}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_141_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{374,148},{134,44}}</string>
                <key>offset</key>
                <string>{-3.5,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,178},{134,44}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_141_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{270,94},{306,100}}</string>
                <key>offset</key>
                <string>{-20.5,-141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,404},{306,100}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_141_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{422,196},{86,78}}</string>
                <key>offset</key>
                <string>{-3.5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,58},{86,78}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_141_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{422,278},{86,62}}</string>
                <key>offset</key>
                <string>{-3.5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,72},{86,62}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_141_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{378,78},{108,66}}</string>
                <key>offset</key>
                <string>{-0.5,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,86},{108,66}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_141_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{378,4},{116,70}}</string>
                <key>offset</key>
                <string>{-0.5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,82},{116,70}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_141_iso_under</key>
            <dict>
                <key>frame</key>
                <string>{{466,344},{78,40}}</string>
                <key>offset</key>
                <string>{0.5,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,94},{78,40}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_141_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{466,344},{78,40}}</string>
                <key>offset</key>
                <string>{0.5,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,94},{78,40}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_141_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{466,426},{82,30}}</string>
                <key>offset</key>
                <string>{-3.5,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,98},{82,30}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_141_alpha-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a84b7d0a6a247597d6397066782d42f2$</string>
            <key>textureFileName</key>
            <string>carasset_141_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
