<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_181_angle_overlay</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{218,139}}</string>
                <key>offset</key>
                <string>{4,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,120},{218,139}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_181_angle.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdc222978fde04ef0ca2ff0d7fda3ae8$</string>
            <key>textureFileName</key>
            <string>carasset_181_angle.png</string>
        </dict>
    </dict>
</plist>
