<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_60_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{172,80}}</string>
                <key>offset</key>
                <string>{-2,-48.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,165},{172,80}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_60_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,48}}</string>
                <key>offset</key>
                <string>{-3,-95.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,228},{202,48}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_60_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{84,133},{76,35}}</string>
                <key>offset</key>
                <string>{-1.5,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,72},{76,35}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_60_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{87,20}}</string>
                <key>offset</key>
                <string>{-1,-41.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,100},{87,20}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_60_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{221,74},{57,25}}</string>
                <key>offset</key>
                <string>{-10,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,84},{57,25}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_60_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{91,56},{128,54}}</string>
                <key>offset</key>
                <string>{-22,-64.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,194},{128,54}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_60_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{206,29},{41,25}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,36},{41,25}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_60_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{41,25}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,37},{41,25}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_60_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{91,211},{55,34}}</string>
                <key>offset</key>
                <string>{0,-19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,41},{55,34}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_60_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{91,211},{55,34}}</string>
                <key>offset</key>
                <string>{0,-19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,41},{55,34}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_60_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{84,112},{25,19}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,43},{25,19}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_60_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{221,56},{26,16}}</string>
                <key>offset</key>
                <string>{5.5,-14.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,45},{26,16}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_60_alpha.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c20fc5581899475c8b117846abcac79b$</string>
            <key>textureFileName</key>
            <string>carasset_60_alpha.png</string>
        </dict>
    </dict>
</plist>
