<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_177_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{9,504},{1,1}}</string>
                <key>offset</key>
                <string>{-417,312.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_177_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,58},{442,104}}</string>
                <key>offset</key>
                <string>{-14.5,-181}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,442},{442,104}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_177_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,504},{1,1}}</string>
                <key>offset</key>
                <string>{-182,136.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_177_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{198,50}}</string>
                <key>offset</key>
                <string>{-7.5,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,192},{198,50}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_177_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{4,504},{1,1}}</string>
                <key>offset</key>
                <string>{-104,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{209,157}</string>
            </dict>
            <key>carasset_177_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{4,504},{1,1}}</string>
                <key>offset</key>
                <string>{-104,76.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_177_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{112,280},{114,68}}</string>
                <key>offset</key>
                <string>{0.5,-37.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,82},{114,68}}</string>
                <key>sourceSize</key>
                <string>{209,157}</string>
            </dict>
            <key>carasset_177_iso_shadow_front_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{112,134},{114,70}}</string>
                <key>offset</key>
                <string>{-1.5,-40.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,84},{114,70}}</string>
                <key>sourceSize</key>
                <string>{209,157}</string>
            </dict>
            <key>carasset_177_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{112,208},{114,68}}</string>
                <key>offset</key>
                <string>{2.5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,84},{114,68}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_177_iso_shadow_rear_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{112,58},{114,72}}</string>
                <key>offset</key>
                <string>{2.5,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,80},{114,72}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_177_alpha-hd.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1dcb78344d1c0dd502cc103232ec477$</string>
            <key>textureFileName</key>
            <string>carasset_177_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
