<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_138_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{205,108}}</string>
                <key>offset</key>
                <string>{2.5,-47.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,150},{205,108}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_138_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{237,56}}</string>
                <key>offset</key>
                <string>{-2.5,-93.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,222},{237,56}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_138_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{195,219},{90,47}}</string>
                <key>offset</key>
                <string>{1.5,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,65},{90,47}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_138_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{103,24}}</string>
                <key>offset</key>
                <string>{0,-39.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,96},{103,24}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_138_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{135,204},{58,29}}</string>
                <key>offset</key>
                <string>{-14.5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,82},{58,29}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_138_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{131,62}}</string>
                <key>offset</key>
                <string>{-32.5,-66.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,192},{131,62}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_138_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{209,60},{48,40}}</string>
                <key>offset</key>
                <string>{-0.5,-10.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,29},{48,40}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_138_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{209,169},{48,33}}</string>
                <key>offset</key>
                <string>{-0.5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,34},{48,33}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_138_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{209,110},{57,36}}</string>
                <key>offset</key>
                <string>{1,-18.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,39},{57,36}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_138_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{135,170},{59,32}}</string>
                <key>offset</key>
                <string>{0,-18.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,41},{59,32}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_138_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{107,234},{28,23}}</string>
                <key>offset</key>
                <string>{9.5,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,45},{28,23}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_138_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{132,235},{29,21}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,47},{29,21}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_138_alpha.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30a4c250153f6f3b27b9ff3fd770ef5e$</string>
            <key>textureFileName</key>
            <string>carasset_138_alpha.png</string>
        </dict>
    </dict>
</plist>
