<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_112_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{1,1}}</string>
                <key>offset</key>
                <string>{-208.5,156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_112_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,64}}</string>
                <key>offset</key>
                <string>{1,-89.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,214},{248,64}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_112_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{1,1}}</string>
                <key>offset</key>
                <string>{-91,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_112_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{109,29}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,93},{109,29}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_112_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{1,1}}</string>
                <key>offset</key>
                <string>{-52,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_112_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{1,1}}</string>
                <key>offset</key>
                <string>{-52,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_112_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{78,68},{67,41}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,36},{67,41}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_112_iso_shadow_front_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{47,140},{67,41}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,36},{67,41}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_112_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{33,68},{70,43}}</string>
                <key>offset</key>
                <string>{0.5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,34},{70,43}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_112_iso_shadow_rear_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{70,43}}</string>
                <key>offset</key>
                <string>{0.5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,34},{70,43}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_112_alpha.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a91714b81e3885153f965a7747766ce$</string>
            <key>textureFileName</key>
            <string>carasset_112_alpha.png</string>
        </dict>
    </dict>
</plist>
