<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_145_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,122},{430,230}}</string>
                <key>offset</key>
                <string>{-20.5,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,284},{430,230}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_145_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{484,114}}</string>
                <key>offset</key>
                <string>{-13.5,-184}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,440},{484,114}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_145_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{266,410},{188,102}}</string>
                <key>offset</key>
                <string>{-8.5,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,124},{188,102}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_145_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{266,358},{206,48}}</string>
                <key>offset</key>
                <string>{-3.5,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,194},{206,48}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_145_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{124,484},{114,56}}</string>
                <key>offset</key>
                <string>{-31.5,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,168},{114,56}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_145_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{4,356},{258,124}}</string>
                <key>offset</key>
                <string>{-74.5,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,386},{258,124}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_145_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{242,516},{102,88}}</string>
                <key>offset</key>
                <string>{0.5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,48},{102,88}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_145_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{438,252},{102,70}}</string>
                <key>offset</key>
                <string>{-3.5,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,66},{102,70}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_145_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{4,484},{116,64}}</string>
                <key>offset</key>
                <string>{1.5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,88},{116,64}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_145_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{438,122},{126,70}}</string>
                <key>offset</key>
                <string>{0.5,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,84},{126,70}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_145_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{458,472},{54,38}}</string>
                <key>offset</key>
                <string>{16.5,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,98},{54,38}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_145_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{458,410},{58,42}}</string>
                <key>offset</key>
                <string>{16.5,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,94},{58,42}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_145_alpha-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84f038b61c18a6585a503d789b2f1181$</string>
            <key>textureFileName</key>
            <string>carasset_145_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
