<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_187_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{222,71}}</string>
                <key>offset</key>
                <string>{-12,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,177},{222,71}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_187_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{0,71},{254,57}}</string>
                <key>offset</key>
                <string>{-12,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,218},{254,57}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_187_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{154,128},{99,33}}</string>
                <key>offset</key>
                <string>{-6,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,76},{99,33}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_187_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{187,128},{111,25}}</string>
                <key>offset</key>
                <string>{-5,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,95},{111,25}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_187_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{212,128},{69,21}}</string>
                <key>offset</key>
                <string>{-16,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,87},{69,21}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_187_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{154,45}}</string>
                <key>offset</key>
                <string>{-36,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,202},{154,45}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_187_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{0,173},{53,33}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,33},{53,33}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_187_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{53,173},{53,31}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,36},{53,31}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_187_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{212,197},{59,33}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,42},{59,33}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_187_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{222,0},{61,33}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,42},{61,33}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_187_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{233,159},{31,19}}</string>
                <key>offset</key>
                <string>{10,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,49},{31,19}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_187_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{233,128},{31,21}}</string>
                <key>offset</key>
                <string>{10,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,46},{31,21}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_187_alpha.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d657e75d3ebd97fa87b7c68f98710eb4$</string>
            <key>textureFileName</key>
            <string>carasset_187_alpha.png</string>
        </dict>
    </dict>
</plist>
