<?xml version="1.0" encoding="UTF-8"?>
          			<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
          			<plist version="1.0">
          			<dict>  <key>alfa_romeo_8c_competizione_08</key><dict>
		<key>carID</key>
		<integer>25</integer>
		<key>Angle</key>
		<dict>
			<key>bodyOffset</key>
			<string>{-1.5,6.5}</string>
			<key>frontWheelPosition</key>
			<string>{-35.5,-135.5}</string>
			<key>rearWheelPosition</key>
			<string>{-131,-122.5}</string>
			<key>frontOppWheelPosition</key>
			<string>{36.5,-122.5}</string>
			<key>rearOppWheelPosition</key>
			<string>{-65.5,-112.5}</string>
		</dict>
		<key>Back</key>
		<dict>
			<key>bodyOffset</key>
			<string>{0.25,1.75}</string>
			<key>frontWheelPosition</key>
			<string>{5,-22.25}</string>
			<key>rearWheelPosition</key>
			<string>{-11.5,-30.25}</string>
			<key>frontOppWheelPosition</key>
			<string>{-27.25,-23.25}</string>
			<key>rearOppWheelPosition</key>
			<string>{0,0}</string>
		</dict>
		<key>Front</key>
		<dict>
			<key>bodyOffset</key>
			<string>{0,2}</string>
			<key>frontWheelPosition</key>
			<string>{-11.5,-30}</string>
			<key>rearWheelPosition</key>
			<string>{5,-21.75}</string>
			<key>frontOppWheelPosition</key>
			<string>{-26.25,-22.75}</string>
			<key>rearOppWheelPosition</key>
			<string>{0,0}</string>
		</dict>
	</dict></dict>
          			</plist>

