<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_130_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{1,1}}</string>
                <key>offset</key>
                <string>{-208.5,156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_130_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{273,60}}</string>
                <key>offset</key>
                <string>{-15.5,-91.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,218},{273,60}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_130_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{1,1}}</string>
                <key>offset</key>
                <string>{-91,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_130_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,28}}</string>
                <key>offset</key>
                <string>{-5.5,-39.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,94},{118,28}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_130_angle_thumbnails_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{1,1}}</string>
                <key>offset</key>
                <string>{-91,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_130_angle_thumbnails_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{118,27}}</string>
                <key>offset</key>
                <string>{-5.5,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,94},{118,27}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_130_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{1,1}}</string>
                <key>offset</key>
                <string>{-52,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_130_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{1,1}}</string>
                <key>offset</key>
                <string>{-52,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_130_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{75,61},{71,37}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,39},{71,37}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_130_iso_shadow_front_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{71,37}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,39},{71,37}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_130_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{74,134},{70,36}}</string>
                <key>offset</key>
                <string>{1.5,-19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,40},{70,36}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_130_iso_shadow_rear_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{70,36}}</string>
                <key>offset</key>
                <string>{-2.5,-19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,40},{70,36}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_130_alpha.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbbc97475c6bdd4f4cbb70ab3f5dc31f$</string>
            <key>textureFileName</key>
            <string>carasset_130_alpha.png</string>
        </dict>
    </dict>
</plist>
