<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_135_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{240,4},{1,1}}</string>
                <key>offset</key>
                <string>{-417,312.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_135_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{500,118}}</string>
                <key>offset</key>
                <string>{-13.5,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,432},{500,118}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_135_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{126,252},{218,54}}</string>
                <key>offset</key>
                <string>{-5.5,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,190},{218,54}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_135_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{240,4},{1,1}}</string>
                <key>offset</key>
                <string>{-104,76.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_135_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{240,4},{1,1}}</string>
                <key>offset</key>
                <string>{-104,76.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_135_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{126,68},{110,60}}</string>
                <key>offset</key>
                <string>{-1.5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,88},{110,60}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_135_iso_shadow_front_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{126,4},{110,60}}</string>
                <key>offset</key>
                <string>{-1.5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,88},{110,60}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_135_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{126,192},{104,56}}</string>
                <key>offset</key>
                <string>{-2.5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,92},{104,56}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_135_iso_shadow_rear_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{126,132},{104,56}}</string>
                <key>offset</key>
                <string>{-0.5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,92},{104,56}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_135_alpha-hd.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44965b9b5345d95957a56b620b7f8861$</string>
            <key>textureFileName</key>
            <string>carasset_135_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
