<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_81_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,122},{436,320}}</string>
                <key>offset</key>
                <string>{4.5,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,184},{436,320}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_81_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{486,114}}</string>
                <key>offset</key>
                <string>{-0.5,-192}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,448},{486,114}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_81_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{278,446},{192,142}}</string>
                <key>offset</key>
                <string>{1.5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,80},{192,142}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_81_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{444,196},{210,50}}</string>
                <key>offset</key>
                <string>{0.5,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,196},{210,50}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_81_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{414,592},{120,66}}</string>
                <key>offset</key>
                <string>{-28.5,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,152},{120,66}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_81_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{4,446},{270,148}}</string>
                <key>offset</key>
                <string>{-64.5,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,348},{270,148}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_81_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{4,598},{104,106}}</string>
                <key>offset</key>
                <string>{-2.5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,26},{104,106}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_81_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{114,598},{104,98}}</string>
                <key>offset</key>
                <string>{-2.5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,34},{104,98}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_81_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{278,592},{132,78}}</string>
                <key>offset</key>
                <string>{-0.5,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,76},{132,78}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_81_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{278,592},{132,78}}</string>
                <key>offset</key>
                <string>{-0.5,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,76},{132,78}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_81_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{444,162},{52,30}}</string>
                <key>offset</key>
                <string>{19.5,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,92},{52,30}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_81_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{444,122},{56,36}}</string>
                <key>offset</key>
                <string>{19.5,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,86},{56,36}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_81_alpha-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06cf4b084870cb87d53574994c232dbe$</string>
            <key>textureFileName</key>
            <string>carasset_81_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
