<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_167_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{231,93}}</string>
                <key>offset</key>
                <string>{-10.5,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,162},{231,93}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_167_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{71,151},{256,59}}</string>
                <key>offset</key>
                <string>{-11,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,218},{256,59}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_167_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{134,126},{102,42}}</string>
                <key>offset</key>
                <string>{-4.5,-22.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,70},{102,42}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_167_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{134,97},{110,27}}</string>
                <key>offset</key>
                <string>{-3.5,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,94},{110,27}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_167_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{58,23}}</string>
                <key>offset</key>
                <string>{-18.5,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,88},{58,23}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_167_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{130,52}}</string>
                <key>offset</key>
                <string>{-43,-71.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,202},{130,52}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_167_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{55,36}}</string>
                <key>offset</key>
                <string>{1,-13.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,34},{55,36}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_167_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{55,36}}</string>
                <key>offset</key>
                <string>{-1,-11.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,32},{55,36}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_167_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{67,37}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,40},{67,37}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_167_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{67,37}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,40},{67,37}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_167_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{29,18}}</string>
                <key>offset</key>
                <string>{9,-21.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,51},{29,18}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_167_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{31,20}}</string>
                <key>offset</key>
                <string>{8,-18.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,47},{31,20}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_167_alpha.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:295d16242f8ce7209353afa73d95dfdf$</string>
            <key>textureFileName</key>
            <string>carasset_167_alpha.png</string>
        </dict>
    </dict>
</plist>
