<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_194_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{0,106},{423,164}}</string>
                <key>offset</key>
                <string>{-11,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,342},{423,164}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_194_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{459,106}}</string>
                <key>offset</key>
                <string>{-16,-177}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,437},{459,106}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_194_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{187,72}}</string>
                <key>offset</key>
                <string>{-5,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,150},{187,72}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_194_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{459,151},{197,46}}</string>
                <key>offset</key>
                <string>{-7,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,191},{197,46}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_194_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{459,36},{115,50}}</string>
                <key>offset</key>
                <string>{-34,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,170},{115,50}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_194_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{187,270},{261,110}}</string>
                <key>offset</key>
                <string>{-79,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,391},{261,110}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_194_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{146,380},{99,68}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,67},{99,68}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_194_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{448,348},{99,62}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,72},{99,62}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_194_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{74,380},{125,72}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,81},{125,72}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_194_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{0,348},{131,74}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,80},{131,74}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_194_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{423,106},{55,36}}</string>
                <key>offset</key>
                <string>{17,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,98},{55,36}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_194_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{459,0},{53,36}}</string>
                <key>offset</key>
                <string>{20,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,96},{53,36}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_194_alpha-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f769508c2d04e04f849aca98a96acd2$</string>
            <key>textureFileName</key>
            <string>carasset_194_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
