<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_59_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,116},{408,198}}</string>
                <key>offset</key>
                <string>{0.5,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,302},{408,198}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_59_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{454,108}}</string>
                <key>offset</key>
                <string>{-4.5,-185}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,444},{454,108}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_59_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{416,202},{180,88}}</string>
                <key>offset</key>
                <string>{-0.5,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,132},{180,88}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_59_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{462,4},{194,46}}</string>
                <key>offset</key>
                <string>{-1.5,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,194},{194,46}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_59_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{4,386},{112,36}}</string>
                <key>offset</key>
                <string>{-30.5,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,174},{112,36}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_59_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{136,318},{252,80}}</string>
                <key>offset</key>
                <string>{-67.5,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,400},{252,80}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_59_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{124,402},{96,76}}</string>
                <key>offset</key>
                <string>{-2.5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,58},{96,76}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_59_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{4,318},{94,60}}</string>
                <key>offset</key>
                <string>{-1.5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,72},{94,60}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_59_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{44,382},{126,76}}</string>
                <key>offset</key>
                <string>{0.5,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,78},{126,76}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_59_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{44,382},{126,76}}</string>
                <key>offset</key>
                <string>{0.5,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,78},{126,76}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_59_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{102,318},{52,30}}</string>
                <key>offset</key>
                <string>{15.5,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,94},{52,30}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_59_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{416,116},{54,32}}</string>
                <key>offset</key>
                <string>{16.5,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,94},{54,32}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_59_alpha-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a66225add682b4d920c4ae58645421d$</string>
            <key>textureFileName</key>
            <string>carasset_59_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
