<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_191_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{508,0},{1,1}}</string>
                <key>offset</key>
                <string>{-417,312.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_191_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{457,108}}</string>
                <key>offset</key>
                <string>{4,-185}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,444},{457,108}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_191_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{507,0},{1,1}}</string>
                <key>offset</key>
                <string>{-182,136.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_191_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{457,0},{199,48}}</string>
                <key>offset</key>
                <string>{1,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,193},{199,48}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_191_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{154,108},{153,68}}</string>
                <key>offset</key>
                <string>{-2,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,150},{153,68}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_191_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{0,108},{349,154}}</string>
                <key>offset</key>
                <string>{-5,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,343},{349,154}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_191_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{506,0},{1,1}}</string>
                <key>offset</key>
                <string>{-104,76.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_191_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{505,0},{1,1}}</string>
                <key>offset</key>
                <string>{-104,76.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_191_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{400,199},{109,72}}</string>
                <key>offset</key>
                <string>{-1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,76},{109,72}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_191_iso_shadow_front_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{291,186},{109,72}}</string>
                <key>offset</key>
                <string>{1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,77},{109,72}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_191_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{154,176},{137,78}}</string>
                <key>offset</key>
                <string>{-1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,76},{137,78}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_191_iso_shadow_rear_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{307,108},{137,78}}</string>
                <key>offset</key>
                <string>{3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,76},{137,78}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_191_alpha-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78f9073e21c6e3ed858f9ffaa751719f$</string>
            <key>textureFileName</key>
            <string>carasset_191_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
