<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_38_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{198,84}}</string>
                <key>offset</key>
                <string>{-6,-52.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,167},{198,84}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_38_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{221,52}}</string>
                <key>offset</key>
                <string>{-7.5,-90.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,221},{221,52}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_38_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{88,149},{87,37}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,73},{87,37}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_38_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{225,50},{97,24}}</string>
                <key>offset</key>
                <string>{-4,-39.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,96},{97,24}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_38_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{179,98},{52,19}}</string>
                <key>offset</key>
                <string>{-14.5,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,90},{52,19}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_38_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{88,56},{123,40}}</string>
                <key>offset</key>
                <string>{-30.5,-71.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,208},{123,40}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_38_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{88,98},{47,31}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,36},{47,31}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_38_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{46,28}}</string>
                <key>offset</key>
                <string>{-1.5,-12.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,37},{46,28}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_38_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{121,98},{56,34}}</string>
                <key>offset</key>
                <string>{-0.5,-19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,41},{56,34}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_38_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{121,98},{56,34}}</string>
                <key>offset</key>
                <string>{-0.5,-19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,41},{56,34}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_38_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{109,238},{24,12}}</string>
                <key>offset</key>
                <string>{5.5,-18.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,51},{24,12}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_38_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{88,238},{19,13}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,49},{19,13}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_38_alpha.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:603ca3f48691d97924810147de008b50$</string>
            <key>textureFileName</key>
            <string>carasset_38_alpha.png</string>
        </dict>
    </dict>
</plist>
