<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_156_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{1,1}}</string>
                <key>offset</key>
                <string>{-208.5,156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_156_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,29},{225,53}}</string>
                <key>offset</key>
                <string>{-4.5,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,221},{225,53}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_156_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{1,1}}</string>
                <key>offset</key>
                <string>{-91,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_156_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,25}}</string>
                <key>offset</key>
                <string>{-1.5,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,95},{104,25}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_156_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{1,1}}</string>
                <key>offset</key>
                <string>{-52,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_156_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{1,1}}</string>
                <key>offset</key>
                <string>{-52,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_156_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{57,109},{64,38}}</string>
                <key>offset</key>
                <string>{-0.5,-19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,39},{64,38}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_156_iso_shadow_front_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{57,149},{64,37}}</string>
                <key>offset</key>
                <string>{-0.5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,40},{64,37}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_156_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{57,69},{66,38}}</string>
                <key>offset</key>
                <string>{-1.5,-19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,39},{66,38}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_156_iso_shadow_rear_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{57,29},{66,38}}</string>
                <key>offset</key>
                <string>{-1.5,-19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,39},{66,38}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_156_alpha.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:655cf21125ee84cd4ca3413b7df711ab$</string>
            <key>textureFileName</key>
            <string>carasset_156_alpha.png</string>
        </dict>
    </dict>
</plist>
