<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_15_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,89}}</string>
                <key>offset</key>
                <string>{-1,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,173},{222,89}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_15_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{248,58}}</string>
                <key>offset</key>
                <string>{-1,-90.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,218},{248,58}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_15_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{97,40}}</string>
                <key>offset</key>
                <string>{0,-26.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,75},{97,40}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_15_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{128,153},{107,26}}</string>
                <key>offset</key>
                <string>{-1,-39.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,95},{107,26}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_15_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{55,25}}</string>
                <key>offset</key>
                <string>{-16,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,87},{55,25}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_15_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{124,56}}</string>
                <key>offset</key>
                <string>{-35,-71.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,200},{124,56}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_15_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{195,181},{53,39}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,31},{53,39}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_15_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{101,221},{52,33}}</string>
                <key>offset</key>
                <string>{-2.5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,35},{52,33}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_15_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{128,181},{65,38}}</string>
                <key>offset</key>
                <string>{-1,-19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,39},{65,38}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_15_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{128,181},{65,38}}</string>
                <key>offset</key>
                <string>{-1,-19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,39},{65,38}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_15_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{226,59},{29,18}}</string>
                <key>offset</key>
                <string>{8,-19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,49},{29,18}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_15_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{155,222},{39,19}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,48},{39,19}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_15_alpha.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9fa1957c2a629ed91b670ead6d5a2b1$</string>
            <key>textureFileName</key>
            <string>carasset_15_alpha.png</string>
        </dict>
    </dict>
</plist>
