<?xml version="1.0" encoding="UTF-8"?>
          			<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
          			<plist version="1.0">
          			<dict>  <key>ford_f150_svt_raptor_11</key><dict>
		<key>carID</key>
		<integer>31</integer>
		<key>rearWheelUnder</key>
		<true/>
		<key>Angle</key>
		<dict>
			<key>bodyOffset</key>
			<string>{-0.5,5.5}</string>
			<key>frontWheelPosition</key>
			<string>{-37,-136}</string>
			<key>rearWheelPosition</key>
			<string>{-145,-122.5}</string>
			<key>frontOppWheelPosition</key>
			<string>{37.5,-121}</string>
			<key>rearOppWheelPosition</key>
			<string>{-71.5,-109}</string>
		</dict>
		<key>Back</key>
		<dict>
			<key>bodyOffset</key>
			<string>{0.75,0.75}</string>
			<key>frontWheelPosition</key>
			<string>{7.75,-21.5}</string>
			<key>rearWheelPosition</key>
			<string>{-9.5,-30.5}</string>
			<key>frontOppWheelPosition</key>
			<string>{-26.25,-23.5}</string>
			<key>rearOppWheelPosition</key>
			<string>{0,0}</string>
		</dict>
		<key>Front</key>
		<dict>
			<key>bodyOffset</key>
			<string>{-0.5,1}</string>
			<key>frontWheelPosition</key>
			<string>{-12.25,-31.5}</string>
			<key>rearWheelPosition</key>
			<string>{6.25,-22.25}</string>
			<key>frontOppWheelPosition</key>
			<string>{-27.5,-23.75}</string>
			<key>rearOppWheelPosition</key>
			<string>{0,0}</string>
		</dict>
	</dict></dict>
          			</plist>

