<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_121_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,464},{1,1}}</string>
                <key>offset</key>
                <string>{-417,312.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_121_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{456,112}}</string>
                <key>offset</key>
                <string>{-19.5,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,436},{456,112}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_121_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,464},{1,1}}</string>
                <key>offset</key>
                <string>{-182,136.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_121_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{120,4},{200,50}}</string>
                <key>offset</key>
                <string>{-8.5,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,190},{200,50}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_121_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{4,464},{1,1}}</string>
                <key>offset</key>
                <string>{-104,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{209,157}</string>
            </dict>
            <key>carasset_121_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{4,464},{1,1}}</string>
                <key>offset</key>
                <string>{-104,76.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_121_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{120,364},{122,74}}</string>
                <key>offset</key>
                <string>{0.5,-40.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,82},{122,74}}</string>
                <key>sourceSize</key>
                <string>{209,157}</string>
            </dict>
            <key>carasset_121_iso_shadow_front_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{120,286},{122,74}}</string>
                <key>offset</key>
                <string>{-3.5,-40.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,82},{122,74}}</string>
                <key>sourceSize</key>
                <string>{209,157}</string>
            </dict>
            <key>carasset_121_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{174,4},{122,74}}</string>
                <key>offset</key>
                <string>{0.5,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,80},{122,74}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_121_iso_shadow_rear_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{120,208},{122,74}}</string>
                <key>offset</key>
                <string>{-3.5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,80},{122,74}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_121_alpha-hd.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f82f54b993d8cc7f710fe624604cabc1$</string>
            <key>textureFileName</key>
            <string>carasset_121_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
