<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>UI/btn_color_picker_fill</key>
		<dict>
			<key>frame</key>
			<string>{{923,108},{28,28}}</string>
			<key>offset</key>
			<string>{-2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>UI/btn_color_picker_overlay</key>
		<dict>
			<key>frame</key>
			<string>{{988,179},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>UI/shop_bg_blue</key>
		<dict>
			<key>frame</key>
			<string>{{568,124},{225,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{225,115}}</string>
			<key>sourceSize</key>
			<string>{225,115}</string>
		</dict>
		<key>UI/shop_bg_brown</key>
		<dict>
			<key>frame</key>
			<string>{{88,680},{140,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,70}}</string>
			<key>sourceSize</key>
			<string>{140,70}</string>
		</dict>
		<key>UI/shop_bg_white_big</key>
		<dict>
			<key>frame</key>
			<string>{{1,332},{169,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,209}}</string>
			<key>sourceSize</key>
			<string>{169,209}</string>
		</dict>
		<key>UI/shop_bg_white_medium_half</key>
		<dict>
			<key>frame</key>
			<string>{{1,754},{62,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,154}}</string>
			<key>sourceSize</key>
			<string>{62,154}</string>
		</dict>
		<key>UI/shop_bg_white_small</key>
		<dict>
			<key>frame</key>
			<string>{{917,456},{104,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,100}}</string>
			<key>sourceSize</key>
			<string>{104,100}</string>
		</dict>
		<key>UI/shop_bg_white_with_box</key>
		<dict>
			<key>frame</key>
			<string>{{1,543},{85,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,209}}</string>
			<key>sourceSize</key>
			<string>{85,209}</string>
		</dict>
		<key>UI/shop_frame</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{245,329}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,329}}</string>
			<key>sourceSize</key>
			<string>{245,329}</string>
		</dict>
		<key>UI/shop_header</key>
		<dict>
			<key>frame</key>
			<string>{{172,461},{197,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,79}}</string>
			<key>sourceSize</key>
			<string>{197,79}</string>
		</dict>
		<key>UI/shop_icon_biz</key>
		<dict>
			<key>frame</key>
			<string>{{859,229},{55,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,62}}</string>
			<key>sourceSize</key>
			<string>{55,62}</string>
		</dict>
		<key>UI/shop_icon_cars</key>
		<dict>
			<key>frame</key>
			<string>{{953,116},{63,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,61}}</string>
			<key>sourceSize</key>
			<string>{63,61}</string>
		</dict>
		<key>UI/shop_icon_currency</key>
		<dict>
			<key>frame</key>
			<string>{{652,751},{58,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,57}}</string>
			<key>sourceSize</key>
			<string>{58,57}</string>
		</dict>
		<key>UI/shop_icon_deco</key>
		<dict>
			<key>frame</key>
			<string>{{652,810},{57,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,58}}</string>
			<key>sourceSize</key>
			<string>{57,58}</string>
		</dict>
		<key>UI/shop_icon_inventory</key>
		<dict>
			<key>frame</key>
			<string>{{916,229},{63,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,60}}</string>
			<key>sourceSize</key>
			<string>{63,60}</string>
		</dict>
		<key>UI/shop_icon_new</key>
		<dict>
			<key>frame</key>
			<string>{{713,241},{70,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,65}}</string>
			<key>sourceSize</key>
			<string>{70,65}</string>
		</dict>
		<key>UI/shop_icon_roads</key>
		<dict>
			<key>frame</key>
			<string>{{763,972},{76,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,44}}</string>
			<key>sourceSize</key>
			<string>{76,44}</string>
		</dict>
		<key>UI/shop_icon_serv</key>
		<dict>
			<key>frame</key>
			<string>{{923,342},{54,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,58}}</string>
			<key>sourceSize</key>
			<string>{54,58}</string>
		</dict>
		<key>UI/shop_most-popular</key>
		<dict>
			<key>frame</key>
			<string>{{785,241},{72,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,64}}</string>
			<key>sourceSize</key>
			<string>{72,64}</string>
		</dict>
		<key>item icons/business_animal_hospital</key>
		<dict>
			<key>frame</key>
			<string>{{824,1},{128,105}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,16},{128,105}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/business_army_base</key>
		<dict>
			<key>frame</key>
			<string>{{230,669},{134,81}}</string>
			<key>offset</key>
			<string>{-1,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,31},{134,81}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/business_beach_resort</key>
		<dict>
			<key>frame</key>
			<string>{{396,542},{122,117}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,7},{122,117}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/business_car_museum</key>
		<dict>
			<key>frame</key>
			<string>{{444,124},{122,117}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,10},{122,117}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/business_chinese_restaurant</key>
		<dict>
			<key>frame</key>
			<string>{{696,1},{126,113}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,12},{126,113}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/business_fire_station</key>
		<dict>
			<key>frame</key>
			<string>{{795,116},{126,111}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,13},{126,111}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/business_ghostbusters</key>
		<dict>
			<key>frame</key>
			<string>{{542,752},{108,117}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,9},{108,117}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/business_mexican_restaurant</key>
		<dict>
			<key>frame</key>
			<string>{{795,307},{126,111}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,13},{126,111}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/business_movie_set</key>
		<dict>
			<key>frame</key>
			<string>{{594,640},{132,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,13},{132,109}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/business_pizza_shop</key>
		<dict>
			<key>frame</key>
			<string>{{65,754},{137,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,135}}</string>
			<key>sourceSize</key>
			<string>{137,135}</string>
		</dict>
		<key>item icons/business_police_station</key>
		<dict>
			<key>frame</key>
			<string>{{667,310},{126,111}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,12},{126,111}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/business_safari</key>
		<dict>
			<key>frame</key>
			<string>{{371,455},{134,85}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,29},{134,85}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/business_school</key>
		<dict>
			<key>frame</key>
			<string>{{1,910},{132,113}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,10},{132,113}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/business_ski_lodge</key>
		<dict>
			<key>frame</key>
			<string>{{587,871},{120,93}}</string>
			<key>offset</key>
			<string>{-8,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,25},{120,93}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/business_tofu</key>
		<dict>
			<key>frame</key>
			<string>{{543,314},{122,113}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,13},{122,113}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/community_car_wash</key>
		<dict>
			<key>frame</key>
			<string>{{216,542},{178,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,125}}</string>
			<key>sourceSize</key>
			<string>{178,125}</string>
		</dict>
		<key>item icons/community_gas_station</key>
		<dict>
			<key>frame</key>
			<string>{{282,752},{146,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,125}}</string>
			<key>sourceSize</key>
			<string>{146,125}</string>
		</dict>
		<key>item icons/community_tireshop_offroad</key>
		<dict>
			<key>frame</key>
			<string>{{278,332},{136,121}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,7},{136,121}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/community_tireshop_racing</key>
		<dict>
			<key>frame</key>
			<string>{{430,1},{138,121}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,6},{138,121}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/community_tireshop_street</key>
		<dict>
			<key>frame</key>
			<string>{{449,879},{136,123}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,5},{136,123}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/currency_cash_01</key>
		<dict>
			<key>frame</key>
			<string>{{981,229},{42,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,29}}</string>
			<key>sourceSize</key>
			<string>{42,29}</string>
		</dict>
		<key>item icons/currency_cash_02</key>
		<dict>
			<key>frame</key>
			<string>{{813,920},{45,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,42}}</string>
			<key>sourceSize</key>
			<string>{45,42}</string>
		</dict>
		<key>item icons/currency_cash_03</key>
		<dict>
			<key>frame</key>
			<string>{{981,260},{39,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,50}}</string>
			<key>sourceSize</key>
			<string>{39,50}</string>
		</dict>
		<key>item icons/currency_cash_04</key>
		<dict>
			<key>frame</key>
			<string>{{587,966},{77,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,53}}</string>
			<key>sourceSize</key>
			<string>{77,53}</string>
		</dict>
		<key>item icons/currency_cash_05</key>
		<dict>
			<key>frame</key>
			<string>{{923,179},{63,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,48}}</string>
			<key>sourceSize</key>
			<string>{63,48}</string>
		</dict>
		<key>item icons/currency_cash_06</key>
		<dict>
			<key>frame</key>
			<string>{{507,454},{72,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,69}}</string>
			<key>sourceSize</key>
			<string>{72,69}</string>
		</dict>
		<key>item icons/currency_coins_01</key>
		<dict>
			<key>frame</key>
			<string>{{728,639},{32,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,30}}</string>
			<key>sourceSize</key>
			<string>{32,30}</string>
		</dict>
		<key>item icons/currency_coins_02</key>
		<dict>
			<key>frame</key>
			<string>{{841,964},{46,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,41}}</string>
			<key>sourceSize</key>
			<string>{46,41}</string>
		</dict>
		<key>item icons/currency_coins_03</key>
		<dict>
			<key>frame</key>
			<string>{{979,392},{38,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,48}}</string>
			<key>sourceSize</key>
			<string>{38,48}</string>
		</dict>
		<key>item icons/currency_coins_04</key>
		<dict>
			<key>frame</key>
			<string>{{923,402},{54,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,52}}</string>
			<key>sourceSize</key>
			<string>{54,52}</string>
		</dict>
		<key>item icons/currency_coins_05</key>
		<dict>
			<key>frame</key>
			<string>{{923,291},{56,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,49}}</string>
			<key>sourceSize</key>
			<string>{56,49}</string>
		</dict>
		<key>item icons/currency_coins_06</key>
		<dict>
			<key>frame</key>
			<string>{{536,243},{57,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,69}}</string>
			<key>sourceSize</key>
			<string>{57,69}</string>
		</dict>
		<key>item icons/currency_parts_01</key>
		<dict>
			<key>frame</key>
			<string>{{981,312},{39,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,30}}</string>
			<key>sourceSize</key>
			<string>{39,30}</string>
		</dict>
		<key>item icons/currency_parts_02</key>
		<dict>
			<key>frame</key>
			<string>{{860,900},{47,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,35}}</string>
			<key>sourceSize</key>
			<string>{47,35}</string>
		</dict>
		<key>item icons/currency_parts_03</key>
		<dict>
			<key>frame</key>
			<string>{{979,344},{44,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,46}}</string>
			<key>sourceSize</key>
			<string>{44,46}</string>
		</dict>
		<key>item icons/currency_parts_04</key>
		<dict>
			<key>frame</key>
			<string>{{763,920},{48,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,50}}</string>
			<key>sourceSize</key>
			<string>{48,50}</string>
		</dict>
		<key>item icons/currency_parts_05</key>
		<dict>
			<key>frame</key>
			<string>{{954,66},{67,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,48}}</string>
			<key>sourceSize</key>
			<string>{67,48}</string>
		</dict>
		<key>item icons/currency_parts_06</key>
		<dict>
			<key>frame</key>
			<string>{{954,1},{67,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,63}}</string>
			<key>sourceSize</key>
			<string>{67,63}</string>
		</dict>
		<key>item icons/decoration_flower_patch_01_icon</key>
		<dict>
			<key>frame</key>
			<string>{{728,718},{144,95}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,30},{144,95}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/decoration_flower_patch_02_icon</key>
		<dict>
			<key>frame</key>
			<string>{{581,429},{146,93}}</string>
			<key>offset</key>
			<string>{-1,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,31},{146,93}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/decoration_flower_patch_03_icon</key>
		<dict>
			<key>frame</key>
			<string>{{766,621},{144,95}}</string>
			<key>offset</key>
			<string>{-1,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,30},{144,95}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/decoration_flower_patch_04_icon</key>
		<dict>
			<key>frame</key>
			<string>{{874,766},{144,93}}</string>
			<key>offset</key>
			<string>{-1,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,31},{144,93}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/decoration_flowers_icon</key>
		<dict>
			<key>frame</key>
			<string>{{916,558},{82,99}}</string>
			<key>offset</key>
			<string>{-2,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,25},{82,99}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/decoration_fountain_car_icon</key>
		<dict>
			<key>frame</key>
			<string>{{172,332},{104,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,4},{104,127}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/decoration_fountain_gas_pump_icon</key>
		<dict>
			<key>frame</key>
			<string>{{646,524},{118,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,11},{118,113}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/decoration_fountain_topiary_icon</key>
		<dict>
			<key>frame</key>
			<string>{{711,815},{136,103}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,21},{136,103}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/decoration_grass_patch_icon</key>
		<dict>
			<key>frame</key>
			<string>{{766,524},{148,95}}</string>
			<key>offset</key>
			<string>{-1,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,30},{148,95}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/decoration_house_icon</key>
		<dict>
			<key>frame</key>
			<string>{{570,1},{124,115}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,7},{124,115}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/decoration_racing_fence_red_icon</key>
		<dict>
			<key>frame</key>
			<string>{{430,752},{110,125}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,5},{110,125}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/decoration_racing_fence_white_icon</key>
		<dict>
			<key>frame</key>
			<string>{{337,879},{110,125}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,5},{110,125}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/decoration_racing_haystack_icon</key>
		<dict>
			<key>frame</key>
			<string>{{474,661},{118,89}}</string>
			<key>offset</key>
			<string>{-5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,30},{118,89}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/decoration_racing_tire_stack_icon</key>
		<dict>
			<key>frame</key>
			<string>{{366,669},{106,81}}</string>
			<key>offset</key>
			<string>{0,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,40},{106,81}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/decoration_topiary_car_02_icon</key>
		<dict>
			<key>frame</key>
			<string>{{831,420},{84,97}}</string>
			<key>offset</key>
			<string>{3,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,36},{84,97}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/decoration_topiary_car_04_icon</key>
		<dict>
			<key>frame</key>
			<string>{{204,752},{76,129}}</string>
			<key>offset</key>
			<string>{1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,0},{76,129}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/decoration_topiary_piston_left_icon</key>
		<dict>
			<key>frame</key>
			<string>{{912,659},{110,105}}</string>
			<key>offset</key>
			<string>{-11,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,22},{110,105}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/decoration_topiary_piston_right_icon</key>
		<dict>
			<key>frame</key>
			<string>{{520,525},{124,113}}</string>
			<key>offset</key>
			<string>{-9,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,11},{124,113}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/decoration_topiary_tires_01_icon</key>
		<dict>
			<key>frame</key>
			<string>{{709,920},{52,99}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{49,21},{52,99}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/decoration_tree_01_icon</key>
		<dict>
			<key>frame</key>
			<string>{{88,543},{126,135}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,0},{126,135}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/decoration_tree_02_icon</key>
		<dict>
			<key>frame</key>
			<string>{{135,891},{78,131}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,3},{78,131}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/decoration_tree_03_icon</key>
		<dict>
			<key>frame</key>
			<string>{{248,126},{98,123}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,10},{98,123}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/decoration_tree_04_icon</key>
		<dict>
			<key>frame</key>
			<string>{{350,1},{78,123}}</string>
			<key>offset</key>
			<string>{-1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,9},{78,123}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/decoration_tree_cherry_icon</key>
		<dict>
			<key>frame</key>
			<string>{{248,1},{100,123}}</string>
			<key>offset</key>
			<string>{-3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,9},{100,123}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/decoration_tree_palm_icon</key>
		<dict>
			<key>frame</key>
			<string>{{348,126},{94,123}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,8},{94,123}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/road_asphalt_icon</key>
		<dict>
			<key>frame</key>
			<string>{{392,251},{142,79}}</string>
			<key>offset</key>
			<string>{0,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,40},{142,79}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/road_dirt_icon</key>
		<dict>
			<key>frame</key>
			<string>{{248,251},{142,79}}</string>
			<key>offset</key>
			<string>{-1,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,40},{142,79}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/road_hotwheels_icon</key>
		<dict>
			<key>frame</key>
			<string>{{595,241},{116,67}}</string>
			<key>offset</key>
			<string>{-2,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,46},{116,67}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/road_hotwheels_loop_icon</key>
		<dict>
			<key>frame</key>
			<string>{{215,883},{120,127}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,4},{120,127}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/shop_hotwheels_logo</key>
		<dict>
			<key>frame</key>
			<string>{{849,861},{130,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,37}}</string>
			<key>sourceSize</key>
			<string>{130,37}</string>
		</dict>
		<key>item icons/utility_paintshop_icon</key>
		<dict>
			<key>frame</key>
			<string>{{729,423},{100,99}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,18},{100,99}}</string>
			<key>sourceSize</key>
			<string>{150,135}</string>
		</dict>
		<key>item icons/utility_parts</key>
		<dict>
			<key>frame</key>
			<string>{{416,332},{125,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,120}}</string>
			<key>sourceSize</key>
			<string>{125,120}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>shop.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:33e482f936dc095048a25bc5d36e9942$</string>
		<key>textureFileName</key>
		<string>shop.png</string>
	</dict>
</dict>
</plist>
