<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>business_animal_hospital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 16}, {126, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{126, 105}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 281}, {126, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>business_army_base.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 31}, {134, 81}}</string>
			<key>spriteOffset</key>
			<string>{-1, -4}</string>
			<key>spriteSize</key>
			<string>{134, 81}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{323, 199}, {134, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>business_beach_resort.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 8}, {122, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{122, 117}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{573, 461}, {122, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>business_car_museum.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 10}, {120, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{120, 117}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{445, 546}, {120, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>business_chinese_restaurant.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 12}, {126, 113}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{126, 113}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{320, 386}, {126, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>business_fire_station.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 13}, {126, 111}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{126, 111}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{319, 499}, {126, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>business_ghostbusters.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 10}, {108, 117}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{108, 117}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{916, 0}, {108, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>business_mexican_restaurant.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {126, 111}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{126, 111}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 408}, {126, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>business_movie_set.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 13}, {132, 109}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{132, 109}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 220}, {132, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>business_pizza_shop.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {136, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{136, 135}</string>
			<key>spriteSourceSize</key>
			<string>{136, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{612, 205}, {136, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>business_police_station.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 13}, {126, 111}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{126, 111}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 329}, {126, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>business_safari.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 29}, {134, 85}}</string>
			<key>spriteOffset</key>
			<string>{1, -4}</string>
			<key>spriteSize</key>
			<string>{134, 85}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{145, 207}, {134, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>business_school.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 10}, {132, 113}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{132, 113}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{133, 294}, {132, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>business_ski_lodge.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 25}, {122, 93}}</string>
			<key>spriteOffset</key>
			<string>{-8, -4}</string>
			<key>spriteSize</key>
			<string>{122, 93}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 518}, {122, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>business_tofu.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 14}, {120, 113}}</string>
			<key>spriteOffset</key>
			<string>{-1, -3}</string>
			<key>spriteSize</key>
			<string>{120, 113}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{316, 610}, {120, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>community_car_wash.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {177, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{177, 125}</string>
			<key>spriteSourceSize</key>
			<string>{177, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {177, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>community_gas_station.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {146, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{146, 125}</string>
			<key>spriteSourceSize</key>
			<string>{146, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{626, 0}, {146, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>community_grand_prix_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 18}, {150, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{150, 105}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 0}, {150, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>community_tireshop_offroad.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 7}, {136, 121}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{136, 121}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{886, 413}, {136, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>community_tireshop_racing.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {138, 121}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{138, 121}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{766, 203}, {138, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>community_tireshop_street.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {136, 121}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{136, 121}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{750, 325}, {136, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>currency_cash_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 29}</string>
			<key>spriteSourceSize</key>
			<string>{42, 29}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{695, 559}, {42, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>currency_cash_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{45, 42}</string>
			<key>spriteSourceSize</key>
			<string>{45, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{703, 382}, {45, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>currency_cash_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {38, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{38, 50}</string>
			<key>spriteSourceSize</key>
			<string>{38, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 840}, {38, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>currency_cash_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 53}</string>
			<key>spriteSourceSize</key>
			<string>{76, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{619, 704}, {76, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>currency_cash_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 48}</string>
			<key>spriteSourceSize</key>
			<string>{63, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{255, 516}, {63, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>currency_cash_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{71, 69}</string>
			<key>spriteSourceSize</key>
			<string>{71, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{221, 850}, {71, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>currency_coins_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {31, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{31, 30}</string>
			<key>spriteSourceSize</key>
			<string>{31, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{145, 126}, {31, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>currency_coins_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 40}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{703, 341}, {46, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>currency_coins_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {38, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{38, 47}</string>
			<key>spriteSourceSize</key>
			<string>{38, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{39, 840}, {38, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>currency_coins_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 52}</string>
			<key>spriteSourceSize</key>
			<string>{54, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{265, 349}, {54, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>currency_coins_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {56, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{56, 48}</string>
			<key>spriteSourceSize</key>
			<string>{56, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{265, 300}, {56, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>currency_coins_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {57, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{57, 69}</string>
			<key>spriteSourceSize</key>
			<string>{57, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 678}, {57, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>currency_free_bundle.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {91, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{91, 73}</string>
			<key>spriteSourceSize</key>
			<string>{91, 73}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{81, 936}, {91, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>currency_parts_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 29}</string>
			<key>spriteSourceSize</key>
			<string>{39, 29}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 891}, {39, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>currency_parts_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 34}</string>
			<key>spriteSourceSize</key>
			<string>{46, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{695, 523}, {46, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>currency_parts_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 46}</string>
			<key>spriteSourceSize</key>
			<string>{44, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{703, 425}, {44, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>currency_parts_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {48, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{48, 50}</string>
			<key>spriteSourceSize</key>
			<string>{48, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{695, 472}, {48, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>currency_parts_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{66, 47}</string>
			<key>spriteSourceSize</key>
			<string>{66, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 629}, {66, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>currency_parts_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{66, 63}</string>
			<key>spriteSourceSize</key>
			<string>{66, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{249, 565}, {66, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_contruction_barrel_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 41}, {78, 75}}</string>
			<key>spriteOffset</key>
			<string>{-8, -11}</string>
			<key>spriteSize</key>
			<string>{78, 75}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 936}, {78, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_contruction_barrier_long_01_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 37}, {120, 83}}</string>
			<key>spriteOffset</key>
			<string>{-14, -11}</string>
			<key>spriteSize</key>
			<string>{120, 83}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 561}, {120, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_contruction_barrier_long_02_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 37}, {120, 83}}</string>
			<key>spriteOffset</key>
			<string>{-14, -11}</string>
			<key>spriteSize</key>
			<string>{120, 83}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{123, 611}, {120, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_contruction_barrier_small_01_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 51}, {70, 57}}</string>
			<key>spriteOffset</key>
			<string>{-6, -12}</string>
			<key>spriteSize</key>
			<string>{70, 57}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{293, 850}, {70, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_contruction_cone_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 54}, {70, 57}}</string>
			<key>spriteOffset</key>
			<string>{-7, -15}</string>
			<key>spriteSize</key>
			<string>{70, 57}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{548, 704}, {70, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_contruction_stick_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 36}, {82, 73}}</string>
			<key>spriteOffset</key>
			<string>{-14, -5}</string>
			<key>spriteSize</key>
			<string>{82, 73}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{173, 936}, {82, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_flower_patch_01_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 31}, {144, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -11}</string>
			<key>spriteSize</key>
			<string>{144, 95}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{478, 95}, {144, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_flower_patch_02_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 31}, {144, 93}}</string>
			<key>spriteOffset</key>
			<string>{-1, -10}</string>
			<key>spriteSize</key>
			<string>{144, 93}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 105}, {144, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_flower_patch_03_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 31}, {144, 95}}</string>
			<key>spriteOffset</key>
			<string>{-1, -11}</string>
			<key>spriteSize</key>
			<string>{144, 95}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{178, 112}, {144, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_flower_patch_04_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 32}, {144, 93}}</string>
			<key>spriteOffset</key>
			<string>{-1, -11}</string>
			<key>spriteSize</key>
			<string>{144, 93}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 126}, {144, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_flowers_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 26}, {82, 99}}</string>
			<key>spriteOffset</key>
			<string>{-2, -8}</string>
			<key>spriteSize</key>
			<string>{82, 99}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{678, 589}, {82, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_fountain_car_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 5}, {104, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{104, 127}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 809}, {104, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_fountain_gas_pump_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 11}, {118, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{118, 113}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{122, 694}, {118, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_fountain_topiary_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 22}, {136, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{136, 101}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{474, 190}, {136, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_grass_patch_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 31}, {148, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -11}</string>
			<key>spriteSize</key>
			<string>{148, 95}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{478, 0}, {148, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_house_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 8}, {124, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{124, 117}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{577, 341}, {124, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_light_post_double_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 14}, {86, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{86, 113}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{355, 907}, {86, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_light_post_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{48, 14}, {54, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{54, 113}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{265, 402}, {54, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_racing_fence_red_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 5}, {110, 125}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{110, 125}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{566, 578}, {110, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_racing_fence_white_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 5}, {110, 125}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{110, 125}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{748, 447}, {110, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_racing_haystack_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 31}, {118, 89}}</string>
			<key>spriteOffset</key>
			<string>{-4, -8}</string>
			<key>spriteSize</key>
			<string>{118, 89}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{904, 323}, {118, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_racing_tire_stack_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 40}, {106, 81}}</string>
			<key>spriteOffset</key>
			<string>{1, -13}</string>
			<key>spriteSize</key>
			<string>{106, 81}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{915, 117}, {106, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_topiary_car_02_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 36}, {84, 97}}</string>
			<key>spriteOffset</key>
			<string>{3, -17}</string>
			<key>spriteSize</key>
			<string>{84, 97}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{440, 902}, {84, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_topiary_car_04_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 2}, {76, 127}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{76, 127}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{496, 769}, {76, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_topiary_piston_left_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 24}, {110, 103}}</string>
			<key>spriteOffset</key>
			<string>{-10, -8}</string>
			<key>spriteSize</key>
			<string>{110, 103}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{437, 664}, {110, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_topiary_piston_right_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {124, 115}}</string>
			<key>spriteOffset</key>
			<string>{-9, -1}</string>
			<key>spriteSize</key>
			<string>{124, 115}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{447, 429}, {124, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_topiary_tires_01_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{49, 22}, {52, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{52, 99}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{241, 748}, {52, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_traffic_light_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{54, 22}, {42, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 91}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{279, 207}, {42, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_tree_01_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 0}, {126, 135}}</string>
			<key>spriteOffset</key>
			<string>{-5, -0}</string>
			<key>spriteSize</key>
			<string>{126, 135}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{450, 293}, {126, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_tree_02_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 2}, {78, 133}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{78, 133}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{415, 769}, {78, 133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_tree_03_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 10}, {98, 123}}</string>
			<key>spriteOffset</key>
			<string>{1, -4}</string>
			<key>spriteSize</key>
			<string>{98, 123}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{573, 760}, {98, 123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_tree_04_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{35, 10}, {78, 123}}</string>
			<key>spriteOffset</key>
			<string>{-1, -4}</string>
			<key>spriteSize</key>
			<string>{78, 123}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{620, 884}, {78, 123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_tree_cherry_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 10}, {104, 123}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{104, 123}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{915, 200}, {104, 123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>decoration_tree_palm_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 8}, {94, 123}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{94, 123}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{524, 899}, {94, 123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>road_asphalt_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 40}, {142, 79}}</string>
			<key>spriteOffset</key>
			<string>{0, -12}</string>
			<key>spriteSize</key>
			<string>{142, 79}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{773, 0}, {142, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>road_dirt_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 41}, {142, 79}}</string>
			<key>spriteOffset</key>
			<string>{0, -13}</string>
			<key>spriteSize</key>
			<string>{142, 79}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{624, 126}, {142, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>road_hotwheels_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 47}, {116, 67}}</string>
			<key>spriteOffset</key>
			<string>{-1, -13}</string>
			<key>spriteSize</key>
			<string>{116, 67}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 773}, {116, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>road_hotwheels_loop_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 4}, {120, 127}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{120, 127}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 644}, {120, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>utility_garage_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 20}, {110, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{110, 101}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{304, 723}, {110, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>utility_junkyard_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 12}, {150, 111}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 111}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{178, 0}, {150, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>utility_paintshop_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 18}, {100, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 99}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{255, 920}, {100, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>utility_parts.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {125, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{125, 120}</string>
			<key>spriteSourceSize</key>
			<string>{125, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 440}, {125, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>utility_showroom_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {142, 123}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{142, 123}</string>
			<key>spriteSourceSize</key>
			<string>{150, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{773, 80}, {142, 123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>shop_icons</string>
		<key>textureFileName</key>
		<string>shop_icons.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>