<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_45_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{219,116}}</string>
                <key>offset</key>
                <string>{-12.5,-33.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,132},{219,116}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_45_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,58}}</string>
                <key>offset</key>
                <string>{-16.5,-89.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,217},{247,58}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_45_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{157,189},{96,52}}</string>
                <key>offset</key>
                <string>{-5.5,-14.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,57},{96,52}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_45_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{223,81},{106,25}}</string>
                <key>offset</key>
                <string>{-7.5,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,95},{106,25}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_45_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{67,25}}</string>
                <key>offset</key>
                <string>{-17,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,81},{67,25}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_45_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{153,54}}</string>
                <key>offset</key>
                <string>{-39.5,-57.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,187},{153,54}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_45_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{52,39}}</string>
                <key>offset</key>
                <string>{-2.5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{52,39}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_45_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{138,243},{51,38}}</string>
                <key>offset</key>
                <string>{-2,-8.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,28},{51,38}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_45_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{71,236},{65,39}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,38},{65,39}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_45_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{71,236},{65,39}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,38},{65,39}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_45_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{191,243},{33,23}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,41},{33,23}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_45_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{223,62},{30,17}}</string>
                <key>offset</key>
                <string>{7.5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,44},{30,17}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_45_alpha.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e3e0588ed24a2bcaa831e1056350a64$</string>
            <key>textureFileName</key>
            <string>carasset_45_alpha.png</string>
        </dict>
    </dict>
</plist>
