<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_23_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,114},{386,184}}</string>
                <key>offset</key>
                <string>{-0.5,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,328},{386,184}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_23_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{438,106}}</string>
                <key>offset</key>
                <string>{3.5,-184}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,444},{438,106}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_23_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{422,134},{170,80}}</string>
                <key>offset</key>
                <string>{0.5,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,144},{170,80}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_23_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{192,308},{190,44}}</string>
                <key>offset</key>
                <string>{2.5,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,196},{190,44}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_23_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{240,366},{100,48}}</string>
                <key>offset</key>
                <string>{-28.5,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,174},{100,48}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_23_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{192,114},{226,104}}</string>
                <key>offset</key>
                <string>{-66.5,-139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,400},{226,104}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_23_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{192,222},{94,70}}</string>
                <key>offset</key>
                <string>{-1.5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,64},{94,70}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_23_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{446,4},{92,54}}</string>
                <key>offset</key>
                <string>{-0.5,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,72},{92,54}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_23_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{290,222},{122,68}}</string>
                <key>offset</key>
                <string>{0.5,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,80},{122,68}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_23_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{290,294},{116,68}}</string>
                <key>offset</key>
                <string>{1.5,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,80},{116,68}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_23_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{240,296},{48,32}}</string>
                <key>offset</key>
                <string>{19.5,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,96},{48,32}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_23_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{446,100},{50,30}}</string>
                <key>offset</key>
                <string>{18.5,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,94},{50,30}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_23_alpha-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ed0ac40a880017c3ae0d8010d5272f2$</string>
            <key>textureFileName</key>
            <string>carasset_23_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
