<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_183_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{1,1}}</string>
                <key>offset</key>
                <string>{-208.5,156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_183_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,65}}</string>
                <key>offset</key>
                <string>{6,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,213},{242,65}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_183_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{1,1}}</string>
                <key>offset</key>
                <string>{-91,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_183_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{111,29}}</string>
                <key>offset</key>
                <string>{2,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,92},{111,29}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_183_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{1,1}}</string>
                <key>offset</key>
                <string>{-52,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_183_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{1,1}}</string>
                <key>offset</key>
                <string>{-52,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_183_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{33,69},{74,41}}</string>
                <key>offset</key>
                <string>{2.5,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,36},{74,41}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_183_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{73,42}}</string>
                <key>offset</key>
                <string>{0,-17.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,35},{73,42}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_183_alpha.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d923d06eaeab1baf1542def0a147e1e2$</string>
            <key>textureFileName</key>
            <string>carasset_183_alpha.png</string>
        </dict>
    </dict>
</plist>
