<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_64_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{227,168}}</string>
                <key>offset</key>
                <string>{-10.5,-5.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,78},{227,168}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_64_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,59}}</string>
                <key>offset</key>
                <string>{-12,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,216},{252,59}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_64_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{148,233},{100,74}}</string>
                <key>offset</key>
                <string>{-4.5,-2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,34},{100,74}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_64_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{109,25}}</string>
                <key>offset</key>
                <string>{-5,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,95},{109,25}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_64_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{113,316},{64,25}}</string>
                <key>offset</key>
                <string>{-17.5,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,80},{64,25}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_64_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{144,55}}</string>
                <key>offset</key>
                <string>{-40,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,184},{144,55}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_64_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{54,54}}</string>
                <key>offset</key>
                <string>{-1.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,13},{54,54}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_64_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{58,317},{54,46}}</string>
                <key>offset</key>
                <string>{-1.5,-5.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{54,46}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_64_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{148,309},{69,39}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,38},{69,39}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_64_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{148,309},{69,39}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,38},{69,39}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_64_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{113,290},{33,24}}</string>
                <key>offset</key>
                <string>{7,-14.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,41},{33,24}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_64_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{231,63},{31,19}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,43},{31,19}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_64_alpha.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9940523f8304fdd9cd02c1389ee1d27$</string>
            <key>textureFileName</key>
            <string>carasset_64_alpha.png</string>
        </dict>
    </dict>
</plist>
