<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_162_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{248,9},{1,1}}</string>
                <key>offset</key>
                <string>{-417,312.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_162_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,66},{418,128}}</string>
                <key>offset</key>
                <string>{-6.5,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,428},{418,128}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_162_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{248,4},{1,1}}</string>
                <key>offset</key>
                <string>{-182,136.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_162_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{184,58}}</string>
                <key>offset</key>
                <string>{-2.5,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,184},{184,58}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_162_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{248,4},{1,1}}</string>
                <key>offset</key>
                <string>{-104,76.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_162_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{248,4},{1,1}}</string>
                <key>offset</key>
                <string>{-104,76.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_162_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{136,66},{106,52}}</string>
                <key>offset</key>
                <string>{-1.5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,94},{106,52}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_162_iso_shadow_front_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{192,4},{106,52}}</string>
                <key>offset</key>
                <string>{-1.5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,94},{106,52}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_162_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{136,228},{104,48}}</string>
                <key>offset</key>
                <string>{-0.5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,94},{104,48}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_162_iso_shadow_rear_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{136,176},{104,48}}</string>
                <key>offset</key>
                <string>{1.5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,96},{104,48}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_162_alpha-hd.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c1524bd02a754dfe173733edbca2df7$</string>
            <key>textureFileName</key>
            <string>carasset_162_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
