<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_169_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{190,92}}</string>
                <key>offset</key>
                <string>{9,-54.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,165},{190,92}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_169_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{207,50}}</string>
                <key>offset</key>
                <string>{8.5,-94.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,226},{207,50}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_169_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{84,41}}</string>
                <key>offset</key>
                <string>{3.5,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,72},{84,41}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_169_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{96,147},{90,23}}</string>
                <key>offset</key>
                <string>{3.5,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,98},{90,23}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_169_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{121,146},{81,24}}</string>
                <key>offset</key>
                <string>{2,-31.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,88},{81,24}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_169_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{96,54},{113,53}}</string>
                <key>offset</key>
                <string>{-29.5,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,201},{113,53}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_169_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{96,109},{45,35}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,34},{45,35}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_169_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{204,147},{45,31}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,36},{45,31}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_169_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{211,88},{57,35}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,42},{57,35}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_169_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{143,109},{57,34}}</string>
                <key>offset</key>
                <string>{0,-21.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,43},{57,34}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_169_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{121,180},{44,31}}</string>
                <key>offset</key>
                <string>{1.5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,37},{44,31}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_169_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{121,226},{26,16}}</string>
                <key>offset</key>
                <string>{8.5,-17.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,48},{26,16}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_169_alpha.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7beb642d7b8d4e9f18b8e421bf8bc2ac$</string>
            <key>textureFileName</key>
            <string>carasset_169_alpha.png</string>
        </dict>
    </dict>
</plist>
