<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_185_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{0,108},{399,362}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,154},{399,362}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_185_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{457,108}}</string>
                <key>offset</key>
                <string>{9,-188}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,447},{457,108}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_185_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{227,470},{175,160}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,66},{175,160}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_185_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{0,584},{199,46}}</string>
                <key>offset</key>
                <string>{3,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,196},{199,46}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_185_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{457,40},{159,50}}</string>
                <key>offset</key>
                <string>{-1,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,175},{159,50}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_185_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{0,470},{227,114}}</string>
                <key>offset</key>
                <string>{-68,-144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,400},{227,114}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_185_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{399,283},{93,108}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,26},{93,108}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_185_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{399,376},{91,64}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,67},{91,64}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_185_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{399,223},{109,60}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,86},{109,60}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_185_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{399,108},{115,58}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,90},{115,58}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_185_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{457,0},{51,40}}</string>
                <key>offset</key>
                <string>{20,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,93},{51,40}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_185_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{399,440},{85,36}}</string>
                <key>offset</key>
                <string>{2,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,95},{85,36}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_185_alpha-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bb8d2b53400c0401d750306f3cd55a5$</string>
            <key>textureFileName</key>
            <string>carasset_185_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
