<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_143_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,120},{384,188}}</string>
                <key>offset</key>
                <string>{-1.5,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,310},{384,188}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_143_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{432,100}}</string>
                <key>offset</key>
                <string>{-5.5,-183}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,446},{432,100}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_143_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{418,120},{170,84}}</string>
                <key>offset</key>
                <string>{-1.5,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,136},{170,84}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_143_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{196,294},{190,44}}</string>
                <key>offset</key>
                <string>{-3.5,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,196},{190,44}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_143_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{260,188},{96,34}}</string>
                <key>offset</key>
                <string>{-24.5,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,186},{96,34}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_143_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{196,108},{218,76}}</string>
                <key>offset</key>
                <string>{-54.5,-145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,420},{218,76}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_143_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{260,226},{92,62}}</string>
                <key>offset</key>
                <string>{-2.5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,68},{92,62}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_143_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{260,292},{92,60}}</string>
                <key>offset</key>
                <string>{-0.5,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,74},{92,60}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_143_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{440,4},{112,62}}</string>
                <key>offset</key>
                <string>{1.5,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,82},{112,62}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_143_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{196,188},{102,60}}</string>
                <key>offset</key>
                <string>{-1.5,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,82},{102,60}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_143_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{360,188},{46,28}}</string>
                <key>offset</key>
                <string>{14.5,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,100},{46,28}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_143_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{360,220},{44,26}}</string>
                <key>offset</key>
                <string>{17.5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,104},{44,26}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_143_alpha-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79c0baead73d4b6c5d2b94bb6f5901a5$</string>
            <key>textureFileName</key>
            <string>carasset_143_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
