<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_167_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{462,186}}</string>
                <key>offset</key>
                <string>{-20.5,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,324},{462,186}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_167_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{142,302},{512,118}}</string>
                <key>offset</key>
                <string>{-21.5,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,436},{512,118}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_167_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{268,252},{204,84}}</string>
                <key>offset</key>
                <string>{-8.5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,140},{204,84}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_167_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{268,194},{220,54}}</string>
                <key>offset</key>
                <string>{-6.5,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,188},{220,54}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_167_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{4,458},{116,46}}</string>
                <key>offset</key>
                <string>{-36.5,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,176},{116,46}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_167_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{4,194},{260,104}}</string>
                <key>offset</key>
                <string>{-85.5,-143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,404},{260,104}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_167_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{4,584},{110,72}}</string>
                <key>offset</key>
                <string>{2.5,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,68},{110,72}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_167_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{4,508},{110,72}}</string>
                <key>offset</key>
                <string>{-1.5,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,64},{110,72}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_167_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{4,380},{134,74}}</string>
                <key>offset</key>
                <string>{2.5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,80},{134,74}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_167_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{4,302},{134,74}}</string>
                <key>offset</key>
                <string>{0.5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,80},{134,74}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_167_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{470,4},{58,36}}</string>
                <key>offset</key>
                <string>{18.5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,102},{58,36}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_167_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{4,660},{62,40}}</string>
                <key>offset</key>
                <string>{16.5,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,94},{62,40}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_167_alpha-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:295d16242f8ce7209353afa73d95dfdf$</string>
            <key>textureFileName</key>
            <string>carasset_167_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
