<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_158_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{382,182}}</string>
                <key>offset</key>
                <string>{-2.5,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,324},{382,182}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_158_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{390,4},{432,100}}</string>
                <key>offset</key>
                <string>{-5.5,-185}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,448},{432,100}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_158_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,316},{168,80}}</string>
                <key>offset</key>
                <string>{1.5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,140},{168,80}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_158_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{298,190},{186,44}}</string>
                <key>offset</key>
                <string>{0.5,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,194},{186,44}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_158_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{176,316},{128,56}}</string>
                <key>offset</key>
                <string>{-16.5,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,168},{128,56}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_158_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{4,190},{290,122}}</string>
                <key>offset</key>
                <string>{-40.5,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,390},{290,122}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_158_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{236,380},{92,66}}</string>
                <key>offset</key>
                <string>{1.5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,70},{92,66}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_158_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{332,440},{92,62}}</string>
                <key>offset</key>
                <string>{-2.5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,74},{92,62}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_158_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{4,400},{102,62}}</string>
                <key>offset</key>
                <string>{2.5,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,90},{102,62}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_158_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{110,400},{98,60}}</string>
                <key>offset</key>
                <string>{-1.5,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,94},{98,60}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_158_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{174,448},{50,30}}</string>
                <key>offset</key>
                <string>{18.5,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,98},{50,30}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_158_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{236,316},{50,32}}</string>
                <key>offset</key>
                <string>{12.5,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,98},{50,32}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_158_alpha-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e236660efe126b31e6d2f8476b12397$</string>
            <key>textureFileName</key>
            <string>carasset_158_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
