<?xml version="1.0" encoding="UTF-8"?>
          			<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
          			<plist version="1.0">
          			<dict>  <key>military_hummer</key><dict>
		<key>carID</key>
		<integer>1</integer>
		<key>rearWheelUnder</key>
		<true/>
		<key>Angle</key>
		<dict>
			<key>bodyOffset</key>
			<string>{0,0}</string>
			<key>frontWheelPosition</key>
			<string>{-37.5,-139}</string>
			<key>rearWheelPosition</key>
			<string>{-189.5,-120.5}</string>
			<key>frontOppWheelPosition</key>
			<string>{41,-123.5}</string>
			<key>rearOppWheelPosition</key>
			<string>{-106,-114.5}</string>
		</dict>
		<key>Back</key>
		<dict>
			<key>bodyOffset</key>
			<string>{0,0}</string>
			<key>frontWheelPosition</key>
			<string>{11.75,-20.25}</string>
			<key>rearWheelPosition</key>
			<string>{-14.75,-33.5}</string>
			<key>frontOppWheelPosition</key>
			<string>{-32.5,-24.5}</string>
			<key>rearOppWheelPosition</key>
			<string>{0,0}</string>
		</dict>
		<key>Front</key>
		<dict>
			<key>bodyOffset</key>
			<string>{0,1}</string>
			<key>frontWheelPosition</key>
			<string>{-17,-31.5}</string>
			<key>rearWheelPosition</key>
			<string>{9.5,-18.5}</string>
			<key>frontOppWheelPosition</key>
			<string>{-31.25,-24.5}</string>
			<key>rearOppWheelPosition</key>
			<string>{0,0}</string>
		</dict>
	</dict></dict>
          			</plist>

