<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>carasset_46_iso_overlay_front</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{101,88}}</string>
			<key>offset</key>
			<string>{-9,-25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,58},{101,88}}</string>
			<key>sourceSize</key>
			<string>{209,154}</string>
		</dict>
		<key>carasset_46_iso_overlay_rear</key>
		<dict>
			<key>frame</key>
			<string>{{1,91},{97,96}}</string>
			<key>offset</key>
			<string>{-2,-25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{54,54},{97,96}}</string>
			<key>sourceSize</key>
			<string>{209,154}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>carasset_46_iso-hd.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d8d071733fbcf46fe87ccaee88728c72$</string>
		<key>textureFileName</key>
		<string>carasset_46_iso-hd.png</string>
	</dict>
</dict>
</plist>
