<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_68_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{149,89}}</string>
                <key>offset</key>
                <string>{2.5,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,166},{149,89}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_68_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{173,41}}</string>
                <key>offset</key>
                <string>{2.5,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,233},{173,41}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_68_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{177,22},{66,40}}</string>
                <key>offset</key>
                <string>{0.5,-23.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,72},{66,40}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_68_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{74,18}}</string>
                <key>offset</key>
                <string>{1.5,-42.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,102},{74,18}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_68_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{57,26}}</string>
                <key>offset</key>
                <string>{-3,-29.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,85},{57,26}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_68_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{175,64},{129,57}}</string>
                <key>offset</key>
                <string>{-7.5,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,195},{129,57}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_68_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{32,136},{36,27}}</string>
                <key>offset</key>
                <string>{-1.5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,37},{36,27}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_68_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{30,195},{36,28}}</string>
                <key>offset</key>
                <string>{-0.5,-12.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,37},{36,28}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_68_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{47,28}}</string>
                <key>offset</key>
                <string>{-1,-19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,44},{47,28}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_68_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{47,28}}</string>
                <key>offset</key>
                <string>{-1,-19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,44},{47,28}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_68_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{153,45},{22,12}}</string>
                <key>offset</key>
                <string>{4.5,-16.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,49},{22,12}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_68_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{153,59},{20,14}}</string>
                <key>offset</key>
                <string>{6.5,-15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,47},{20,14}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_68_alpha.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d576dd0752a326e5217ad8cafcaed7e$</string>
            <key>textureFileName</key>
            <string>carasset_68_alpha.png</string>
        </dict>
    </dict>
</plist>
