<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_8_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{217,119}}</string>
                <key>offset</key>
                <string>{-8.5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,117},{217,119}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_8_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{253,57}}</string>
                <key>offset</key>
                <string>{-7.5,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,221},{253,57}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_8_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{160,205},{95,53}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,51},{95,53}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_8_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{110,25}}</string>
                <key>offset</key>
                <string>{-3.5,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,97},{110,25}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_8_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{61,205},{97,35}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,79},{97,35}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_8_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{221,80}}</string>
                <key>offset</key>
                <string>{-7.5,-64.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,181},{221,80}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_8_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{116,242},{52,40}}</string>
                <key>offset</key>
                <string>{-1.5,-2.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,21},{52,40}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_8_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{61,242},{53,37}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{53,37}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_8_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{215,293},{68,39}}</string>
                <key>offset</key>
                <string>{-0.5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,38},{68,39}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_8_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{215,223},{68,39}}</string>
                <key>offset</key>
                <string>{-0.5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,38},{68,39}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_8_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{221,167},{54,23}}</string>
                <key>offset</key>
                <string>{-1.5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,44},{54,23}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_8_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{221,114},{51,24}}</string>
                <key>offset</key>
                <string>{1,-17.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,44},{51,24}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_8_alpha.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28cb23ef85b97b30c2f6937978d46a0a$</string>
            <key>textureFileName</key>
            <string>carasset_8_alpha.png</string>
        </dict>
    </dict>
</plist>
