<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_169_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,108},{380,184}}</string>
                <key>offset</key>
                <string>{18.5,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,330},{380,184}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_169_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{414,100}}</string>
                <key>offset</key>
                <string>{17.5,-189}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,452},{414,100}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_169_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{422,4},{168,82}}</string>
                <key>offset</key>
                <string>{7.5,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,144},{168,82}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_169_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{192,294},{180,46}}</string>
                <key>offset</key>
                <string>{7.5,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,196},{180,46}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_169_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{242,292},{162,48}}</string>
                <key>offset</key>
                <string>{4.5,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,176},{162,48}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_169_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{192,108},{226,106}}</string>
                <key>offset</key>
                <string>{-58.5,-142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,402},{226,106}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_169_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{192,218},{90,70}}</string>
                <key>offset</key>
                <string>{2.5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,68},{90,70}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_169_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{408,294},{90,62}}</string>
                <key>offset</key>
                <string>{-1.5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,72},{90,62}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_169_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{422,176},{114,70}}</string>
                <key>offset</key>
                <string>{4.5,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,84},{114,70}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_169_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{286,218},{114,68}}</string>
                <key>offset</key>
                <string>{0.5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,86},{114,68}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_169_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{242,360},{88,62}}</string>
                <key>offset</key>
                <string>{3.5,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,74},{88,62}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_169_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{242,452},{52,32}}</string>
                <key>offset</key>
                <string>{17.5,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,96},{52,32}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_169_alpha-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7beb642d7b8d4e9f18b8e421bf8bc2ac$</string>
            <key>textureFileName</key>
            <string>carasset_169_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
