<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_56_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,120},{424,264}}</string>
                <key>offset</key>
                <string>{6.5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,224},{424,264}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_56_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{486,112}}</string>
                <key>offset</key>
                <string>{-0.5,-189}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,446},{486,112}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_56_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,388},{188,116}}</string>
                <key>offset</key>
                <string>{1.5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,98},{188,116}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_56_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,622},{210,50}}</string>
                <key>offset</key>
                <string>{0.5,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,194},{210,50}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_56_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{4,836},{110,30}}</string>
                <key>offset</key>
                <string>{-29.5,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,180},{110,30}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_56_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{432,250},{368,72}}</string>
                <key>offset</key>
                <string>{-7.5,-129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,406},{368,72}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_56_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{38,836},{100,92}}</string>
                <key>offset</key>
                <string>{-2.5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,42},{100,92}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_56_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{58,622},{100,90}}</string>
                <key>offset</key>
                <string>{-2.5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,44},{100,90}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_56_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{432,120},{126,74}}</string>
                <key>offset</key>
                <string>{-1.5,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,80},{126,74}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_56_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{432,120},{126,74}}</string>
                <key>offset</key>
                <string>{-1.5,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,80},{126,74}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_56_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{4,950},{98,44}}</string>
                <key>offset</key>
                <string>{-1.5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,76},{98,44}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_56_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{4,580},{94,34}}</string>
                <key>offset</key>
                <string>{-3.5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,86},{94,34}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_56_alpha-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56e9b18ad31e93eaa1db3afa0e4f303e$</string>
            <key>textureFileName</key>
            <string>carasset_56_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
