<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_34_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,146},{526,212}}</string>
                <key>offset</key>
                <string>{-16.5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,272},{526,212}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_34_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{264,94},{600,138}}</string>
                <key>offset</key>
                <string>{-15.5,-176}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,420},{600,138}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_34_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{406,196},{232,94}}</string>
                <key>offset</key>
                <string>{-6.5,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,118},{232,94}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_34_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,82},{256,60}}</string>
                <key>offset</key>
                <string>{-6.5,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,184},{256,60}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_34_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{454,64},{128,32}}</string>
                <key>offset</key>
                <string>{-34.5,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,180},{128,32}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_34_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{290,74}}</string>
                <key>offset</key>
                <string>{-76.5,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,410},{290,74}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_34_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{406,432},{126,90}}</string>
                <key>offset</key>
                <string>{-3.5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,46},{126,90}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_34_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{406,562},{126,78}}</string>
                <key>offset</key>
                <string>{-3.5,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,58},{126,78}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_34_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{298,4},{152,86}}</string>
                <key>offset</key>
                <string>{1.5,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,68},{152,86}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_34_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{298,4},{152,86}}</string>
                <key>offset</key>
                <string>{1.5,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,68},{152,86}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_34_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{492,4},{22,12}}</string>
                <key>offset</key>
                <string>{-3.5,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,116},{22,12}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_34_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{454,4},{56,34}}</string>
                <key>offset</key>
                <string>{25.5,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,90},{56,34}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_34_alpha-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c615d7ee51a27d15ac7487be1701d9c$</string>
            <key>textureFileName</key>
            <string>carasset_34_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
