<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>carasset_96_iso_overlay_front</key>
		<dict>
			<key>frame</key>
			<string>{{100,1},{97,74}}</string>
			<key>offset</key>
			<string>{-2,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{54,57},{97,74}}</string>
			<key>sourceSize</key>
			<string>{209,154}</string>
		</dict>
		<key>carasset_96_iso_overlay_front_mirror</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{97,74}}</string>
			<key>offset</key>
			<string>{-2,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{54,56},{97,74}}</string>
			<key>sourceSize</key>
			<string>{209,154}</string>
		</dict>
		<key>carasset_96_iso_overlay_rear</key>
		<dict>
			<key>frame</key>
			<string>{{1,176},{97,66}}</string>
			<key>offset</key>
			<string>{-2,-30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{54,74},{97,66}}</string>
			<key>sourceSize</key>
			<string>{209,154}</string>
		</dict>
		<key>carasset_96_iso_overlay_rear_mirror</key>
		<dict>
			<key>frame</key>
			<string>{{1,77},{97,66}}</string>
			<key>offset</key>
			<string>{-2,-30}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{54,74},{97,66}}</string>
			<key>sourceSize</key>
			<string>{209,154}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>carasset_96_iso-hd.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e669d6a28e35c157593bf34a9fc616c8$</string>
		<key>textureFileName</key>
		<string>carasset_96_iso-hd.png</string>
	</dict>
</dict>
</plist>
