<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_143_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{192,94}}</string>
                <key>offset</key>
                <string>{-1,-45.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,155},{192,94}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_143_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,50}}</string>
                <key>offset</key>
                <string>{-3,-91.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,223},{216,50}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_143_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{209,60},{85,42}}</string>
                <key>offset</key>
                <string>{-1,-20.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,68},{85,42}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_143_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{98,147},{95,22}}</string>
                <key>offset</key>
                <string>{-2,-40.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,98},{95,22}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_143_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{130,94},{48,17}}</string>
                <key>offset</key>
                <string>{-12.5,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,93},{48,17}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_143_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{98,54},{109,38}}</string>
                <key>offset</key>
                <string>{-27.5,-72.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,210},{109,38}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_143_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{130,113},{46,31}}</string>
                <key>offset</key>
                <string>{-1.5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,34},{46,31}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_143_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{130,146},{46,30}}</string>
                <key>offset</key>
                <string>{-0.5,-13.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,37},{46,30}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_143_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{56,31}}</string>
                <key>offset</key>
                <string>{0.5,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,41},{56,31}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_143_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{98,94},{51,30}}</string>
                <key>offset</key>
                <string>{-1,-17.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,41},{51,30}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_143_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{180,94},{23,14}}</string>
                <key>offset</key>
                <string>{7,-18.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,50},{23,14}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_143_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{180,110},{22,13}}</string>
                <key>offset</key>
                <string>{8.5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,52},{22,13}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_143_alpha.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79c0baead73d4b6c5d2b94bb6f5901a5$</string>
            <key>textureFileName</key>
            <string>carasset_143_alpha.png</string>
        </dict>
    </dict>
</plist>
