<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_142_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{213,4},{1,1}}</string>
                <key>offset</key>
                <string>{-417,312.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_142_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,370},{648,132}}</string>
                <key>offset</key>
                <string>{-31.5,-191}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,438},{648,132}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_142_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{208,4},{1,1}}</string>
                <key>offset</key>
                <string>{-182,136.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_142_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{166,180},{364,78}}</string>
                <key>offset</key>
                <string>{-0.5,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,182},{364,78}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_142_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{208,4},{1,1}}</string>
                <key>offset</key>
                <string>{-104,76.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_142_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{208,4},{1,1}}</string>
                <key>offset</key>
                <string>{-104,76.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_142_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{4,276},{158,90}}</string>
                <key>offset</key>
                <string>{12.5,-34.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,68},{158,90}}</string>
                <key>sourceSize</key>
                <string>{209,157}</string>
            </dict>
            <key>carasset_142_iso_shadow_front_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{4,180},{158,92}}</string>
                <key>offset</key>
                <string>{-11.5,-33.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,66},{158,92}}</string>
                <key>sourceSize</key>
                <string>{209,157}</string>
            </dict>
            <key>carasset_142_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{4,92},{198,84}}</string>
                <key>offset</key>
                <string>{6.5,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,70},{198,84}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_142_iso_shadow_rear_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{200,84}}</string>
                <key>offset</key>
                <string>{-4.5,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,70},{200,84}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_142_alpha-hd.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28e36b18661cf91f32470b17c76ab7f0$</string>
            <key>textureFileName</key>
            <string>carasset_142_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
