<?xml version="1.0" encoding="UTF-8"?>
								<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
								<plist version="1.0">
								<dict>	<key>carId_171</key><dict>
		<key>carID</key>
		<integer>171</integer>
		<key>carName</key>
		<string>ford_falcon_xb_74</string>
		<key>Angle</key>
		<dict>
			<key>bodyOffset</key>
			<string>{0,0}</string>
			<key>frontWheelPosition</key>
			<string>{-38,-135.5}</string>
			<key>rearWheelPosition</key>
			<string>{-125.5,-126.5}</string>
			<key>frontOppWheelPosition</key>
			<string>{26,-124}</string>
			<key>rearOppWheelPosition</key>
			<string>{-70,-115}</string>
		</dict>
		<key>Back</key>
		<dict>
			<key>bodyOffset</key>
			<string>{0,0}</string>
			<key>frontWheelPosition</key>
			<string>{6.5,-23}</string>
			<key>rearWheelPosition</key>
			<string>{-10,-32}</string>
			<key>frontOppWheelPosition</key>
			<string>{-9,-15.75}</string>
			<key>rearOppWheelPosition</key>
			<string>{0,0}</string>
		</dict>
		<key>Front</key>
		<dict>
			<key>bodyOffset</key>
			<string>{0,0}</string>
			<key>frontWheelPosition</key>
			<string>{-11,-31.75}</string>
			<key>rearWheelPosition</key>
			<string>{4.5,-24.75}</string>
			<key>frontOppWheelPosition</key>
			<string>{-25.75,-24}</string>
			<key>rearOppWheelPosition</key>
			<string>{0,0}</string>
		</dict>
	</dict></dict>
								</plist>

