<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_162_iso_overlay_front</key>
            <dict>
                <key>frame</key>
                <string>{{48,1},{45,33}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,35},{45,33}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_162_iso_overlay_front_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{45,33}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,35},{45,33}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_162_iso_overlay_rear</key>
            <dict>
                <key>frame</key>
                <string>{{1,48},{45,31}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,35},{45,31}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_162_iso_overlay_rear_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{95,1},{45,31}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,36},{45,31}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_162_iso.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e57f5da6ee6a49a98c74a6e91ade76d$</string>
            <key>textureFileName</key>
            <string>carasset_162_iso.png</string>
        </dict>
    </dict>
</plist>
