<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_155_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{243,4},{1,1}}</string>
                <key>offset</key>
                <string>{-417,312.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_155_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{458,112}}</string>
                <key>offset</key>
                <string>{3.5,-189}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,446},{458,112}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_155_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{238,4},{1,1}}</string>
                <key>offset</key>
                <string>{-182,136.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_155_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{120,300},{200,50}}</string>
                <key>offset</key>
                <string>{-0.5,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,190},{200,50}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_155_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{238,4},{1,1}}</string>
                <key>offset</key>
                <string>{-104,76.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_155_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{238,4},{1,1}}</string>
                <key>offset</key>
                <string>{-104,76.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_155_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{120,226},{112,70}}</string>
                <key>offset</key>
                <string>{-0.5,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,84},{112,70}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_155_iso_shadow_front_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{120,152},{112,70}}</string>
                <key>offset</key>
                <string>{1.5,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,84},{112,70}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_155_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{120,78},{114,70}}</string>
                <key>offset</key>
                <string>{0.5,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,84},{114,70}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_155_iso_shadow_rear_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{120,4},{114,70}}</string>
                <key>offset</key>
                <string>{-3.5,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,84},{114,70}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_155_alpha-hd.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30ad322112d70c2cee418935877b3255$</string>
            <key>textureFileName</key>
            <string>carasset_155_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
