<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_83_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,50}}</string>
                <key>offset</key>
                <string>{4,-81.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,213},{96,50}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_83_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{124,6},{2,1}}</string>
                <key>offset</key>
                <string>{-1,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,237},{2,1}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_83_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{42,22}}</string>
                <key>offset</key>
                <string>{1.5,-35.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,93},{42,22}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_83_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{124,12},{1,2}}</string>
                <key>offset</key>
                <string>{0,-35.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,103},{1,2}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_83_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{124,15},{1,1}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,103},{1,1}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_83_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{2,2}}</string>
                <key>offset</key>
                <string>{-1,-80.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,236},{2,2}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_83_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{6,6}}</string>
                <key>offset</key>
                <string>{-0.5,-10.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,46},{6,6}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_83_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{6,6}}</string>
                <key>offset</key>
                <string>{-0.5,-10.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,46},{6,6}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_83_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{57,34}}</string>
                <key>offset</key>
                <string>{1,-19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,41},{57,34}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_83_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{57,34}}</string>
                <key>offset</key>
                <string>{1,-19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,41},{57,34}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_83_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{124,9},{1,2}}</string>
                <key>offset</key>
                <string>{1,-10.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,48},{1,2}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_83_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{124,9},{1,2}}</string>
                <key>offset</key>
                <string>{1,-10.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,48},{1,2}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_83_alpha.pvr</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c8c50779bd25d02b29481bd1601c8b3$</string>
            <key>textureFileName</key>
            <string>carasset_83_alpha.pvr</string>
        </dict>
    </dict>
</plist>
