<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_5_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{506,304}}</string>
                <key>offset</key>
                <string>{-4.5,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,190},{506,304}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_5_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{312,172},{554,132}}</string>
                <key>offset</key>
                <string>{-8.5,-185}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,432},{554,132}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_5_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{86,514},{222,132}}</string>
                <key>offset</key>
                <string>{-1.5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,84},{222,132}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_5_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{448,236},{240,56}}</string>
                <key>offset</key>
                <string>{-2.5,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,190},{240,56}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_5_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{458,110},{122,34}}</string>
                <key>offset</key>
                <string>{-33.5,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,176},{122,34}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_5_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{4,730},{276,78}}</string>
                <key>offset</key>
                <string>{-77.5,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,402},{276,78}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_5_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{86,650},{116,94}}</string>
                <key>offset</key>
                <string>{-0.5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,46},{116,94}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_5_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{4,514},{116,78}}</string>
                <key>offset</key>
                <string>{-0.5,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,60},{116,78}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_5_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{312,88},{142,80}}</string>
                <key>offset</key>
                <string>{-1.5,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,74},{142,80}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_5_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{312,4},{142,80}}</string>
                <key>offset</key>
                <string>{-1.5,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,74},{142,80}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_5_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{458,4},{102,38}}</string>
                <key>offset</key>
                <string>{-1.5,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,98},{102,38}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_5_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{448,480},{54,30}}</string>
                <key>offset</key>
                <string>{26.5,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,100},{54,30}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_5_alpha-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2288e22eaf94e7fc781b6153077e41f8$</string>
            <key>textureFileName</key>
            <string>carasset_5_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
