<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_62_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,104},{392,172}}</string>
                <key>offset</key>
                <string>{-15.5,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,326},{392,172}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_62_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{408,96}}</string>
                <key>offset</key>
                <string>{-15.5,-193}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,458},{408,96}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_62_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{416,66},{174,76}}</string>
                <key>offset</key>
                <string>{-7.5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,142},{174,76}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_62_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{180,202},{176,42}}</string>
                <key>offset</key>
                <string>{-6.5,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,200},{176,42}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_62_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{360,202},{100,42}}</string>
                <key>offset</key>
                <string>{-28.5,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,176},{100,42}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_62_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{180,104},{228,94}}</string>
                <key>offset</key>
                <string>{-63.5,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,402},{228,94}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_62_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{406,244},{94,60}}</string>
                <key>offset</key>
                <string>{-3.5,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,70},{94,60}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_62_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{416,4},{92,58}}</string>
                <key>offset</key>
                <string>{-2.5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,74},{92,58}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_62_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{180,248},{112,68}}</string>
                <key>offset</key>
                <string>{-0.5,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,82},{112,68}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_62_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{180,248},{112,68}}</string>
                <key>offset</key>
                <string>{-0.5,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,82},{112,68}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_62_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{296,288},{54,32}}</string>
                <key>offset</key>
                <string>{14.5,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,92},{54,32}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_62_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{296,248},{54,36}}</string>
                <key>offset</key>
                <string>{10.5,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,90},{54,36}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_62_alpha-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8d26e3be1884b524d6ee0ba863ad559$</string>
            <key>textureFileName</key>
            <string>carasset_62_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
