<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_189_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{1,64},{228,95}}</string>
                <key>offset</key>
                <string>{7,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,156},{228,95}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_189_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{244,61}}</string>
                <key>offset</key>
                <string>{5,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,216},{244,61}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_189_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{131,210},{101,43}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,67},{101,43}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_189_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{131,181},{107,27}}</string>
                <key>offset</key>
                <string>{2,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,94},{107,27}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_189_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{231,64},{57,23}}</string>
                <key>offset</key>
                <string>{-13,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,84},{57,23}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_189_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{1,161},{128,51}}</string>
                <key>offset</key>
                <string>{-30,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,192},{128,51}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_189_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{1,249},{55,35}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,31},{55,35}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_189_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{58,249},{55,33}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,33},{55,33}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_189_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{62,214},{59,33}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,41},{59,33}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_189_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{1,214},{59,33}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,41},{59,33}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_189_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{231,154},{25,15}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,45},{25,15}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_189_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{231,123},{29,17}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,46},{29,17}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_189_alpha.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a48ea64afee4389972e411adf1d421a7$</string>
            <key>textureFileName</key>
            <string>carasset_189_alpha.png</string>
        </dict>
    </dict>
</plist>
