<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_185_angle_overlay</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{399,374}}</string>
                <key>offset</key>
                <string>{4,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,152},{399,374}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_185_angle-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2665fe8edc8d1079ef6ea21f2f2f977$</string>
            <key>textureFileName</key>
            <string>carasset_185_angle-hd.png</string>
        </dict>
    </dict>
</plist>
