<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_115_iso_overlay_front</key>
            <dict>
                <key>frame</key>
                <string>{{100,1},{97,74}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,63},{97,74}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_115_iso_overlay_front_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{97,74}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,63},{97,74}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_115_iso_overlay_rear</key>
            <dict>
                <key>frame</key>
                <string>{{1,176},{97,64}}</string>
                <key>offset</key>
                <string>{-4,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,76},{97,64}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_115_iso_overlay_rear_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{1,77},{97,64}}</string>
                <key>offset</key>
                <string>{-4,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,76},{97,64}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_115_iso-hd.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9031a50c5fc2c1d07fde3149eb2307a$</string>
            <key>textureFileName</key>
            <string>carasset_115_iso-hd.png</string>
        </dict>
    </dict>
</plist>
