<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_5_angle_thumbnail_overlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{113,69}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,40},{113,69}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_5_angle_th.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e700f9cdbabe2e24f9d244728d2e670$</string>
            <key>textureFileName</key>
            <string>carasset_5_angle_th.png</string>
        </dict>
    </dict>
</plist>
