<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_149_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{233,105}}</string>
                <key>offset</key>
                <string>{-0.5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,145},{233,105}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_149_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{253,61}}</string>
                <key>offset</key>
                <string>{-2.5,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,217},{253,61}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_149_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{131,137},{102,48}}</string>
                <key>offset</key>
                <string>{-0.5,-17.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,62},{102,48}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_149_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{131,109},{111,26}}</string>
                <key>offset</key>
                <string>{-2,-39.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,95},{111,26}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_149_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{73,214},{56,20}}</string>
                <key>offset</key>
                <string>{-16.5,-28.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,87},{56,20}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_149_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{127,45}}</string>
                <key>offset</key>
                <string>{-35.5,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,200},{127,45}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_149_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{75,156},{56,37}}</string>
                <key>offset</key>
                <string>{0.5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,32},{56,37}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_149_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{114,187},{56,32}}</string>
                <key>offset</key>
                <string>{-0.5,-14.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,37},{56,32}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_149_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{71,41}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,36},{71,41}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_149_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{69,36}}</string>
                <key>offset</key>
                <string>{0,-20.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,41},{69,36}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_149_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{237,32},{27,16}}</string>
                <key>offset</key>
                <string>{10,-19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,50},{27,16}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_149_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{28,16}}</string>
                <key>offset</key>
                <string>{9.5,-21.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,52},{28,16}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_149_alpha.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09df0fe683c0dee87a3b52dc9937f036$</string>
            <key>textureFileName</key>
            <string>carasset_149_alpha.png</string>
        </dict>
    </dict>
</plist>
