<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_160_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{225,108}}</string>
                <key>offset</key>
                <string>{-9.5,-21.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,124},{225,108}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_160_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{273,64}}</string>
                <key>offset</key>
                <string>{-9.5,-95.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,220},{273,64}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_160_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{205,112},{99,48}}</string>
                <key>offset</key>
                <string>{-1,-7.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,52},{99,48}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_160_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{116,28}}</string>
                <key>offset</key>
                <string>{-0.5,-39.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,94},{116,28}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_160_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{112,222},{89,28}}</string>
                <key>offset</key>
                <string>{-6,-22.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,77},{89,28}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_160_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{201,62}}</string>
                <key>offset</key>
                <string>{-21.5,-55.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,181},{201,62}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_160_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{68,206},{55,42}}</string>
                <key>offset</key>
                <string>{-2,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,18},{55,42}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_160_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{112,252},{55,37}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,24},{55,37}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_160_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{205,213},{83,44}}</string>
                <key>offset</key>
                <string>{0,-16.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,33},{83,44}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_160_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{120,176},{83,44}}</string>
                <key>offset</key>
                <string>{0,-16.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,33},{83,44}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_160_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{50,23}}</string>
                <key>offset</key>
                <string>{0.5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,41},{50,23}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_160_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{229,54},{53,22}}</string>
                <key>offset</key>
                <string>{-1,-14.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,42},{53,22}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_160_alpha.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf8b6c2b4c11a3254ab6c01520d3bc7b$</string>
            <key>textureFileName</key>
            <string>carasset_160_alpha.png</string>
        </dict>
    </dict>
</plist>
