<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_150_iso_overlay_front</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{49,39}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{49,39}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_150_iso_overlay_front_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{52,34},{47,39}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{47,39}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_150_iso_overlay_rear</key>
            <dict>
                <key>frame</key>
                <string>{{1,42},{47,31}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,37},{47,31}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_150_iso_overlay_rear_mirror</key>
            <dict>
                <key>frame</key>
                <string>{{52,1},{49,31}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,37},{49,31}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_150_iso.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0946b282d341befd5dbf3d69d1ce530b$</string>
            <key>textureFileName</key>
            <string>carasset_150_iso.png</string>
        </dict>
    </dict>
</plist>
