<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_64_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,126},{454,336}}</string>
                <key>offset</key>
                <string>{-20.5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,156},{454,336}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_64_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{504,118}}</string>
                <key>offset</key>
                <string>{-23.5,-178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,432},{504,118}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_64_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{296,466},{200,148}}</string>
                <key>offset</key>
                <string>{-8.5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,68},{200,148}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_64_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,580},{218,50}}</string>
                <key>offset</key>
                <string>{-9.5,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,190},{218,50}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_64_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{226,632},{128,50}}</string>
                <key>offset</key>
                <string>{-34.5,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,160},{128,50}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_64_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{4,466},{288,110}}</string>
                <key>offset</key>
                <string>{-79.5,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,368},{288,110}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_64_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{4,634},{108,108}}</string>
                <key>offset</key>
                <string>{-2.5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,26},{108,108}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_64_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{116,634},{108,92}}</string>
                <key>offset</key>
                <string>{-2.5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,42},{108,92}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_64_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{296,618},{138,78}}</string>
                <key>offset</key>
                <string>{-1.5,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,76},{138,78}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_64_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{296,618},{138,78}}</string>
                <key>offset</key>
                <string>{-1.5,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,76},{138,78}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_64_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{226,580},{66,48}}</string>
                <key>offset</key>
                <string>{14.5,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,82},{66,48}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_64_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{462,126},{62,38}}</string>
                <key>offset</key>
                <string>{18.5,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,86},{62,38}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_64_alpha-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9940523f8304fdd9cd02c1389ee1d27$</string>
            <key>textureFileName</key>
            <string>carasset_64_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
