<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_148_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,118},{408,184}}</string>
                <key>offset</key>
                <string>{4.5,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,330},{408,184}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_148_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{462,110}}</string>
                <key>offset</key>
                <string>{3.5,-180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,438},{462,110}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_148_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{416,118},{180,84}}</string>
                <key>offset</key>
                <string>{-0.5,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,142},{180,84}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_148_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,306},{202,46}}</string>
                <key>offset</key>
                <string>{-1.5,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,192},{202,46}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_148_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{300,306},{106,50}}</string>
                <key>offset</key>
                <string>{-33.5,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,174},{106,50}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_148_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{54,306},{242,116}}</string>
                <key>offset</key>
                <string>{-68.5,-137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,392},{242,116}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_148_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{182,430},{98,70}}</string>
                <key>offset</key>
                <string>{0.5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,68},{98,70}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_148_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{300,360},{98,62}}</string>
                <key>offset</key>
                <string>{0.5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,74},{98,62}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_148_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{416,302},{124,74}}</string>
                <key>offset</key>
                <string>{1.5,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,80},{124,74}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_148_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{54,430},{124,72}}</string>
                <key>offset</key>
                <string>{1.5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,82},{124,72}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_148_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{284,426},{94,40}}</string>
                <key>offset</key>
                <string>{0.5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,98},{94,40}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_148_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{470,4},{76,36}}</string>
                <key>offset</key>
                <string>{7.5,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,94},{76,36}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_148_alpha-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f33966a831de048223148ce6d5ac0391$</string>
            <key>textureFileName</key>
            <string>carasset_148_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
