<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_38_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{4,112},{396,168}}</string>
                <key>offset</key>
                <string>{-11.5,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,334},{396,168}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_38_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{442,104}}</string>
                <key>offset</key>
                <string>{-14.5,-181}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,442},{442,104}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_38_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{176,298},{174,74}}</string>
                <key>offset</key>
                <string>{-5.5,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,146},{174,74}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_38_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{450,100},{194,48}}</string>
                <key>offset</key>
                <string>{-7.5,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,192},{194,48}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_38_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{358,196},{104,38}}</string>
                <key>offset</key>
                <string>{-28.5,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,180},{104,38}}</string>
                <key>sourceSize</key>
                <string>{365,274}</string>
            </dict>
            <key>carasset_38_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{176,112},{246,80}}</string>
                <key>offset</key>
                <string>{-60.5,-143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,416},{246,80}}</string>
                <key>sourceSize</key>
                <string>{835,626}</string>
            </dict>
            <key>carasset_38_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{176,196},{94,62}}</string>
                <key>offset</key>
                <string>{-3.5,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,72},{94,62}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_38_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{450,4},{92,56}}</string>
                <key>offset</key>
                <string>{-2.5,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,74},{92,56}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_38_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{242,196},{112,68}}</string>
                <key>offset</key>
                <string>{-0.5,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,82},{112,68}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_38_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{242,196},{112,68}}</string>
                <key>offset</key>
                <string>{-0.5,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,82},{112,68}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_38_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{218,476},{48,24}}</string>
                <key>offset</key>
                <string>{11.5,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,102},{48,24}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>carasset_38_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{176,476},{38,26}}</string>
                <key>offset</key>
                <string>{20.5,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,98},{38,26}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_38_alpha-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:603ca3f48691d97924810147de008b50$</string>
            <key>textureFileName</key>
            <string>carasset_38_alpha-hd.png</string>
        </dict>
    </dict>
</plist>
