<?xml version="1.0" encoding="UTF-8"?>
								<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
								<plist version="1.0">
								<dict>	<key>carId_147</key><dict>
		<key>carID</key>
		<integer>147</integer>
		<key>carName</key>
		<string>jaguar_xj220_92</string>
		<key>Angle</key>
		<dict>
			<key>bodyOffset</key>
			<string>{-1.5,7.5}</string>
			<key>frontWheelPosition</key>
			<string>{-37.5,-137}</string>
			<key>rearWheelPosition</key>
			<string>{-141.5,-125}</string>
			<key>frontOppWheelPosition</key>
			<string>{28,-129}</string>
			<key>rearOppWheelPosition</key>
			<string>{-78.5,-123}</string>
		</dict>
		<key>Back</key>
		<dict>
			<key>bodyOffset</key>
			<string>{0,0}</string>
			<key>frontWheelPosition</key>
			<string>{3.5,-25.5}</string>
			<key>rearWheelPosition</key>
			<string>{-12.5,-33}</string>
			<key>frontOppWheelPosition</key>
			<string>{-8.75,-19.25}</string>
			<key>rearOppWheelPosition</key>
			<string>{0,0}</string>
		</dict>
		<key>Front</key>
		<dict>
			<key>bodyOffset</key>
			<string>{-0.25,0.75}</string>
			<key>frontWheelPosition</key>
			<string>{-10,-33}</string>
			<key>rearWheelPosition</key>
			<string>{6.25,-24.5}</string>
			<key>frontOppWheelPosition</key>
			<string>{-22.75,-27.5}</string>
			<key>rearOppWheelPosition</key>
			<string>{0,0}</string>
		</dict>
	</dict></dict>
								</plist>

