<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_63_iso_overlay_front</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{39,35}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,29},{39,35}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_63_iso_overlay_rear</key>
            <dict>
                <key>frame</key>
                <string>{{1,38},{39,31}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,32},{39,31}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_63_iso.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d6f8fc6b5fa521acb751f4c9ffe5edb$</string>
            <key>textureFileName</key>
            <string>carasset_63_iso.png</string>
        </dict>
    </dict>
</plist>
