<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carasset_10_angle_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{216,104}}</string>
                <key>offset</key>
                <string>{-3,-45.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,150},{216,104}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_10_angle_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,58}}</string>
                <key>offset</key>
                <string>{-9.5,-94.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,222},{247,58}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_10_angle_thumbnail_paintmask</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{95,45}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,66},{95,45}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_10_angle_thumbnail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{220,166},{108,27}}</string>
                <key>offset</key>
                <string>{-4.5,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,96},{108,27}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_10_angle_thumbnail_under</key>
            <dict>
                <key>frame</key>
                <string>{{99,227},{91,25}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,86},{91,25}}</string>
                <key>sourceSize</key>
                <string>{183,137}</string>
            </dict>
            <key>carasset_10_angle_under</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{207,57}}</string>
                <key>offset</key>
                <string>{1.5,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,197},{207,57}}</string>
                <key>sourceSize</key>
                <string>{418,313}</string>
            </dict>
            <key>carasset_10_iso_paintmask_front</key>
            <dict>
                <key>frame</key>
                <string>{{166,278},{51,37}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,31},{51,37}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_10_iso_paintmask_rear</key>
            <dict>
                <key>frame</key>
                <string>{{220,62},{51,33}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,33},{51,33}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_10_iso_shadow_front</key>
            <dict>
                <key>frame</key>
                <string>{{99,254},{65,39}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,38},{65,39}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_10_iso_shadow_rear</key>
            <dict>
                <key>frame</key>
                <string>{{99,254},{65,39}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,38},{65,39}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_10_iso_under_front</key>
            <dict>
                <key>frame</key>
                <string>{{220,115},{49,30}}</string>
                <key>offset</key>
                <string>{-2,-13.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,37},{49,30}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>carasset_10_iso_under_rear</key>
            <dict>
                <key>frame</key>
                <string>{{192,227},{49,26}}</string>
                <key>offset</key>
                <string>{-1,-14.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,40},{49,26}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carasset_10_alpha.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b6433c042d22d7d1616a13842342ed8$</string>
            <key>textureFileName</key>
            <string>carasset_10_alpha.png</string>
        </dict>
    </dict>
</plist>
