<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>12x12_expansion</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{806,411}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{806,411}}</string>
			<key>sourceSize</key>
			<string>{806,411}</string>
		</dict>
		<key>12x12_expansion_area_dim</key>
		<dict>
			<key>frame</key>
			<string>{{809,1},{790,394}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{790,394}}</string>
			<key>sourceSize</key>
			<string>{790,394}</string>
		</dict>
		<key>12x5</key>
		<dict>
			<key>frame</key>
			<string>{{1,414},{573,294}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{573,294}}</string>
			<key>sourceSize</key>
			<string>{573,294}</string>
		</dict>
		<key>1x1</key>
		<dict>
			<key>frame</key>
			<string>{{1468,760},{79,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,47}}</string>
			<key>sourceSize</key>
			<string>{79,47}</string>
		</dict>
		<key>2x1</key>
		<dict>
			<key>frame</key>
			<string>{{826,1202},{128,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,78}}</string>
			<key>sourceSize</key>
			<string>{128,78}</string>
		</dict>
		<key>2x2</key>
		<dict>
			<key>frame</key>
			<string>{{1519,397},{146,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,80}}</string>
			<key>sourceSize</key>
			<string>{146,80}</string>
		</dict>
		<key>3x3</key>
		<dict>
			<key>frame</key>
			<string>{{1825,403},{213,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,114}}</string>
			<key>sourceSize</key>
			<string>{213,114}</string>
		</dict>
		<key>3x4</key>
		<dict>
			<key>frame</key>
			<string>{{577,1202},{247,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{247,130}}</string>
			<key>sourceSize</key>
			<string>{247,130}</string>
		</dict>
		<key>3x5</key>
		<dict>
			<key>frame</key>
			<string>{{896,1415},{274,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{274,141}}</string>
			<key>sourceSize</key>
			<string>{274,141}</string>
		</dict>
		<key>3x6</key>
		<dict>
			<key>frame</key>
			<string>{{564,1422},{315,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{315,164}}</string>
			<key>sourceSize</key>
			<string>{315,164}</string>
		</dict>
		<key>4x4</key>
		<dict>
			<key>frame</key>
			<string>{{1186,760},{280,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{280,147}}</string>
			<key>sourceSize</key>
			<string>{280,147}</string>
		</dict>
		<key>4x5</key>
		<dict>
			<key>frame</key>
			<string>{{730,1419},{313,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{313,164}}</string>
			<key>sourceSize</key>
			<string>{313,164}</string>
		</dict>
		<key>4x6</key>
		<dict>
			<key>frame</key>
			<string>{{200,1429},{347,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{347,180}}</string>
			<key>sourceSize</key>
			<string>{347,180}</string>
		</dict>
		<key>5x5</key>
		<dict>
			<key>frame</key>
			<string>{{382,1429},{346,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{346,180}}</string>
			<key>sourceSize</key>
			<string>{346,180}</string>
		</dict>
		<key>5x6</key>
		<dict>
			<key>frame</key>
			<string>{{1,1429},{380,197}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{380,197}}</string>
			<key>sourceSize</key>
			<string>{380,197}</string>
		</dict>
		<key>6x15</key>
		<dict>
			<key>frame</key>
			<string>{{809,397},{708,361}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{708,361}}</string>
			<key>sourceSize</key>
			<string>{708,361}</string>
		</dict>
		<key>6x6</key>
		<dict>
			<key>frame</key>
			<string>{{571,713},{412,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{412,213}}</string>
			<key>sourceSize</key>
			<string>{412,213}</string>
		</dict>
		<key>Dirt_CONNECTOR_N_E</key>
		<dict>
			<key>frame</key>
			<string>{{1117,1803},{198,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,99}}</string>
			<key>sourceSize</key>
			<string>{198,99}</string>
		</dict>
		<key>Dirt_CONNECTOR_S_E</key>
		<dict>
			<key>frame</key>
			<string>{{1241,1388},{198,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,99}}</string>
			<key>sourceSize</key>
			<string>{198,99}</string>
		</dict>
		<key>Dirt_CONNECTOR_S_W</key>
		<dict>
			<key>frame</key>
			<string>{{1203,1188},{198,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,99}}</string>
			<key>sourceSize</key>
			<string>{198,99}</string>
		</dict>
		<key>Dirt_DEAD_E</key>
		<dict>
			<key>frame</key>
			<string>{{1140,1409},{198,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,99}}</string>
			<key>sourceSize</key>
			<string>{198,99}</string>
		</dict>
		<key>Dirt_DEAD_N</key>
		<dict>
			<key>frame</key>
			<string>{{1039,1409},{198,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,99}}</string>
			<key>sourceSize</key>
			<string>{198,99}</string>
		</dict>
		<key>Dirt_DEAD_W</key>
		<dict>
			<key>frame</key>
			<string>{{1016,1804},{198,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,99}}</string>
			<key>sourceSize</key>
			<string>{198,99}</string>
		</dict>
		<key>Dirt_DRIVEWAY_E_end</key>
		<dict>
			<key>frame</key>
			<string>{{737,2008},{58,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,30}}</string>
			<key>sourceSize</key>
			<string>{58,30}</string>
		</dict>
		<key>Dirt_DRIVEWAY_E_middle</key>
		<dict>
			<key>frame</key>
			<string>{{677,2009},{58,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,30}}</string>
			<key>sourceSize</key>
			<string>{58,30}</string>
		</dict>
		<key>Dirt_DRIVEWAY_E_start</key>
		<dict>
			<key>frame</key>
			<string>{{617,2009},{58,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,30}}</string>
			<key>sourceSize</key>
			<string>{58,30}</string>
		</dict>
		<key>Dirt_DRIVEWAY_W_end</key>
		<dict>
			<key>frame</key>
			<string>{{557,2009},{58,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,30}}</string>
			<key>sourceSize</key>
			<string>{58,30}</string>
		</dict>
		<key>Dirt_DRIVEWAY_W_middle</key>
		<dict>
			<key>frame</key>
			<string>{{560,1777},{58,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,30}}</string>
			<key>sourceSize</key>
			<string>{58,30}</string>
		</dict>
		<key>Dirt_DRIVEWAY_W_start</key>
		<dict>
			<key>frame</key>
			<string>{{497,2010},{58,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,30}}</string>
			<key>sourceSize</key>
			<string>{58,30}</string>
		</dict>
		<key>Dirt_INTERSECTION_E_NS</key>
		<dict>
			<key>frame</key>
			<string>{{915,1804},{198,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,99}}</string>
			<key>sourceSize</key>
			<string>{198,99}</string>
		</dict>
		<key>Dirt_INTERSECTION_NS_WE</key>
		<dict>
			<key>frame</key>
			<string>{{1279,1010},{198,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,99}}</string>
			<key>sourceSize</key>
			<string>{198,99}</string>
		</dict>
		<key>Dirt_INTERSECTION_W_NS</key>
		<dict>
			<key>frame</key>
			<string>{{1279,909},{198,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,99}}</string>
			<key>sourceSize</key>
			<string>{198,99}</string>
		</dict>
		<key>Dirt_ROAD_N_S</key>
		<dict>
			<key>frame</key>
			<string>{{814,1808},{198,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,99}}</string>
			<key>sourceSize</key>
			<string>{198,99}</string>
		</dict>
		<key>Hotwheels_CONNECTOR_N_E</key>
		<dict>
			<key>frame</key>
			<string>{{570,1127},{164,73}}</string>
			<key>offset</key>
			<string>{-1,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,8},{164,73}}</string>
			<key>sourceSize</key>
			<string>{198,99}</string>
		</dict>
		<key>Hotwheels_CONNECTOR_S_E</key>
		<dict>
			<key>frame</key>
			<string>{{649,1334},{142,83}}</string>
			<key>offset</key>
			<string>{12,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,7},{142,83}}</string>
			<key>sourceSize</key>
			<string>{198,99}</string>
		</dict>
		<key>Hotwheels_CONNECTOR_S_W</key>
		<dict>
			<key>frame</key>
			<string>{{929,1124},{158,71}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,19},{158,71}}</string>
			<key>sourceSize</key>
			<string>{198,99}</string>
		</dict>
		<key>Hotwheels_DEAD_N</key>
		<dict>
			<key>frame</key>
			<string>{{736,1127},{142,73}}</string>
			<key>offset</key>
			<string>{-12,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,8},{142,73}}</string>
			<key>sourceSize</key>
			<string>{198,99}</string>
		</dict>
		<key>Hotwheels_DEAD_W</key>
		<dict>
			<key>frame</key>
			<string>{{1601,403},{140,71}}</string>
			<key>offset</key>
			<string>{-11,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,19},{140,71}}</string>
			<key>sourceSize</key>
			<string>{198,99}</string>
		</dict>
		<key>Hotwheels_DRIVEWAY_E_end</key>
		<dict>
			<key>frame</key>
			<string>{{855,2008},{56,30}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{56,30}}</string>
			<key>sourceSize</key>
			<string>{58,30}</string>
		</dict>
		<key>Hotwheels_DRIVEWAY_E_middle</key>
		<dict>
			<key>frame</key>
			<string>{{500,1777},{58,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,30}}</string>
			<key>sourceSize</key>
			<string>{58,30}</string>
		</dict>
		<key>Hotwheels_DRIVEWAY_E_start</key>
		<dict>
			<key>frame</key>
			<string>{{440,1777},{58,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,30}}</string>
			<key>sourceSize</key>
			<string>{58,30}</string>
		</dict>
		<key>Hotwheels_DRIVEWAY_W_end</key>
		<dict>
			<key>frame</key>
			<string>{{380,1778},{58,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,30}}</string>
			<key>sourceSize</key>
			<string>{58,30}</string>
		</dict>
		<key>Hotwheels_DRIVEWAY_W_middle</key>
		<dict>
			<key>frame</key>
			<string>{{320,1778},{58,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,30}}</string>
			<key>sourceSize</key>
			<string>{58,30}</string>
		</dict>
		<key>Hotwheels_DRIVEWAY_W_start</key>
		<dict>
			<key>frame</key>
			<string>{{797,2008},{56,30}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{56,30}}</string>
			<key>sourceSize</key>
			<string>{58,30}</string>
		</dict>
		<key>Hotwheels_INTERSECTION_E_NS</key>
		<dict>
			<key>frame</key>
			<string>{{1186,1022},{164,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,9},{164,81}}</string>
			<key>sourceSize</key>
			<string>{198,99}</string>
		</dict>
		<key>Hotwheels_INTERSECTION_NS_WE</key>
		<dict>
			<key>frame</key>
			<string>{{861,1332},{166,81}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,9},{166,81}}</string>
			<key>sourceSize</key>
			<string>{198,99}</string>
		</dict>
		<key>Hotwheels_INTERSECTION_W_NS</key>
		<dict>
			<key>frame</key>
			<string>{{485,1337},{162,83}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,8},{162,83}}</string>
			<key>sourceSize</key>
			<string>{198,99}</string>
		</dict>
		<key>Hotwheels_ROAD_N_S</key>
		<dict>
			<key>frame</key>
			<string>{{1029,1326},{162,81}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,9},{162,81}}</string>
			<key>sourceSize</key>
			<string>{198,99}</string>
		</dict>
		<key>Hotwheels_loop_back</key>
		<dict>
			<key>frame</key>
			<string>{{1,710},{466,253}}</string>
			<key>offset</key>
			<string>{1,-39}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,171},{466,253}}</string>
			<key>sourceSize</key>
			<string>{476,517}</string>
		</dict>
		<key>Hotwheels_loop_front</key>
		<dict>
			<key>frame</key>
			<string>{{1601,1},{400,415}}</string>
			<key>offset</key>
			<string>{-27,51}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,0},{400,415}}</string>
			<key>sourceSize</key>
			<string>{476,517}</string>
		</dict>
		<key>Hotwheels_loop_middle</key>
		<dict>
			<key>frame</key>
			<string>{{1519,545},{476,507}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,10},{476,507}}</string>
			<key>sourceSize</key>
			<string>{476,517}</string>
		</dict>
		<key>Hotwheels_loop_middle_bracket</key>
		<dict>
			<key>frame</key>
			<string>{{455,2010},{40,37}}</string>
			<key>offset</key>
			<string>{-68,-201}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{150,441},{40,37}}</string>
			<key>sourceSize</key>
			<string>{476,517}</string>
		</dict>
		<key>Modern_CONNECTOR_N_E</key>
		<dict>
			<key>frame</key>
			<string>{{986,1023},{198,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,99}}</string>
			<key>sourceSize</key>
			<string>{198,99}</string>
		</dict>
		<key>Modern_CONNECTOR_S_E</key>
		<dict>
			<key>frame</key>
			<string>{{713,1808},{198,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,99}}</string>
			<key>sourceSize</key>
			<string>{198,99}</string>
		</dict>
		<key>Modern_CONNECTOR_S_W</key>
		<dict>
			<key>frame</key>
			<string>{{612,1809},{198,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,99}}</string>
			<key>sourceSize</key>
			<string>{198,99}</string>
		</dict>
		<key>Modern_DEAD_N</key>
		<dict>
			<key>frame</key>
			<string>{{511,1809},{198,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,99}}</string>
			<key>sourceSize</key>
			<string>{198,99}</string>
		</dict>
		<key>Modern_DEAD_W</key>
		<dict>
			<key>frame</key>
			<string>{{786,1023},{198,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,99}}</string>
			<key>sourceSize</key>
			<string>{198,99}</string>
		</dict>
		<key>Modern_DRIVEWAY_E_end</key>
		<dict>
			<key>frame</key>
			<string>{{260,1778},{58,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,30}}</string>
			<key>sourceSize</key>
			<string>{58,30}</string>
		</dict>
		<key>Modern_DRIVEWAY_E_middle</key>
		<dict>
			<key>frame</key>
			<string>{{200,1778},{58,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,30}}</string>
			<key>sourceSize</key>
			<string>{58,30}</string>
		</dict>
		<key>Modern_DRIVEWAY_E_start</key>
		<dict>
			<key>frame</key>
			<string>{{263,2012},{58,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,30}}</string>
			<key>sourceSize</key>
			<string>{58,30}</string>
		</dict>
		<key>Modern_DRIVEWAY_W_end</key>
		<dict>
			<key>frame</key>
			<string>{{203,2012},{58,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,30}}</string>
			<key>sourceSize</key>
			<string>{58,30}</string>
		</dict>
		<key>Modern_DRIVEWAY_W_middle</key>
		<dict>
			<key>frame</key>
			<string>{{143,2013},{58,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,30}}</string>
			<key>sourceSize</key>
			<string>{58,30}</string>
		</dict>
		<key>Modern_DRIVEWAY_W_start</key>
		<dict>
			<key>frame</key>
			<string>{{83,2013},{58,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,30}}</string>
			<key>sourceSize</key>
			<string>{58,30}</string>
		</dict>
		<key>Modern_INTERSECTION_E_NS</key>
		<dict>
			<key>frame</key>
			<string>{{410,1810},{198,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,99}}</string>
			<key>sourceSize</key>
			<string>{198,99}</string>
		</dict>
		<key>Modern_INTERSECTION_NS_WE</key>
		<dict>
			<key>frame</key>
			<string>{{309,1810},{198,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,99}}</string>
			<key>sourceSize</key>
			<string>{198,99}</string>
		</dict>
		<key>Modern_INTERSECTION_W_NS</key>
		<dict>
			<key>frame</key>
			<string>{{469,1004},{198,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,99}}</string>
			<key>sourceSize</key>
			<string>{198,99}</string>
		</dict>
		<key>Modern_ROAD_N_S</key>
		<dict>
			<key>frame</key>
			<string>{{469,804},{198,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,99}}</string>
			<key>sourceSize</key>
			<string>{198,99}</string>
		</dict>
		<key>drive-in_animation_screen_0001</key>
		<dict>
			<key>frame</key>
			<string>{{1928,1023},{97,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,127}}</string>
			<key>sourceSize</key>
			<string>{97,127}</string>
		</dict>
		<key>drive-in_animation_screen_0002</key>
		<dict>
			<key>frame</key>
			<string>{{1799,1023},{97,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,127}}</string>
			<key>sourceSize</key>
			<string>{97,127}</string>
		</dict>
		<key>drive-in_animation_screen_0003</key>
		<dict>
			<key>frame</key>
			<string>{{1700,1152},{97,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,127}}</string>
			<key>sourceSize</key>
			<string>{97,127}</string>
		</dict>
		<key>drive-in_animation_screen_0004</key>
		<dict>
			<key>frame</key>
			<string>{{1700,1023},{97,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,127}}</string>
			<key>sourceSize</key>
			<string>{97,127}</string>
		</dict>
		<key>drive-in_animation_screen_0005</key>
		<dict>
			<key>frame</key>
			<string>{{1562,1539},{97,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,127}}</string>
			<key>sourceSize</key>
			<string>{97,127}</string>
		</dict>
		<key>drive-in_animation_screen_0006</key>
		<dict>
			<key>frame</key>
			<string>{{1639,1281},{97,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,127}}</string>
			<key>sourceSize</key>
			<string>{97,127}</string>
		</dict>
		<key>drive-in_animation_screen_0007</key>
		<dict>
			<key>frame</key>
			<string>{{1562,1410},{97,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,127}}</string>
			<key>sourceSize</key>
			<string>{97,127}</string>
		</dict>
		<key>drive-in_animation_screen_0008</key>
		<dict>
			<key>frame</key>
			<string>{{1601,1152},{97,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,127}}</string>
			<key>sourceSize</key>
			<string>{97,127}</string>
		</dict>
		<key>drive-in_animation_screen_0009</key>
		<dict>
			<key>frame</key>
			<string>{{1601,1023},{97,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,127}}</string>
			<key>sourceSize</key>
			<string>{97,127}</string>
		</dict>
		<key>drive-in_animation_screen_0010</key>
		<dict>
			<key>frame</key>
			<string>{{1540,1281},{97,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,127}}</string>
			<key>sourceSize</key>
			<string>{97,127}</string>
		</dict>
		<key>drive-in_animation_screen_0011</key>
		<dict>
			<key>frame</key>
			<string>{{1502,1152},{97,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,127}}</string>
			<key>sourceSize</key>
			<string>{97,127}</string>
		</dict>
		<key>drive-in_animation_screen_0012</key>
		<dict>
			<key>frame</key>
			<string>{{1502,1023},{97,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,127}}</string>
			<key>sourceSize</key>
			<string>{97,127}</string>
		</dict>
		<key>drive-in_animation_screen_0013</key>
		<dict>
			<key>frame</key>
			<string>{{1558,1885},{97,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,127}}</string>
			<key>sourceSize</key>
			<string>{97,127}</string>
		</dict>
		<key>drive-in_animation_screen_0014</key>
		<dict>
			<key>frame</key>
			<string>{{1558,1756},{97,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,127}}</string>
			<key>sourceSize</key>
			<string>{97,127}</string>
		</dict>
		<key>drive-in_animation_screen_0015</key>
		<dict>
			<key>frame</key>
			<string>{{1463,1627},{97,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,127}}</string>
			<key>sourceSize</key>
			<string>{97,127}</string>
		</dict>
		<key>drive-in_animation_screen_0016</key>
		<dict>
			<key>frame</key>
			<string>{{1463,1498},{97,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,127}}</string>
			<key>sourceSize</key>
			<string>{97,127}</string>
		</dict>
		<key>drive-in_animation_screen_0017</key>
		<dict>
			<key>frame</key>
			<string>{{1441,1369},{97,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,127}}</string>
			<key>sourceSize</key>
			<string>{97,127}</string>
		</dict>
		<key>drive-in_animation_screen_0018</key>
		<dict>
			<key>frame</key>
			<string>{{1403,1240},{97,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,127}}</string>
			<key>sourceSize</key>
			<string>{97,127}</string>
		</dict>
		<key>drive-in_animation_screen_0019</key>
		<dict>
			<key>frame</key>
			<string>{{1403,1111},{97,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,127}}</string>
			<key>sourceSize</key>
			<string>{97,127}</string>
		</dict>
		<key>drive-in_animation_screen_0020</key>
		<dict>
			<key>frame</key>
			<string>{{1342,1369},{97,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,127}}</string>
			<key>sourceSize</key>
			<string>{97,127}</string>
		</dict>
		<key>drive-in_animation_screen_0021</key>
		<dict>
			<key>frame</key>
			<string>{{1304,1240},{97,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,127}}</string>
			<key>sourceSize</key>
			<string>{97,127}</string>
		</dict>
		<key>drive-in_animation_screen_0022</key>
		<dict>
			<key>frame</key>
			<string>{{1304,1111},{97,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,127}}</string>
			<key>sourceSize</key>
			<string>{97,127}</string>
		</dict>
		<key>drive-in_animation_screen_0023</key>
		<dict>
			<key>frame</key>
			<string>{{1104,1197},{97,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,127}}</string>
			<key>sourceSize</key>
			<string>{97,127}</string>
		</dict>
		<key>drive-in_animation_screen_0024</key>
		<dict>
			<key>frame</key>
			<string>{{1005,1197},{97,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,127}}</string>
			<key>sourceSize</key>
			<string>{97,127}</string>
		</dict>
		<key>drive-in_animation_screen_0025</key>
		<dict>
			<key>frame</key>
			<string>{{906,1198},{97,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,127}}</string>
			<key>sourceSize</key>
			<string>{97,127}</string>
		</dict>
		<key>drive-in_back</key>
		<dict>
			<key>frame</key>
			<string>{{1,965},{399,307}}</string>
			<key>offset</key>
			<string>{-1,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{399,307}}</string>
			<key>sourceSize</key>
			<string>{401,319}</string>
		</dict>
		<key>drive-in_front_cars</key>
		<dict>
			<key>frame</key>
			<string>{{1088,909},{189,111}}</string>
			<key>offset</key>
			<string>{-21,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{85,170},{189,111}}</string>
			<key>sourceSize</key>
			<string>{401,319}</string>
		</dict>
		<key>drive-in_front_environment</key>
		<dict>
			<key>frame</key>
			<string>{{1,1274},{397,153}}</string>
			<key>offset</key>
			<string>{2,-83}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,166},{397,153}}</string>
			<key>sourceSize</key>
			<string>{401,319}</string>
		</dict>
		<key>drive-in_intermission_text_flipped</key>
		<dict>
			<key>frame</key>
			<string>{{462,1204},{113,131}}</string>
			<key>offset</key>
			<string>{-65,43}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{79,51},{113,131}}</string>
			<key>sourceSize</key>
			<string>{401,319}</string>
		</dict>
		<key>drive-in_lights_refreshments</key>
		<dict>
			<key>frame</key>
			<string>{{715,1739},{67,83}}</string>
			<key>offset</key>
			<string>{145,42}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{312,76},{67,83}}</string>
			<key>sourceSize</key>
			<string>{401,319}</string>
		</dict>
		<key>drive-in_lights_screen_frame_01</key>
		<dict>
			<key>frame</key>
			<string>{{1218,1803},{185,171}}</string>
			<key>offset</key>
			<string>{-90,74}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,0},{185,171}}</string>
			<key>sourceSize</key>
			<string>{401,319}</string>
		</dict>
		<key>drive-in_lights_screen_frame_02</key>
		<dict>
			<key>frame</key>
			<string>{{1282,1588},{183,179}}</string>
			<key>offset</key>
			<string>{-87,66}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,4},{183,179}}</string>
			<key>sourceSize</key>
			<string>{401,319}</string>
		</dict>
		<key>drive-in_middle_cars</key>
		<dict>
			<key>frame</key>
			<string>{{896,1691},{185,111}}</string>
			<key>offset</key>
			<string>{39,-38}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{147,142},{185,111}}</string>
			<key>sourceSize</key>
			<string>{401,319}</string>
		</dict>
		<key>drive-in_middle_environment</key>
		<dict>
			<key>frame</key>
			<string>{{620,1739},{93,67}}</string>
			<key>offset</key>
			<string>{6,-40}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{160,166},{93,67}}</string>
			<key>sourceSize</key>
			<string>{401,319}</string>
		</dict>
		<key>drive-in_text_flipped</key>
		<dict>
			<key>frame</key>
			<string>{{2018,1},{41,29}}</string>
			<key>offset</key>
			<string>{135,20}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{315,125},{41,29}}</string>
			<key>sourceSize</key>
			<string>{401,319}</string>
		</dict>
		<key>hotwheels_logo</key>
		<dict>
			<key>frame</key>
			<string>{{323,2010},{130,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,37}}</string>
			<key>sourceSize</key>
			<string>{130,37}</string>
		</dict>
		<key>utility_garage_back</key>
		<dict>
			<key>frame</key>
			<string>{{195,1811},{199,112}}</string>
			<key>offset</key>
			<string>{0,-35}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,70},{199,112}}</string>
			<key>sourceSize</key>
			<string>{199,182}</string>
		</dict>
		<key>utility_garage_front</key>
		<dict>
			<key>frame</key>
			<string>{{1391,1773},{165,180}}</string>
			<key>offset</key>
			<string>{-9,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{165,180}}</string>
			<key>sourceSize</key>
			<string>{199,182}</string>
		</dict>
		<key>utility_garage_glow</key>
		<dict>
			<key>frame</key>
			<string>{{1089,1124},{71,80}}</string>
			<key>offset</key>
			<string>{37,-27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{101,78},{71,80}}</string>
			<key>sourceSize</key>
			<string>{199,182}</string>
		</dict>
		<key>utility_garage_inactive</key>
		<dict>
			<key>frame</key>
			<string>{{880,1124},{47,72}}</string>
			<key>offset</key>
			<string>{24,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{100,83},{47,72}}</string>
			<key>sourceSize</key>
			<string>{199,182}</string>
		</dict>
		<key>utility_garage_tarp_medium</key>
		<dict>
			<key>frame</key>
			<string>{{793,1334},{83,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,66}}</string>
			<key>sourceSize</key>
			<string>{83,66}</string>
		</dict>
		<key>utility_garage_tarp_small</key>
		<dict>
			<key>frame</key>
			<string>{{402,1052},{61,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,59}}</string>
			<key>sourceSize</key>
			<string>{61,59}</string>
		</dict>
		<key>utility_garage_tarp_xlarge</key>
		<dict>
			<key>frame</key>
			<string>{{469,710},{100,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,92}}</string>
			<key>sourceSize</key>
			<string>{100,92}</string>
		</dict>
		<key>utility_garage_text_flipped</key>
		<dict>
			<key>frame</key>
			<string>{{402,1113},{59,74}}</string>
			<key>offset</key>
			<string>{43,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{113,44},{59,74}}</string>
			<key>sourceSize</key>
			<string>{199,182}</string>
		</dict>
		<key>utility_junkyard_back</key>
		<dict>
			<key>frame</key>
			<string>{{576,414},{297,222}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{297,222}}</string>
			<key>sourceSize</key>
			<string>{299,222}</string>
		</dict>
		<key>utility_junkyard_text_flipped</key>
		<dict>
			<key>frame</key>
			<string>{{400,1343},{83,84}}</string>
			<key>offset</key>
			<string>{-80,50}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,19},{83,84}}</string>
			<key>sourceSize</key>
			<string>{299,222}</string>
		</dict>
		<key>utility_junkyard_tow_truck</key>
		<dict>
			<key>frame</key>
			<string>{{1674,403},{149,134}}</string>
			<key>offset</key>
			<string>{37,-33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{112,77},{149,134}}</string>
			<key>sourceSize</key>
			<string>{299,222}</string>
		</dict>
		<key>utility_paintshop_ani_pink_01</key>
		<dict>
			<key>frame</key>
			<string>{{42,2013},{32,39}}</string>
			<key>offset</key>
			<string>{-34,-48}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{49,127},{32,39}}</string>
			<key>sourceSize</key>
			<string>{198,197}</string>
		</dict>
		<key>utility_paintshop_ani_pink_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,2013},{32,39}}</string>
			<key>offset</key>
			<string>{-34,-48}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{49,127},{32,39}}</string>
			<key>sourceSize</key>
			<string>{198,197}</string>
		</dict>
		<key>utility_paintshop_back</key>
		<dict>
			<key>frame</key>
			<string>{{402,965},{65,85}}</string>
			<key>offset</key>
			<string>{65,-40}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{130,96},{65,85}}</string>
			<key>sourceSize</key>
			<string>{195,197}</string>
		</dict>
		<key>utility_paintshop_front</key>
		<dict>
			<key>frame</key>
			<string>{{1083,1609},{192,197}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,197}}</string>
			<key>sourceSize</key>
			<string>{198,197}</string>
		</dict>
		<key>utility_parts_shop_back</key>
		<dict>
			<key>frame</key>
			<string>{{1,1811},{200,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,192}}</string>
			<key>sourceSize</key>
			<string>{200,192}</string>
		</dict>
		<key>utility_parts_shop_text_flipped</key>
		<dict>
			<key>frame</key>
			<string>{{800,1734},{94,72}}</string>
			<key>offset</key>
			<string>{42,25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{95,35},{94,72}}</string>
			<key>sourceSize</key>
			<string>{200,192}</string>
		</dict>
		<key>utility_showroom_bottom</key>
		<dict>
			<key>frame</key>
			<string>{{786,760},{300,258}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,258}}</string>
			<key>sourceSize</key>
			<string>{300,258}</string>
		</dict>
		<key>utility_showroom_text_flipped</key>
		<dict>
			<key>frame</key>
			<string>{{402,1189},{152,58}}</string>
			<key>offset</key>
			<string>{-41,29}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{33,71},{152,58}}</string>
			<key>sourceSize</key>
			<string>{300,258}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Map_objects_sheet_01-hd.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d637c58545d73ba0591c7a123682e55a$</string>
		<key>textureFileName</key>
		<string>Map_objects_sheet_01-hd.png</string>
	</dict>
</dict>
</plist>
