<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>comm_grand_prix_back</key>
		<dict>
			<key>frame</key>
			<string>{{563,1},{559,390}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{559,390}}</string>
			<key>sourceSize</key>
			<string>{559,390}</string>
		</dict>
		<key>comm_grand_prix_event</key>
		<dict>
			<key>frame</key>
			<string>{{1,320},{465,342}}</string>
			<key>offset</key>
			<string>{-35,18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,6},{465,342}}</string>
			<key>sourceSize</key>
			<string>{559,390}</string>
		</dict>
		<key>comm_grand_prix_front</key>
		<dict>
			<key>frame</key>
			<string>{{531,624},{247,196}}</string>
			<key>offset</key>
			<string>{73,-57}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{229,154},{247,196}}</string>
			<key>sourceSize</key>
			<string>{559,390}</string>
		</dict>
		<key>comm_grand_prix_middle</key>
		<dict>
			<key>frame</key>
			<string>{{249,664},{297,280}}</string>
			<key>offset</key>
			<string>{-28,49}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{103,6},{297,280}}</string>
			<key>sourceSize</key>
			<string>{559,390}</string>
		</dict>
		<key>comm_grand_prix_middle_column</key>
		<dict>
			<key>frame</key>
			<string>{{955,1},{65,72}}</string>
			<key>offset</key>
			<string>{-9,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{238,172},{65,72}}</string>
			<key>sourceSize</key>
			<string>{559,390}</string>
		</dict>
		<key>comm_grand_prix_text_flipped</key>
		<dict>
			<key>frame</key>
			<string>{{1,664},{307,246}}</string>
			<key>offset</key>
			<string>{28,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{154,70},{307,246}}</string>
			<key>sourceSize</key>
			<string>{559,390}</string>
		</dict>
		<key>construction_12x5</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{560,317}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{560,317}}</string>
			<key>sourceSize</key>
			<string>{560,317}</string>
		</dict>
		<key>decoration_light_post_NE</key>
		<dict>
			<key>frame</key>
			<string>{{468,320},{77,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,163}}</string>
			<key>sourceSize</key>
			<string>{77,163}</string>
		</dict>
		<key>decoration_light_post_SW</key>
		<dict>
			<key>frame</key>
			<string>{{468,485},{75,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,137}}</string>
			<key>sourceSize</key>
			<string>{75,137}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Map_objects_sheet_03-hd.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:dcc42c8ea710133719157dabb396d7b0$</string>
		<key>textureFileName</key>
		<string>Map_objects_sheet_03-hd.png</string>
	</dict>
</dict>
</plist>
